{% block form_widget_simple %}
{% spaceless %}
    <div class="form-group">
        {% set type = type|default('text') %}
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ block('mws_error') }}
            <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if data_mask is defined and data_mask is not empty %} data-mask ="{{data_mask}}" {% endif %}/>
        </div>
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block password_widget %}
{% spaceless %}
    <div class="form-group">
        {% set type = type|default('password') %}
         <div class="col-lg-4 col-md-4 col-sm-4">
            {{ block('mws_error') }}
            <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
         </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block email_widget %}
{% spaceless %}
    <div class="form-group">
        {% set type = type|default('email') %}
         <div class="col-lg-4 col-md-4 col-sm-4">
            {{ block('mws_error') }}
            <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
         </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block textarea_widget %}
{% spaceless %}
    <div class="input-group input-group-lg col-lg-6 col-md-6 col-sm-6">
        {{ block('mws_error') }}
        <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="col-lg-4 col-md-4 col-sm-4">
        {{ block('mws_error') }}
        <input type="checkbox" class="mws_checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}
            {% if required %}
                <span style="font-size: 16px;color: red;font-weight: bold;">*</span>
            {% elseif label == 'Apellido' or label == 'Nombre' or label == 'Razon Social' %}
                <span style="font-size: 16px;color: green;font-weight: bold;">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block choice_widget %}
{% spaceless %}
    <div class="form-group">
        <div class="col-lg-4 col-md-4 col-sm-4">
        {{ block('mws_error') }}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div class="form-control" {{ block('widget_container_attributes') }}>
    {{ block('mws_error') }}
    {% for child in form %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices %}
        {% set required = false %}
    {% endif %}
    <select class="form-control" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="col-lg-10 col-md-10 col-sm-10">
        <ul>
            {% for error in errors %}
                <li class="alert alert-danger">{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    {{ form_label(form) }}
    {#{ form_errors(form) }#}
    {{ form_widget(form) }}
{% endblock form_row %}

{% block mws_error %}
{% if errors|length > 0 %}
    <div class="row">
        {% for error in errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock mws_error %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}
