{% macro prototipoTelefono(entity) %}
<div class='rowremove'>
    <div class='row'>
        {{ form_row(entity.tipo) }}
        {{ form_row(entity.numero) }}
        <div class='col-lg-1 col-md-1 col-sm-1'>
            <a class='btnRemoveTelefono btn btn-mini btn-danger' href='#'>
                <i class='glyphicon glyphicon-trash'></i>
            </a>
        </div>
    </div>
    <hr>
</div>
{% endmacro %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <legend>Telefono</legend>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div data-prototype="{{ _self.prototipoTelefono(form.telefonos.vars.prototype)|e }}" class="telefono">
        {% for telefono in form.telefonos %}
            {{ _self.prototipoTelefono(telefono) }}
        {% endfor %}
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="ribon_dom"><button type="button" class='add_telefono_link btn btn-info'> + Agregar otro Telefono</button></div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/sistemarrhh/js/telefono.js') }}"></script>
