{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Tarea'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.js') }}"></script>

    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}

    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Tarea'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>

        <div class="panel-body">
            {% form_theme form 'SistemaPresupuestoBundle:Form:form-addarticulos-tarea-theme.html.twig' %}
            {{ form(form) }}
        </div>
    </div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('tarea') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/ajaxElementOnSelected.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}
