{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Tarea'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% set totalEmpleados = 0 %}
    {% set totalArticulos = 0 %}
    {% set total = 0 %}
    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 col-sd-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Tarea</h4></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 ">
                                <label class="control-label">Nombre</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.nombre}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 ">
                                <label class="control-label">Tipo</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {% if entity.tipo == 0 %} 
                                            Mantenimiento
                                        {% else %}
                                            Obra
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="well well-large">
                            <label class="control-label">Descripción</label>
                            <p>{{ entity.descripcion }}</p>
                        </div>
                        <hr>
                        {% if entity.tareascargos|length > 0 %}
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-push-1 col-sm-push-1 col-sd-push-1">
                                    <div class="form-group">
                                        <div class="bs-example">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Empleados</th>
                                                        <th>Horas</th>  
                                                        <th>Costo Horas</th>
                                                        <th>Total</th>                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for tareacargo in entity.tareascargos %}
                                                        <tr>
                                                            <td>{{ tareacargo.cargo.cargo }}</td>
                                                            <td>{{ tareacargo.canthoras }}</td>  
                                                            <td>{{ tareacargo.costocargo }}</td>
                                                            {% set cargoEmpleado = tareacargo.canthoras * tareacargo.costocargo %}
                                                            <td>${{ cargoEmpleado }}</td>
                                                            {% set totalEmpleados = totalEmpleados + cargoEmpleado %}
                                                        </tr>
                                                    {% endfor %}                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if entity.articulos is not empty %}
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-push-1 col-sm-push-1 col-sd-push-1">
                                <div class="form-group">
                                    <div class="bs-example">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Articulos</th>
                                                    <th>Cantidad</th>
                                                    <th>SubTotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key, cantarticulo in entity.articulos %}
                                                    <tr>
                                                        <td>{{ key + 1 }}</td>
                                                        <td>{{ cantarticulo.articulo }}</td>
                                                        <td>{{ cantarticulo.cantidad }}</td>
                                                        {% set articulo = cantarticulo.articulo.precio * cantarticulo.cantidad %}
                                                        <td>${{ articulo }}</td>
                                                        {% set totalArticulos = totalArticulos + articulo %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3">
                                <div class="form-group">
                                    <div class="bs-example">
                                        <legend class="text-center">Total</legend>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Empleados</th>
                                                    <td>${{ totalEmpleados }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Articulos</th>
                                                    <td>${{ totalArticulos }}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>Total de Tarea 
                                                        {% if entity.tipo == 0 %} 
                                                            Mantenimiento
                                                        {% else %}
                                                            Obra
                                                        {% endif %}
                                                    </th>
                                                    {% set total = totalEmpleados + totalArticulos %}
                                                    <td>${{ total }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('tarea') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('tarea_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}