<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleCrudGeneratorBundle') }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bundles/mwsimplecrudgenerator/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimplecrudgenerator/css/crud.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimplecrudgenerator/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemamwsconf/css/simple-sidebar.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemamwsform/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemamwsconf/css/general.css') }}" rel="stylesheet">
        {#<link href="{{ asset('bundles/sistemarrhh/css/select2.css') }}" rel="stylesheet">#}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/mwsimplecrudgenerator/images/favicon.ico') }}">
        <!-- JQUERY -->
        <script src="{{ asset('bundles/mwsimplecrudgenerator/js/jquery.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {{ render(controller('SistemaMWSCONFBundle:Default:logo')) }}
                </ul>
                <ul>
                    <li>
                        Inicio
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="page-header col-lg-12 col-sm-12 col-sd-12">
                    <div class="col-lg-6 col-sm-6 col-sd-6">
                        <h1>Ups! Error.</h1>
                    </div>
                </div>
                <div class="row"></div>
                <div class="page-content inset">
                    {% block page %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>