<div class="well">
<div class="row">
    {#<div class="col-lg-2 col-sm-2 col-sd-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>#}
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    
     {#<div class="col-lg-12 col-sm-12 col-md-12">
        <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form_start(filterForm) }}
                    <div class="row">
                        {{ form_row(filterForm.inicio) }}
                        {{ form_row(filterForm.fin) }}
                    </div>
                    <hr>
                    <div class="row">
                        {{ form_row(filterForm.empleado) }}       
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col-sm-11 col-sd-11 col-lg-push-8 col-sm-push-8 col-sd-push-8">
                        {{ form_rest(filterForm) }}
                        </div>
                    </div>
                    {{ form_end(filterForm) }}
                </div>
        </div>
    </div>#}
</div>
<div class="row">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{ 'views.index.list'|trans({'%entity%': 'Sueldo'}, 'MWSimpleCrudGeneratorBundle') }}</h3>
    </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>{#
                <tr>
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                    <th{% if entities.isSorted('a.empleadoAux') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Empleado', 'a.empleadoAux') }}</th>
                    <th{% if entities.isSorted('a.Inicio') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Inicio', 'a.inicio') }}</th>
                    <th{% if entities.isSorted('a.Fin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fin', 'a.fin') }}</th>
                    <th{% if entities.isSorted('a.Cantidadhora') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cantidad Hora', 'a.cantidadHora') }}</th>
                    <th{% if entities.isSorted('a.Preciohora') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Precio Hora', 'a.precioHora') }}</th>
                    <th{% if entities.isSorted('a.Remuneracionespecial') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Remuneracion Especial', 'a.remuneracionEspecial') }}</th>
                    <th{% if entities.isSorted('a.Diasvacaciones') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Remuneracion Vacacional', 'a.diasVacaciones') }}</th>
                    <th{% if entities.isSorted('a.Total') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Total', 'a.total') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>#}
                {% if is_granted('ROLE_SUPER_ADMIN') %}<th>Id</th>{% endif %}
                <th>Empleado</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Cantidad</th>
                <th>Precio Hora</th>
                <th>Remuneracion Especial</th>
                <th>Remuneracion Vacacional</th>
                <th>Total</th>
                <th>Acciones</th>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td><a href="{{ path('admin_sueldo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>                   
                    {% endif %}
                    <td>{{ entity.apellido }} {{ entity.nombre }}</td>
                    <td>{% if entity.inicio %}{{ entity.inicio|date('d/m/Y') }}{% endif %}</td>
                    <td>{% if entity.fin %}{{ entity.fin|date('d/m/Y') }}{% endif %}</td>
                    <td>{{ entity.cantidadHora }}</td>
                    <td>{{ entity.precioHora }}</td>
                    <td>{{ entity.remuneracionEspecial }}</td>
                    <td>{{ entity.diasVacaciones }}</td>
                    <td>{{ entity.total }}</td>

                    <td>
                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_sueldo_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                        </a>
                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_sueldo_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                        </a>
                        <a class="glyphicon glyphicon-plus tooltips" data-original-title="Actualizar" href="#" data-toggle="modal" data-target="#myModal" data-id="{{ entity.id }}" data-vacaciones="{{entity.diasVacaciones}}" data-remuneracion="{{entity.remuneracionEspecial}}"/>
                        </a>
                        <a class="glyphicon glyphicon-print tooltips"  href="{{ path('admin_reporte_sueldo_imprimir', { 'id': entity.empleadoAux, 'idSueldo': entity.id, 'fecha1' : entity.inicio|date('Y-m-d') , 'fecha2' : entity.fin|date('Y-m-d')  }) }}" title="" rel="tooltip" data-original-title="Ver Horas Trabajadas">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-4 navigation">
        {#{ knp_pagination_render(entities) }#}
    </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="alert alert-warning">
                    <h4 class="modal-title" id="myModalLabel">
                        Actualizar Remuneracion Especial y/o Remuneracion Dias de Vacaciones
                    </h4>
                   </div>
              </div>
              <div class="modal-body">

                  {{ form_start(formModal) }}
                    {{ form_row(formModal.idSueldo) }}
                    {{ form_row(formModal.remuneracionEspecial) }}
                    {{ form_row(formModal.diasVacaciones) }}
                    <span id="only-number-error" class="col-lg-12 col-md-12 col-sm-12" style="color: red;font-weight: bold;"></span>
                    <div class="col-lg-12 col-md-12 col-sm-12 pull-left" style="height: 20px;"></div>
                    {{ form_row(formModal.save) }}
                  {{ form_end(formModal) }}
              </div>
            </div>
          </div>
        </div>
        <!-- FIN MODAL -->
    </div>
        
</div>