{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Sueldo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>

    <style>
    .green {
        color: #008000;
    }
    .red {
        color: #8B0000;
    }
    </style>
{% endblock %}
    
{% block page %}
<div class="row">
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Generar Sueldo del Corriente Mes</h3>
        </div>
        <div class="panel-body">
            {{ form(form) }}
            {{ form_rest(form) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ 'views.index.list'|trans({'%entity%': 'Sueldo'}, 'MWSimpleCrudGeneratorBundle') }}</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity.inicio %}{{ entity.inicio|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d') }}{% endif %}</td>
                    <td>
                       <a class="glyphicon glyphicon-plus tooltips" data-original-title="Ver Listado" href="{{ path('admin_sueldo_listar', { 'inicio': entity.inicio|date('Y-m-d'), 'fin': entity.fin|date('Y-m-d') }) }}"/>
                       </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-8">
        {#<a class="btn btn-primary likepaginator" href="{{ path('admin_sueldo_generar') }}">
            Generar Sueldos
        </a>#}
    </div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $('.tooltips').tooltip();
</script>
{% endblock %}