{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Sueldo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>

    <style>
        .green {
            color: #008000;
        }
        .red {
            color: #8B0000;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="panel panel-default center-block">
        <div class="well">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Listado de Sueldos del <span class="text-danger">{{inicio}} al {{fin}} </span></h3>
                    </div>
                    <table class="table table-striped table-bordered table-condensed table-responsive">
                        <thead>
                        {% set montoTotalHoras = 0 %}
                        {% set montoAPagar = 0 %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}<th>Id</th>{% endif %}
                        <th>Empleado</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Cantidad</th>
                        <th>Precio Hora</th>
                        <th>Remuneracion Especial</th>
                        <th>Remuneracion Vacacional</th>
                        <th>Anticipo</th>
                        <th>Total</th>
                        <th>Saldo a Pagar</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <td><a href="{{ path('admin_sueldo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>                   
                                        {%endif%}
                                    <td>{{ entity.apellido }} {{ entity.nombre }}</td>
                                    <td>{% if entity.inicio %}{{ entity.inicio|date('Y-m-d') }}{% endif %}</td>
                                    <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ entity.cantidadHora }}</td>
                                    {% set montoTotalHoras = montoTotalHoras + entity.cantidadHora %}
                                    <td>{{ entity.precioHora }}</td>
                                    <td>{{ entity.remuneracionEspecial }}</td>
                                    <td>{{ entity.diasVacaciones }}</td>
                                    <td>{%if entity.anticipo is not null %}${{ entity.anticipo }}{%endif%}</td>
                                    <td>${{ entity.total|round(2) }}</td>
                                    {% set montoAPagar = montoAPagar + (entity.total|round(2)) %}
                                    <td>${{ entity.total|round(2) - entity.anticipo }}</td>
                                    <td>
                                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_sueldo_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                        </a>
                                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_sueldo_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                        </a>
                                        <a class="glyphicon glyphicon-plus tooltips" data-original-title="Agregar Remuneracion Especial y/o Remuneracion Dias de Vacaciones " href="#" data-toggle="modal" data-target="#myModal" data-id="{{ entity.id }}" data-vacaciones="{{entity.diasVacaciones}}" data-remuneracion="{{entity.remuneracionEspecial}}"/>
                                        </a>
                                        <a class="glyphicon glyphicon-print tooltips"  href="{{ path('admin_reporte_sueldo_imprimir', { 'id': entity.empleadoAux, 'idSueldo': entity.id,'fecha1' : entity.inicio|date('Y-m-d') , 'fecha2' : entity.fin|date('Y-m-d')  }) }}" title="" rel="tooltip" data-original-title="Ver Horas Trabajadas">
                                        </a>
                                        <a class="glyphicon glyphicon-info-sign tooltips"  href="{{ path('admin_anticipo', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Ver Anticipos">
                                        </a>
                                        <a class="glyphicon glyphicon-usd tooltips" data-original-title="Generar Anticipo de Sueldo" href="#" data-toggle="modal" data-target="#myModalAnticipo" data-id="{{ entity.id }}"/>
                                        </a>
                                        <a class="glyphicon glyphicon-time tooltips"  href="{{ path('admin_empleadohora_horasOciosas', { 'empleado': entity.empleadoId }) }}" title="" rel="tooltip" data-original-title="Agregar Horas">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Monto Total Horas:</th>
                                    <th>{{ montoTotalHoras }}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Monto a Pagar:</th>
                                    <th>${{ montoAPagar }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>    
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 navigation">
                    {#{ knp_pagination_render(entities) }#}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div class="alert alert-warning">
                                    <h4 class="modal-title" id="myModalLabel">
                                        Actualizar Remuneracion Especial y/o Remuneracion Dias de Vacaciones
                                    </h4>
                                </div>
                            </div>
                            <div class="modal-body">
                                {{ form_start(formModal) }}
                                {{ form_row(formModal.idSueldo) }}
                                {{ form_row(formModal.remuneracionEspecial) }}
                                {{ form_row(formModal.diasVacaciones) }}
                                <span id="only-number-error" class="col-lg-12 col-md-12 col-sm-12" style="color: red;font-weight: bold;"></span>
                                <div class="col-lg-12 col-md-12 col-sm-12 pull-left" style="height: 20px;"></div>
                                {{ form_row(formModal.save) }}
                                {{ form_end(formModal) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN MODAL -->

                <!-- Modal Anticipo-->
                <div class="modal fade" id="myModalAnticipo" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div class="alert alert-warning">
                                    <h4 class="modal-title" id="myModalLabel">
                                        Anticipo de Sueldo
                                    </h4>
                                </div>
                            </div>
                            <div class="modal-body">
                                {{ form_start(formModalAnticipo) }}
                                <div class="row">
                                    {{ form_row(formModalAnticipo.idAnticipo) }}
                                    {{ form_row(formModalAnticipo.fecha) }}
                                </div>
                                <hr>
                                <div class="row">
                                    {{ form_row(formModalAnticipo.monto) }}
                                </div>
                                <div class="row">
                                    {{ form_row(formModalAnticipo.concepto) }}
                                </div>
                                {{ form_row(formModalAnticipo.sueldo) }}
                                <span id="only-number-error" class="col-lg-12 col-md-12 col-sm-12" style="color: red;font-weight: bold;"></span>
                                <div class="col-lg-12 col-md-12 col-sm-12 pull-left" style="height: 20px;"></div>
                                {{ form_row(formModalAnticipo.save) }}
                                {{ form_end(formModalAnticipo) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN MODAL Anticipo-->
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-sm-9 col-lsd-9">
        <div class="float-left col-lg-3 col-sm-3 col-sd-3">
            <a class="btn btn-info col-lg-11 col-sm-11 col-sd-11" id="back">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();

        $(document).ready(function () {
            $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {
                var data_id = '';
                var data_remuneracion = '';
                var data_vacaciones = '';
                if (typeof $(this).data('id') !== 'undefined') {
                    data_id = $(this).data('id');
                    data_vacaciones = $(this).data('vacaciones');
                    data_remuneracion = $(this).data('remuneracion');
                }
                $('.modal-body #form_idSueldo').val(data_id);
                $('.modal-body #form_remuneracionEspecial').val(data_remuneracion);
                $('.modal-body #form_diasVacaciones').val(data_vacaciones);
            });

            $('a[data-toggle=modal], button[data-toggle=modalAnticipo]').click(function () {
                var data_inicio = "{{inicio}}";
                var data_fin = "{{fin}}";
                var data_id = '';
                if (typeof $(this).data('id') !== 'undefined') {
                    data_id = $(this).data('id');
                }
                $('.modal-body #form_idAnticipo').val(data_id);
                $('.modal-body #form_inicio').val(data_inicio);
                $('.modal-body #form_fin').val(data_fin);
            });

            $('#back').click(function () {
                parent.history.back();
                return false;
            });
        });
    </script>
{% endblock %}