{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Sueldo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
<div class="well well-lg">
    <h1>Sueldo</h1>
    <form class="form-horizontal">
        <fieldset>                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Inicio</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.inicio|date('Y-m-d H:i:s') }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Fin</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.fin|date('Y-m-d') }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Cantidadhora</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.cantidadHora }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Preciohora</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.precioHora }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Remuneracionespecial</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.remuneracionEspecial }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Diasvacaciones</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.diasVacaciones }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Total</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.total }}</span>                    </div>
                </div>        </fieldset>
    </form>
</div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_sueldo') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('admin_sueldo_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
