{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'MenuPadre'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    {% form_theme edit_form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}

    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.edit.edit'|trans({'%entity%': 'MenuPadre'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>
            
        <div class="panel-body">
            {{ form(edit_form) }}
        </div>
    </div>
        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('superadmin_menupadre') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
