{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'MenuPadre'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
<div class="well well-lg">
    <h1>MenuPadre</h1>
    <form class="form-horizontal">
        <fieldset>                
            <div class="form-group">
                <label class="control-label">Id</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    
                </div>
            </div>                
            <div class="form-group">
                <label class="control-label">Titulo</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.titulo }}</span>                    
                </div>
            </div>                
            <div class="form-group">
                <label class="control-label">Activo</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.activo }}</span>                    
                </div>
            </div>                
            <div class="form-group">
                <label class="control-label">Orden</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.orden }}</span>                    
                </div>
            </div>        
        </fieldset>
    </form>
</div>

<div class="well col-lg-8 col-md-8 col-sm-8 col-lg-push-2 col-sm-push-2 col-sd-push-2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h3>Menus</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Menu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menu in entity.menus %}
                        <tr>
                            <th>{{ menu.id }}</th>
                            <th>{{ menu.titulo }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('superadmin_menupadre') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('superadmin_menupadre_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
