.form-control {
    /*height: auto !important;*/
}
.filters-right {
    margin: 0 2px;
}
.likepaginator {
    margin: 18px 2px;
}
.form-group {
    margin-bottom: 2px;
}
#filters {
	padding-bottom: 32px;
}