#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
 
}

#sidebar-wrapper {
    background-image: url("../images/fondo.jpg");
    background-size: 100% 100%;
    /*#sidebar-wrapper {*/
    margin-left: -250px;
    left: 250px;
    width: 250px;
    /*background: #000;*/
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    /*position: absolute;*/
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #000000;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .current {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .current a {
    color: #FFFFFF;
}

.sidebar-nav > .current a:hover {
    color: #fff;
    background: none;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {
    display: none;
}

.inset {
    padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}

.page-header {
    margin: 0 20px;
}

.page-header h1 {
    margin-top: 0;
}
#footer{
}
.fondotitulo{
    background: #1a1b20;
    text-align: center;
    padding: 30px;
    color:white;
}
.titulo1{
    font-size: 30px;
}
.titulo2{
    font-size: 20px;
}
.titulo3r{
    color: #406c9d;
}
.lead{
    text-align: center;
}
#login{
    text-align: left;
    width: 25%;
    margin-left: 37%;
}
#login div{
    margin-bottom: 10px;
}
#login button{
    width: 100%
}