<style type="text/css">
    .dual-list .list-group {
        margin-top: 8px;
    }

    .list-left li, .list-right li {
        cursor: pointer;
    }

    .list-arrows {
        padding-top: 100px;
    }

    .list-arrows button {
        margin-bottom: 20px;
    }
    .active{
        background-color: #428bca;
        color:white;
    }
</style>
<div class="container">
    {% set debe=0%}
    {% set haber=1%}
    <div class="row">
        <div class="dual-list list-left col-md-5">
            <div class="well text-right">
                <div class="row">
                    <div class="col-md-10 text-center">
                        <h4>Todos las cuentas</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar..." />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    {% for cuenta  in cuentas %}
                        <li  class="list-group-item" data-id="{{cuenta.id}}">
                            {{cuenta.cuenta}} - {{cuenta.descripcion}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="list-arrows col-md-1 text-center">
            <button class="btn btn-default btn-sm move-left btnMover">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>

            <button class="btn btn-default btn-sm move-right btnMover">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>

        <div class="dual-list list-right col-md-5">
            <div class="well">
                <div class="row">
                    <div class="col-md-10 text-center">
                        <h4>Cuentas seleccionadas</h4>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar..." />
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <ul class="list-group" >
                    {% if (cuentasSeleccionadas is defined) %}
                        {% for cuenta  in cuentasSeleccionadas %}
                            <li  class="list-group-item" data-id="{{cuenta.id}}">
                                <input type='hidden' name='listaCuentas[{{cuenta.id}}]' value='{{cuenta.id}}'/>
                                {{cuenta.cuenta}} - {{cuenta.descripcion}} -
                              
                            </li>
                        {% endfor %}
                    {% endif %}  
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>

<script type="text/javascript">
    $(".btnMover").click(function () {
        return false;
    });
    $(function () {
        $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
        $('.list-arrows button').click(function () {
            var $button = $(this), actives = '';
            if ($button.hasClass('move-left')) {
                actives = $('.list-right ul li.active');
                actives.each(function (index) {
                    $(this).children('input').remove();
                });
                actives.clone().appendTo('.list-left ul');
                actives.remove();
            } else if ($button.hasClass('move-right')) {
                actives = $('.list-left ul li.active');
                actives.attr('name', 'other_amount');
                actives.each(function (index) {
                    $(this).append("<input type='hidden' name='listaCuentas[" + $(this).data('id') + "]' value='" + $(this).data('id') + "'/>");
                });
                actives.clone().appendTo('.list-right ul');
                actives.remove();
            }
        });
        $('.dual-list .selector').click(function () {

            var $checkBox = $(this);
            if (!$checkBox.hasClass('selected')) {
                $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            } else {
                $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            }
        });
        $('[name="SearchDualList"]').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9')
                return;
            if (code == '27')
                $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    });
</script>
