{% import "SistemaPresupuestoBundle:Form:macro-cantAddTarea.html.twig" as macrosCantAddTarea %}
{% form_theme form.tareas 'SistemaSTOCKBundle:widget:form_widget_simple_col.html.twig' %}
<div class="well col-lg-12 col-md-12 col-sm-12" id="panelTareas">
    <legend class="text-center">Cargar Tareas</legend>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosCantAddTarea.prototipoCantAddTarea(form.tareas.vars.prototype)|e }}" class="cantAddTarea">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Tarea</th>
                            <th>Horas</th>
                            <th>Cantidad</th>
                            <th>Total HS</th>
                            <th>Total Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarea in form.tareas %}
                            {{ macrosCantAddTarea.prototipoCantAddTarea(tarea) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ribon_dom"><button type="button" class='add_cantAddTarea_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-list-alt"></span></button></div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/sistemapresupuesto/js/cantaddTarea.js') }}"></script>
