{% import "SistemaPresupuestoBundle:Form:macro-AddHorasExtra.html.twig" as macrosAddHorasExtra %}
{% form_theme form.horasextra 'SistemaSTOCKBundle:widget:form_widget_simple_col.html.twig' %}
<div class="well col-lg-12 col-md-12 col-sm-12" id="panelHorasExtra">
    <legend class="text-center">Horas Empleados</legend>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosAddHorasExtra.prototipoAddHorasExtra(form.horasextra.vars.prototype)|e }}" class="cantHorasExtra">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th>Costo por hora</th>
                            <th>Horas</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for horasextra in form.horasextra %}
                            {{ macrosAddHorasExtra.prototipoAddHorasExtra(horasextra) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
<script src="{{ asset('bundles/sistemapresupuesto/js/addHorasExtra.js') }}"></script>
