{% import "SistemaPresupuestoBundle:Form:macro-AddTareaCargo.html.twig" as macrosAddTareaCargo %}
{% form_theme form.tareascargos 'SistemaSTOCKBundle:widget:form_widget_simple_col.html.twig' %}
<div class="well col-lg-12 col-md-12 col-sm-12" id="panelHorasExtra">
    <legend class="text-center">Cargar Cargos de Empleados</legend>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosAddTareaCargo.prototipoAddTareaCargo(form.tareascargos.vars.prototype)|e }}" class="cantTareaCargo">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th>Costo por hora</th>                           
                            <th>Horas</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for tareacargo in form.tareascargos %}
                            {{ macrosAddTareaCargo.prototipoAddTareaCargo(tareacargo) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
<script src="{{ asset('bundles/sistemapresupuesto/js/addTareaCargo.js') }}"></script>
