<style>
    table{
        font-size: 10px;
    }

    .espacio-alto{
        height: 30px;
    }

    .cliente td{
        border-left: 1px solid black;
        border-right:  1px solid black;
        border-top:  1px solid black;

    }

    .no-botton{
        border-bottom: 1px solid white;
    }

    .no-top{
        border-bottom:  1px solid black;
    }

    .trabajos-materiales {
        border:1px solid black;

    }

    .td-descripcion{
        border-right-style: dotted;
        width: 40%;
    }

    .td-cantidad{
        width: 20%;
    }

    .td-descripcion-head{
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }

    .td-cantidad-head{
        border-bottom-style: dotted;
        width: 20%;
    }

    .trabajos-materiales td{
        text-align: center;
    }

    .firmas{
        width: 100%;
    }
    .firmas td{
        text-align: center;
    }

    .empleados td{
        text-align: center;
    }

    article{
        border: 1px #000 solid;
    }
</style>

<html>
    <body>
        <div class="espacio-alto"></div>
        <article>
            <table border="1" class="trabajos-materiales" style="width:100%">
                <tr>
                    <th>Código</th>
                    <th>Rubro</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Cantidad Utilizado</th>
                    <th>Precio</th>
                </tr>
            {% for  entity in entities %}
                <tr>
                    <td>{{ entity.codigo }}</td>
                    <td>{{ entity.rubro}}</td>
                    <td>{{ entity.tipo }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.cantidadUtilizada }}</td>
                    <td>${{ entity.precio }}</td>
                </tr>
            {% endfor %}
            </table>
        </article>
    </body>
</html>
