{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Cliente'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .nav-pills > li.active.green > a, .nav-pills > li.active.green > a:hover, .nav-pills > li.active.green > a:focus {
            background-color: green !important;
            color: #FFFFFF !important;
        }
        .nav-pills > li.active.red > a, .nav-pills > li.active.red > a:hover, .nav-pills > li.active.red > a:focus {
            background-color: red !important;
            color: #FFFFFF !important;
        }
    </style>
{% endblock %}
{% block menuReporte %}
    {{ knp_menu_render('SistemaReporteBundle:Builder:reporteMenu', {'currentClass': 'active'}) }}
{% endblock %}
{% block page %}
    <div class="row">
        <a class="btn btn-primary" href="{{ path('admin_cantidad_orden_por_cliente_imprimir') }}" title="" rel="tooltip" data-original-title="Imprimir" target="_blank">Imprimir</a>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ titulo }}</h3></div>

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Razon Social</th>
                            {#<th>Dni</th>
                            <th>Cuit / Cuil</th>
                            <th>Fecha Nacimiento</th>
                            <th>Email</th>#}
                        <th>Cantidad de Ordenes Cerradas</th>
                        <th>Cantidad de Ordenes Abiertas</th>
                        <th>Total de Ordenes</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.apellido}}</td>
                            <td>{{ entity.nombre }}</td>
                            <td>{{ entity.empresa }}</td>
                            {#<td>{{ entity.dni }}</td>
                            <td>{{ entity.cuitcuil }}</td>
                            <td>{% if entity.fechanacimiento %}{{ entity.fechanacimiento|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ entity.email }}</td>#}
                            <td>{{ entity.cantidadOrdenCerradas}}</td>
                            <td>{{ entity.cantidadOrdenAbiertas}}</td>
                            <td>{{ entity.cantidadOrden}}</td>

                            <td> <span class="input-xlarge uneditable-input">{{ isActive(entity.activo) }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();


        $("#limpiar").click(function () {
            $("#sistema_rrhhbundle_clientefiltertype_reset").trigger("click");
        });
    </script>
{% endblock %}
