{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sistemastock/css/articulo_index.css') }}" rel="stylesheet">
{% endblock %}
{% block menuReporte %}
    {{ knp_menu_render('SistemaReporteBundle:Builder:reporteMenu', {'currentClass': 'active'}) }}
{% endblock %}
{% block page %}
    {#<div class="col-lg-11 espacio" id="mostrarinfor"></div>#}
    <div class="row">
        <a class="btn btn-primary" href="{{ path('admin_articulo_mas_usados_imprimir') }}" title="" rel="tooltip" data-original-title="Imprimir" target="_blank">Imprimir</a>
    </div>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_errors(form) }}

        {{ form_row(form.Empleado) }}

        <button type="submit" class="btn btn-default">Buscar</button>
    </div>
    {{ form_end(form) }}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ titulo }}</h3></div>

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        {#<th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>#}
                        <th>Empleado</th>
                        <th>Herramienta</th>
                        <th>Cantidad Herramienta</th>
                        <th>Numero Orden</th>
                            {#<th{% if entities.isSorted('a.Activo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Activo', 'a.activo') }}</th>#}
                    </tr>
                </thead>
                <tbody>
                    {% for  entity in entities %}
                        <tr>
                            {# <td><a href="{{ path('admin_articulo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            <td>{{ entity.apellido}} {{ entity.nombre}}</td>
                            <td>{{ entity.descripcion}}</td>
                            <td>{{ entity.cantidad}}</td>
                            <td>{{ entity.numero}}</td>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
