{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {# 'views.index.list'|trans({'%entity%': 'Cliente'}, 'MWSimpleCrudGeneratorBundle') #}
{% endblock %}
{% block page %}
    {{ knp_menu_render('SistemaReporteBundle:Builder:reporteMenu', {'currentClass': 'active'}) }}
{% endblock %}
