<style>
    table{
        font-size: 10px;
    }

    .espacio-alto{
        height: 30px;
    }

    .cliente td{
        border-left: 1px solid black;
        border-right:  1px solid black;
        border-top:  1px solid black;

    }

    .no-botton{
        border-bottom: 1px solid white;
    }

    .no-top{
        border-bottom:  1px solid black;
    }

    .trabajos-materiales {
        border:1px solid black;

    }

    .td-descripcion{
        border-right-style: dotted;
        width: 40%;
    }

    .td-cantidad{
        width: 20%;
    }

    .td-descripcion-head{
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }

    .td-cantidad-head{
        border-bottom-style: dotted;
        width: 20%;
    }

    .trabajos-materiales td{
        text-align: center;
    }

    .firmas{
        width: 100%;
    }
    .firmas td{
        text-align: center;
    }

    .empleados td{
        text-align: center;
    }

    article{
        border: 1px #000 solid;
    }
</style>

<html>
    <body>
        <div class="espacio-alto"></div>
        <article>
            {% set total = 0 %}
            <table border="1" class="trabajos-materiales" style="width:100%">
                <tr>
                    <th style="text-align: center;">N° Orden</th>
                    <th style="text-align: center;">Cantidad Horas</th>
                </tr>
                {% for entity in entities %}
                    {% set total = total + entity.cantidad %}
                    <tr>
                        <td>{{ entity.numero }}</td>
                        <td>{{ entity.cantidad }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total de horas</td>
                    <td>{{ total }}</td>
                </tr>
            </table>
        </article>
    </body>
</html>
