{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
{% endblock %}
{% block menuReporte %}
    {{ knp_menu_render('SistemaReporteBundle:Builder:reporteMenu', {'currentClass': 'active'}) }}
{% endblock %}
{% block page %}
    <div id="mje"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3">
        <h3 class="dark-grey">Completar el formulario</h3>
        <form id="form" method="POST" action="{{path('admin_reporte_horas_trabajadas_por_empleado')}}">
            <div class="form-group col-lg-6">
                <label>Fecha Inicio</label>
                <input type="text" name="fechaInicio" id="fechaInicio" class="form-control fecha" id="" value="">
            </div>

            <div class="form-group col-lg-6">
                <label>Fecha Fin</label>
                <input type="text" name="fechaFin" id="fechaFin" class="form-control fecha" id="" value="">
            </div>

            <div class="form-group col-lg-12">
                <label>Tipo de reporte</label>
                <select name="tipo" class="form-control">
                    <option value="total" >Total</option>
                    <option value="0">Por Mantenimiento</option>
                    <option value="1">Por Obra</option>
                </select>
            </div>	
        </form>
        <br>
        <div class="text-right">	
            <button id="btnEnviar" type="button" class="btn btn-primary">Buscar</button>
        </div>	
    </div>


{% endblock %}
{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $("#btnEnviar").click(function () {
            if ($("#fechaInicio").val() === "" || $("#fechaFin").val() === "") {
                $("#mje").addClass('alert alert-danger');
                $("#mje").html("Completar todos los campos");
                setTimeout(function () {
                    $("#mje").removeClass('alert alert-danger');
                    $("#mje").html("");
                }, 3000);
            } else {
                $("#form").submit();
            }
        });
        $("#btnBuscarAnticipos").click(function () {
            location.href = Routing.generate('admin_anticipoventa_generarFactura', {cliente: $("#selectBuscarClientes").val()});
        });
        $(".fecha").datetimepicker({
            format: 'dd/mm/yyyy',
            language: 'es',
            minView: 2
        });
    </script>
{% endblock %}
