{% block sistema_presupuestobundle_valor_widget %}

    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}

    <div class="well col-lg-12 col-md-12 col-sm-12">
        <legend class="text-center">Valores para C&aacute;lculos</legend>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="row">
                {#<div class="col-lg-4 col-md-4 col-sm-4">
                    {{ form_row(form.predeterminado) }}
                </div>#}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.ayudanteCostoHora) }}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.oficialCostoHora) }}
                </div>
                {#
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.gastosGenerales) }}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.beneficio) }}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.impuestos) }}
                </div>
                #}
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="row">
            </div>
        </div>
        {#<div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.ivaMultiplicar) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.ivaDividir) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.ingresosBrutos) }}
            </div>
        </div>#}
    </div>
{% endblock %}