{% block sistema_presupuestobundle_tarea_widget %}
      {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}
    <div class="well col-lg-12 col-md-12 col-sm-12">
        {{ form_row(form.nombre) }}
        {{ form_row(form.tipo) }}
    </div>
    <div class="well col-lg-12 col-md-12 col-sm-12">
        {{ form_row(form.descripcion) }}
    </div>    
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddCantaddArticulo.html.twig' with { 'form' : form } %}
    {% include 'SistemaPresupuestoBundle:widget:form_fields_AddTareaCargo.html.twig' with { 'form' : form } %}
{% endblock %}