{% block sistema_presupuestobundle_presupuesto_widget %}

    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}

    <div class="well">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.numero) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.fecha) }}
            </div>
            {# ES HIDDEN #}{{ form_row(form.funcion) }}{# ES HIDDEN #}
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.cliente) }}
                {{ form_row(form.domicilio) }}
            </div>
        </div>
        {% if form.descripcion is defined %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                </div>
            </div>
        {% endif %}
    </div>
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddCantaddArticuloConPrecioSubTotal.html.twig' with { 'form' : form } %}
    <div class="well col-lg-12 col-md-12 col-sm-12">
        <legend class="text-center">Horas Empleados</legend>
        <div class=" col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.tiempoHoras) }}
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.cantOperario) }}
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.manoDeObraTotal) }}
        </div>
    </div>

    <div class="well col-lg-12 col-md-12 col-sm-12">
        <div class="col-l-6 col-md-6"></div>
        {{ form_row(form.costoTotal,{ 'attr': { 'readonly': 'true' } }) }}
    </div>

    {% if form.vars.value.funcion == 1 %}
        {% form_theme form.valor 'SistemaPresupuestoBundle:Form:form-valor-theme.html.twig' %}
        {{ form_row(form.valor) }}
    {% endif %}

    {#<script type="text/javascript">
        $(document).ready(function () {
         $("#panelTotalHora").hide();
         });
         $("#sistema_presupuestobundle_presupuesto_funcion").change(function () {
         if ($(this).val() === "0") {
         $("#panelTareas").show();
         $("#panelTotalHora").hide();
         } else if ($(this).val() === "1") {
         $("#panelTareas").hide();
         $("#panelTotalHora").show();
         }
         });
    </script>#}
{% endblock %}