{% macro prototipoAddHorasExtra(entity) %}
    <tr class='rowremove'>
        <div class='row'>
             <div class='form-group'>
                <td>{{ entity.cargo.vars.data }}</td>
                <td>{{ form_widget(entity.costocargo) }}</td>
                <td>{{ form_widget(entity.canthoras) }}</td>           
            </div>
        </div>
    </tr>
{% endmacro %}