{% macro prototipoCantAddTarea(entity) %}
    <tr class='rowremove'>
        <div class='row'>
             <div class='form-group'>
                <td>{{ form_widget(entity.tarea) }}</td>
                <td>{{ form_widget(entity.cantidadMaxima) }}</td>
                <td>{{ form_widget(entity.cantidad) }}</td>
                <td>{{ form_widget(entity.cantidadHoras) }}</td>
                <td>{{ form_widget(entity.precioHoras) }}</td>
                <td>
                    <div class='col-lg-1 col-md-1 col-sm-1'>
                        <a class='btnRemoveCantAddTarea btn btn-sm btn-danger' href='javascript:;'>
                            <i class='glyphicon glyphicon-trash'></i>
                        </a>
                    </div>
                </td>
            </div>
        </div>
    </tr>
{% endmacro %}