{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Herramienta'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Herramienta'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        {#<th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>#}
                        <th{% if entities.isSorted('a.Codigo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Codigo', 'a.codigo') }}</th>
                        <th{% if entities.isSorted('a.Descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Descripcion', 'a.descripcion') }}</th>
                        <th><a href="javascript:;">Cantidad Real</a></th>
                        <th{% if entities.isSorted('a.Cantidad') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cantidad en depósito', 'a.cantidad') }}</th>
                        <th{% if entities.isSorted('a.Activo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Activo', 'a.activo') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            {#<td><a href="{{ path('admin_herramienta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            <td>{{ entity.codigo }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.cantidad - entity.cantidadUtilizada }}</td>
                            <td>{{ entity.cantidad }}</td>
                            <td>{{ isActive(entity.activo) }}</td>
                            <td>
                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_herramienta_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_herramienta_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="glyphicon glyphicon-folder-open tooltips btnLogHerramienta" data-id="{{entity.id}}" href="javascript:;" title="" rel="tooltip" data-original-title="Log de Herramienta">
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <a class="btn btn-primary likepaginator" href="{{ path('admin_herramienta_new') }}">
                {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Herramienta
            </a>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $(".btnLogHerramienta").click(function() {
            window.location = Routing.generate('admin_logentry_show', {'id': $(this).data('id')});
        });
    </script>
{% endblock %}
