{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Herramienta'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="well col-lg-8 col-md-8 col-sm-8 col-lg-push-2 col-sm-push-2 col-sd-push-2">
    <h1>Herramienta</h1>
    <form class="form-horizontal">
        <fieldset>
                {#<div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>#}
                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Codigo</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.codigo }}</span>                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Descripcion</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.descripcion }}</span>                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Cantidad</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.cantidad }}</span>                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Activo</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ isActive(entity.activo) }}</span>                    </div>
                </div>
            </fieldset>
    </form>
</div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-2 col-sm-push-2 col-sd-push-2">
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_herramienta') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_herramienta_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
