{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Proceso'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Proceso'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>

        <div class="panel-body">
            {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}
            {{form_start(form)}}
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-md-push-2 ">
                    {{form_row(form.nombre)}}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-md-push-3">
                    {{form_row(form.activo)}}
                </div>
                {#<div class="col-lg-6 col-md-6 col-sm-6 ">
                    {{form_row(form.tipoComprobante)}}
                </div>#}
            </div>
            <br>
            {% include 'SistemaPlanDeCuentasBundle:widget:form_fields_AddCuenta.html.twig' with { 'cuenta' : cuentas} %}            
            {{form_rest(form)}}
            {{form_end(form)}}
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_Proceso') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
