{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Proceso'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {# set facturaVenta=0%}
    {% set facturaCompra=1#}
    <div class="well well-lg">
        <h1>Proceso</h1>
        <form class="form-horizontal">
            <fieldset>                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>                    </div>
                </div>   
                <div class="form-group">
                    <label class="control-label">Activo</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ isActive(entity.activo) }}</span>                    </div>
                </div>    
                {#<div class="form-group">
                    <label class="control-label">Comprobante</label>
                    <div class="form-control">                        
                        <span class="input-xlarge uneditable-input">
                            {% if (entity.tipoComprobante==facturaVenta) %}
                                Factura Venta
                            {% elseif (entity.tipoComprobante==facturaCompra)%}
                                Factura Compra
                            {% endif%}
                        </span>
                    </div>
                </div>#}
            </fieldset>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-md-push-3">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            Plan de cuentas
                        </div>
                        <div class="panel-body">
                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Cuenta</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cuenta in entity.cuentas  %}
                                        <tr>
                                            <td>{{cuenta.cuenta}}</td>
                                            <td>{{cuenta.descripcion}}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_Proceso') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_Proceso_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
