{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'Cliente'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    {% include 'SistemaRRHHBundle:Cliente:form.html.twig' with { 'form' : edit_form } %}

    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_cliente') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $("#sistema_rrhhbundle_cliente_save, #sistema_rrhhbundle_cliente_saveAndAdd").click(function (e) {
            var cantidad = 0;
            $('#listchDomicilioFiscal input:checked').each(function () {
                //$(this).val() es el valor del checkbox correspondiente
                if ($(this).is(':checked') === true) {
                    cantidad++;
                }
            });
            if (cantidad === 0) {
                //no selecciono 
                alert("Debe seleccionar un domicilio principal");
                return false;

            } else if (cantidad === 1) {
                //envia
                return true;

            } else {
                alert("Debe seleccionar solo un domicilio principal");
                return false;
            }

        });
    </script>
{% endblock %}
