{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .form-group {
            margin-bottom: 1px !important;
        }
        input[type=date] {
		  line-height: 15px;
		}
    </style>
    <link href="{{ asset('bundles/sistemastock/jasny-bootstrap/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('bundles/sistemastock/jasny-bootstrap/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}