{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'EmpleadoCargo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% include 'SistemaRRHHBundle:EmpleadoCargo:form.html.twig' with { 'form' : edit_form, 'titulo' : 'Editar cargo de empleado' } %}

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_empleadocargo') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
