{% form_theme form 'SistemaRRHHBundle:Form:form_fields_cliente.html.twig' %}

<div class="panel panel-default center-block">
    <div class="panel-heading">
        <h3 class="panel-title center-block">
            <strong>{{ titulo }}</strong>
        </h3>
    </div>

    <div class="panel-body">
        {{ form_start(form) }}
            <div class="row">
                {{ form_row(form.cargo) }}
                {{ form_row(form.sueldoMensual) }}
            </div>
            <div class="row">
                {{ form_row(form.costoHora) }}
                {{ form_row(form.costoHoraCliente) }}
            </div>
            <div class="row">
                {{ form_row(form.costoHoraMantenimiento) }}
                {{ form_row(form.costoHoraUrgencia) }}
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.save) }}
                    {{ form_row(form.saveAndAdd) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>