{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Cargo de Empleado
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Cargo de Empleado</h3></div>

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                            {% endif %}
                        <th{% if entities.isSorted('a.Cargo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cargo', 'a.cargo') }}</th>
                        <th{% if entities.isSorted('a.Sueldomensual') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Sueldo Mensual', 'a.sueldoMensual') }}</th>
                        <th{% if entities.isSorted('a.Costohora') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Costo Hora', 'a.costoHora') }}</th>
                        <th{% if entities.isSorted('a.Costohoracliente') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Hora Cliente Obra', 'a.costoHoraCliente') }}</th>
                        <th{% if entities.isSorted('a.costoHoraMantenimiento') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Hora Cliente Mantenimiento', 'a.costoHoraMantenimiento') }}</th>
                        <th{% if entities.isSorted('a.costoHoraUrgencia') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Hora Cliente Urgencia', 'a.costoHoraUrgencia') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td><a href="{{ path('admin_empleadocargo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            {% endif %}
                            <td>{{ entity.cargo }}</td>
                            <td>${{ entity.sueldoMensual }}</td>
                            <td>${{ entity.costoHora }}</td>
                            <td>${{ entity.costoHoraCliente }}</td>
                            <td>${{ entity.costoHoraMantenimiento }}</td>
                            <td>${{ entity.costoHoraUrgencia }}</td>
                            <td>
                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_empleadocargo_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_empleadocargo_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path('admin_empleadocargo_new') }}">
                {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Cargo
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
{% endblock %}