{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'EmpleadoCargo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Cargo Empleado</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label class="control-label">Cargo</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.cargo ? entity.cargo : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label class="control-label">Sueldo Mensual</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.sueldoMensual ? entity.sueldoMensual : "&nbsp;")|raw }}</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">Costo Hora</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.costoHora ? entity.costoHora : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">Hora Cliente Obra</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.costoHoraCliente ? entity.costoHoraCliente : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 ">
                    <label class="control-label">Hora Cliente Mantenimiento</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.costoHoraMantenimiento ? entity.costoHoraMantenimiento : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 ">
                    <label class="control-label">Hora Cliente Urgencia</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.costoHoraUrgencia ? entity.costoHoraUrgencia : "&nbsp;")|raw }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_empleadocargo') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_empleadocargo_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
