{#% block form_widget_simple %}
{% spaceless %}
    <div class="form-group">
        {% set type = type|default('text') %}
        <div class="col-lg-10">
             {{ block('mws_error') }}
            <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if data_mask is defined and data_mask is not empty %} data-mask ="{{data_mask}}" {% endif %}/>
        </div>
    </div>
    <br /><br /><br />
{% endspaceless %}
{% endblock form_widget_simple %#}
