{#% block form_widget_simple %}
{% spaceless %}
    <div class="form-group">
        {% set type = type|default('text') %}
        <div class="col-lg-2">
             {{ block('mws_error') }}
            <div style="float:left;color:green;font-size:20px;">$</div><input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if data_mask is defined and data_mask is not empty %} data-mask ="{{data_mask}}" {% endif %} style="width: 90%;"/>
        </div>
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
{% spaceless %}
    {%if label != 'notlabel'%}
        {% if label is empty%}
            {% set label = name|humanize %}
        {% endif %}
        <label for="title" class="col-lg-2 control-label">

            <div style="width: 90%;">{{ label }}{% if required %}<label style="font-size: 16px;color: red;font-weight: bold;">*</label>{%endif%}</div>
        </label>
    {%endif%}
{% endspaceless %}
{% endblock %#}
