{% import "SistemaSTOCKBundle:Form:macro-cantEntregaHerramienta.html.twig" as macrosCantEntregaHerramienta %}
{% form_theme form.herramientas 'SistemaSTOCKBundle:widget:form_widget_simple_col.html.twig' %}
<div class="well col-lg-12 col-md-12 col-sm-12">
    <legend class="text-center">Cargar Herramientas</legend>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosCantEntregaHerramienta.prototipoCantEntregaHerramienta(form.herramientas.vars.prototype)|e }}" class="cantEntregaHerramienta">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Cantidad Maxima</th>
                            <th>Herramienta</th>
                            <th>Cantidad</th>
                            <th>Acci&oacute;nes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for herramienta in form.herramientas%}
                            {{ macrosCantEntregaHerramienta.prototipoCantEntregaHerramienta(herramienta) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ribon_dom"><button type="button" class='add_cantEntregaHerramienta_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-list-alt"></span></button></div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/sistemastock/js/cantEntregaHerramienta.js') }}"></script>
