{% import "SistemaSTOCKBundle:Form:macro-empleadocargo.html.twig" as macrosEmpleadoCargo %}
<div class="well">
    <div class="row">
        <legend class="text-center">Empleados</legend>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosEmpleadoCargo.prototipoEmpleadoCargo(form.tareaEmpleadoCargo.vars.prototype, 0)|e }}" class="empleadocargo">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Cargo de Empleado</th>
                            <th>Horas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cargo in form.tareaEmpleadoCargo %}
                            {{ macrosEmpleadoCargo.prototipoEmpleadoCargo(cargo) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ribon_dom"><button type="button" class='add_empleadocargo_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-list-alt"></span></button></div>
            </div>
    </div>
</div>
<script src="{{ asset('bundles/sistemastock/js/empleadocargo.js') }}"></script>
