{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if data_mask is defined and data_mask is not empty %} data-mask ="{{data_mask}}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
    <div class="input-group input-group-lg col-lg-6 col-md-6 col-sm-6">
        <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" class="mws_checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}
                <label style="font-size: 16px;color: red;font-weight: bold;">*</label>
            {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{#% block choice_widget %}
{% spaceless %}
    <div class="col-lg-4">
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock choice_widget %#}

{% block choice_widget_expanded %}
{% spaceless %}
    <div class="col-lg-4 col-md-4 col-sm-4" {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
    </div>
    <br /><br />
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices %}
        {% set required = false %}
    {% endif %}
    <select class="form-control" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="form_row">
                {% for error in errors %}
                    <div class="col-lg-12 col-md-12 col-sm-12 label label-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
            <br>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    <div class="form_row">
        {{ form_label(form) }}
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block _sistema_stockbundle_articulo_precio_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
        <div style="float:left;color:green;font-size:20px;">$</div>
        <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if data_mask is defined and data_mask is not empty %} data-mask="{{ data_mask }}" {% endif %} style="width: 90%;"/>
{% endspaceless %}
{% endblock _sistema_stockbundle_articulo_precio_widget %}

{% block _sistema_stockbundle_articulo_descripcion_row %}
    <div class="form_row">
        {{ form_label(form) }}
        <div class="form-group col-lg-6 col-md-6 col-sm-6">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock _sistema_stockbundle_articulo_descripcion_row %}

{% block _sistema_stockbundle_articulo_activo_row %}
    <div class="form_row">
        {{ form_label(form) }}
        <div class="form-group col-lg-2 col-md-2 col-sm-2">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock _sistema_stockbundle_articulo_activo_row %}

{% block _sistema_stockbundle_articulo_rubro_row %}
    <div class="form_row">
        {{ form_label(form) }}
        <div class="form-group col-lg-4 col-md-4 col-sm-4">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock _sistema_stockbundle_articulo_rubro_row %}

{% block _sistema_stockbundle_articulo_save_row %}
    <div class="form_row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form) }}
            {{ form_widget(form) }}

{% endblock _sistema_stockbundle_articulo_save_row %}
{% block _sistema_stockbundle_articulo_saveAndAdd_row %}

            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock _sistema_stockbundle_articulo_saveAndAdd_row %}
