{% import "SistemaSTOCKBundle:Form:macro-empleadoHora.html.twig" as macrosEmpleadoHora %}

{% if key is null %}
    {% set idEmpleado = "__name__" %}
{% else %}
    {% set idEmpleado = key %}
{% endif %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-horas-{{idEmpleado}}" class="panel panel-info {% if key is null %} hidden {% endif %}">
            <div class="panel-body">
                <div data-prototype="{{ macrosEmpleadoHora.prototipoEmpleadoHora(empleadoHoras.vars.prototype)|e }}" class="empleadohora_{{ idEmpleado }}">
                    <div class="row">
                        <label for="sistema_stockbundle_orden_empleados_9_empleadoHoras_0_fecha" class="col-lg-3 col-md-3 required control-label">Fecha<span style="font-size: 16px;color: red;font-weight: bold;">*</span></label>
                        <label for="sistema_stockbundle_orden_empleados_9_empleadoHoras_0_desde" class="col-lg-2 col-md-3 required control-label">Desde<span style="font-size: 16px;color: red;font-weight: bold;">*</span></label>
                        <label for="sistema_stockbundle_orden_empleados_9_empleadoHoras_0_hasta" class="col-lg-2 col-md-3 required control-label">Hasta<span style="font-size: 16px;color: red;font-weight: bold;">*</span></label>
                    </div>
                    {% for hora in empleadoHoras %}
                        {{ macrosEmpleadoHora.prototipoEmpleadoHora(hora) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Get the ul that holds the collection of escuelas
    var collectionEmpleadoHora_{{ idEmpleado }} = jQuery('.empleadohora_{{ idEmpleado }}');

    collectionEmpleadoHora_{{ idEmpleado }}.data('index', collectionEmpleadoHora_{{ idEmpleado }}.find(':input').length);

    jQuery('.empleadohora_{{ idEmpleado }}').delegate('.btnRemoveEmpleadoHora','click', function(e) {
        // prevent the link from creating a "#" on  the URL
        e.preventDefault();
        // remove the li for the tag form
        jQuery(this).closest('.rowremovehora').remove();
    });

    jQuery('.ribon_dom_hora_{{ idEmpleado }}').delegate('.add_empleadohora_link','click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        // remove the li for the tag form
        addFormEmbed(collectionEmpleadoHora_{{ idEmpleado }}, jQuery('.empleadohora_{{ idEmpleado }}'));
        $('#panel-horas-{{ idEmpleado }}').removeClass('hidden')
    });
</script>
