{% import "SistemaSTOCKBundle:Form:macro-empleado.html.twig" as macrosEmpleado %}
<script src="{{ asset('bundles/sistemastock/js/empleadoAddUl.js') }}"></script>
<div class="well">
    <div class="row">
        <legend class="text-center">Empleados</legend>
        <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class="ribon_dom">
                <button type="button" class='add_empleado_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-user"></span></button>
            </div>
            <br>
        </div>
        <div id="tabs-container">
            <ul class="nav nav-tabs empleadotabs-ul"></ul>
            <div data-prototype="{{ macrosEmpleado.prototipoEmpleado(form.empleados.vars.prototype)|e }}" class="empleado tab-content">
                {% for key,empleado in form.empleados %}
                    {{ macrosEmpleado.prototipoEmpleado(empleado, key) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/sistemastock/js/empleado.js') }}"></script>
