{% set ordenReadOnly = 0 %}
{% set editarCargado = 0 %}

{% if hideButton == 1 and ordenReadOnly == 0 and editarCargado == 0 %} {#Estoy en EDIT#}
    {% set ordenReadOnly = 1 %}
{% endif %}

{% if hideButton == 0 %}
    {% set ordenReadOnly = 0 %}
{% endif %}

{% if tipoOrden == 'salida' %}
    {% set nroOrden = form.obtenerSalidaId.vars.value %}
{% endif %}

{% if tipoOrden == 'entrada' %}
    {% set nroOrden = form.obtenerEntradaId.vars.value %}
{% endif %}


{% if tipoOrden == 'salida' or tipoOrden == 'entrada' %}
    {% set ordenReadOnly = 1 %}
{% else %}
    {% if form.orden_id is defined %}
        {% set nroOrden = form.orden_id.vars.value %}
    {% endif %}
{% endif %}

{% import "SistemaSTOCKBundle:Form:macro-articulo.html.twig" as macrosArticulo %}
{% form_theme form.articulos 'SistemaSTOCKBundle:widget:form_widget_simple_col.html.twig' %}
<div class="well">
    <div class="row" id="mostrarinfor"></div>
    <div class="row">
        <legend class="text-center">Articulos</legend>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosArticulo.prototipoArticulo(form.articulos.vars.prototype, 0)|e }}" class="articulo">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Cantidad M&aacute;xima</th>
                            <th>Articulo/s</th>
                                {% if tipoOrden == 'entrada' %}
                                <th>Cantidad Devuelta</th>
                                {% else %}
                                    {% if tipoOrden == 'salida' %}
                                    <th>Cantidad Entregada</th>
                                    {% else %}
                                    <th>Cantidad</th>
                                    {% endif %}
                                {% endif %}
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for articulo in form.articulos %}
                            {{ macrosArticulo.prototipoArticulo(articulo, ordenReadOnly, tipoOrden, nroOrden ) }}
                        {% endfor %}
                        {% if hideButton == 1 and ordenReadOnly == 1 and editarCargado == 0%} {#Estoy en EDIT#}
                            {% set ordenReadOnly = 0 %}
                            {% set editarCargado = 1 %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if tipoOrden != 'salida' and tipoOrden != 'entrada' %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ribon_dom"><button type="button" class='add_articulo_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-list-alt"></span></button></div>
            </div>
        {% endif %}
    </div>
</div>
<script src="{{ asset('bundles/sistemastock/js/articulo.js') }}"></script>
