{% import "SistemaSTOCKBundle:Form:macro-cantAddArticulo.html.twig" as macrosCantAddArticulo %}
{% form_theme form.articulos 'SistemaSTOCKBundle:widget:form_widget_simple_col.html.twig' %}
<div class="well col-lg-12 col-md-12 col-sm-12">
    <legend class="text-center">Cargar Articulos</legend>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div data-prototype="{{ macrosCantAddArticulo.prototipoCantAddArticuloConPrecioSubtotal(form.articulos.vars.prototype)|e }}" class="cantAddArticulo">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Articulo</th>
                            <th>Precio</th>
                            <th>Cantidad</th>                          
                            <th>Sub Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for articulo in form.articulos%}
                            {{ macrosCantAddArticulo.prototipoCantAddArticuloConPrecioSubtotal(articulo) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ribon_dom"><button type="button" class='add_cantAddArticulo_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-list-alt"></span></button></div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/sistemastock/js/cantaddArticuloPresupuesto.js') }}"></script>
