{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'OrdenEntrada'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
{#<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>#}
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>Listado de Entrega de Materiales</h3></div>

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.ordenSalida') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Orden | Salida', 'a.ordensalida') }}</th>
                    <th{% if entities.isSorted('a.Created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Created', 'a.created') }}</th>
                    <th{% if entities.isSorted('a.Updated') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Updated', 'a.updated') }}</th>

                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.ordenSalida }}</td>
                    <td>{% if entity.created %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>


                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_ordenentrada_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>


                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_ordenentrada_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 col-md-4 col-sm-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        {#<div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_ordenentrada_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} OrdenEntrada
        </a>
    </div>#}
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}
