{% block sistema_plandecuentasbundle_cuenta_widget %}
    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 ">
            {{form_row(form.cuenta)}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 ">
            {{form_row(form.descripcion)}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 ">
            {{form_row(form.parent)}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{form_label(form.imputable)}}
            <br>
            {{form_widget(form.imputable)}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{form_label(form.permiteCheque)}}
            <br>
            {{form_widget(form.permiteCheque)}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{form_row(form.cajaOrden)}}
        </div>
    </div>
    <br>    
    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12 ">
            {{form_row(form.save)}}
            {{form_row(form.saveAndAdd)}}
        </div>
    </div>

{% endblock %}
