{% block sistema_plandecuentasbundle_proceso_widget %}
    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 ">
            {{form_row(form.nombre)}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 ">
            {{form_row(form.activo)}}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            {{form_row(form.tipoComprobante)}}
        </div>
    </div>


{% endblock %}
