{% extends 'SistemaSTOCKBundle::layoutOrden.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'OrdenSalida'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
{% endblock %}

{% block page %}
<div class="panel panel-default center-block">
    <div class="panel-heading">
        <h3 class="panel-title center-block">
            Editar Entrega de Materiales Nro:   {{entity.id}}
        </h3>
    </div>

    <div class="panel-body">
        {% form_theme edit_form 'SistemaSTOCKBundle:Form:form-orden-salida-theme.html.twig' %}
        {{ form(edit_form) }}
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_ordensalida', {'idOrden' : idOrden}) }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
<script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
<script>
    function validacion(campo) {

        if (parseInt(campo.value) > parseInt(campo.parentNode.parentNode.parentNode.firstChild.firstChild.firstChild.value)) {
            if (!campo.parentNode.classList.contains('has-error')) {
                campo.parentNode.classList.add("has-error");
                $('#' + campo.id).parent().append("<div id='mjeError" + campo.id + "' Class='text-danger'>Error en la cantidad</div>");
            }
        } else {
            campo.parentNode.classList.remove("has-error");
            $('#mjeError' + campo.id).remove();
        }
    }
</script>
{% endblock %}
