{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'OrdenSalida'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
{#<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form_start(filterForm) }}
            {{ form_end(filterForm) }}
            </div>
        </div>
    </div>
    </div>#}
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>O.T. nro. {{ nroOrden }}, Entregas de materiales.</h3></div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nro.', 'a.id') }}</th>
                    <th{% if entities.isSorted('a.Created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Horario de entrega', 'a.created') }}</th>
                    <th{% if entities.isSorted('a.Updated') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Actualizada', 'a.updated') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{% if entity.created %}{{ entity.created|date('d/m/Y, H:i') ~ 'hs' }}{% endif %}</td>
                    <td>{% if entity.updated %}{{ entity.updated|date('d/m/Y, H:i') ~ 'hs' }}{% endif %}</td>
                    <td>
                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_ordensalida_show', { 'id': entity.id , 'idOrden' : idOrden}) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                        {#{{ path('admin_ordenentrada_salida_show', { 'id': entity.id, 'idOrden':idOrden  }) }}#}
                        {% if entity.ordenentrada %}
                            <a class="glyphicon glyphicon-eye-open tooltips get-entrada" id="Entrada-{{entity.id}}" href="#" title="" rel="tooltip" data-original-title="Ver devolucion"></a>
                        {% else %}
                            <a class="glyphicon glyphicon-eye-close tooltips" title="" style="cursor: not-allowed" rel="tooltip" data-original-title="Sin devolucion"></a>
                        {% endif %}
                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_ordensalida_edit', { 'id': entity.id,'idOrden': idOrden }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                        {% if not entity.ordenentrada %}
                            <a class="glyphicon glyphicon-folder-open tooltips"  href="{{ path('admin_ordenentrada_new', { 'idOrdenSalida': entity.id, 'idOrden': idOrden }) }}" title="" rel="tooltip" data-original-title="Devolucion de materiales"></a>
                        {% else %}
                            <a class="glyphicon glyphicon-folder-close tooltips" title="" style="cursor: not-allowed"  rel="tooltip" data-original-title="Devolucion cerrada"></a>
                        {% endif %}
                        <a class="glyphicon glyphicon-print tooltips"  href="{{ path('admin_ordensalida_imprimir', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Imprimir entrega de materiales" target="_blank"></a>
                    </td>
                </tr>
                {% if entity.ordenentrada %}
                    <tr class="hidden label label-success" id="collapse-entrada-{{entity.id}}">
                        <td id="entrada-id-{{entity.id}}">Cargando...</td>
                        {#<td><h4>{{ entity.orden }}</h4></td>#}
                        <td id="entrada-creado-{{entity.id}}">Cargando...</td>
                        <td id="entrada-actualizado-{{entity.id}}">Cargando...</td>
                        <td>
                            <h4>
                            <a class="glyphicon glyphicon-search tooltips" id="entrada-show-{{entity.id}}" href="#" title="" rel="tooltip" data-original-title="Ver devolucion"></a>
                            <a id="entrada-edit-{{entity.id}}" class="glyphicon glyphicon-edit tooltips"  href="#" rel="tooltip" data-original-title="Editar devolucion de materiales"></a>

                            <a id="entrada-print-{{entity.id}}" class="glyphicon glyphicon-print tooltips"  href="#" title="" rel="tooltip" data-original-title="Imprimir devolucion de materiales" target="_blank"></a>
                            </h4>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_ordensalida_new', { 'idOrden': idOrden }) }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} entrega de materiales
        </a>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    $('.tooltips').tooltip();



    $('.get-entrada').bind('click', function(event) {

    $( this ).parent('td').parent('tr').toggleClass('danger');

        event.preventDefault();

        var id = event.target.id.split("Entrada-")[1];
        var idOrden = {{ idOrden }};
        var editPath = "{{ path('admin_ordenentrada_edit', { 'id': 'path' }) }}";
        var showPath = "{{ path('admin_ordenentrada_show', { 'id': 'path' }) }}";
        var printPath = "{{ path('admin_ordenentrada_imprimir', { 'id': 'path' }) }}";

        $.ajax({
            type: "GET",
            url: "{{ path('get_entrada_update') }}",
            data: { id: id, idOrden: idOrden },
            success: function(objeto) {
                $('#entrada-id-'+id).html("<h5> Devolucion Nro <span class='glyphicon glyphicon-arrow-right'></span>" + objeto["id"] + "</h5>");
                $('#entrada-actualizado-'+id).html("<h4>" + objeto["updated"] + "</h4>");
                $('#entrada-creado-'+id).html("<h4>" + objeto["created"] + "</h4>");
                editPath = editPath.replace("path", objeto["id"]);
                $('#entrada-edit-'+id).attr('href', editPath );

                showPath = showPath.replace("path", objeto["id"]);
                $('#entrada-show-'+id).attr('href', showPath);

                printPath = printPath.replace("path", objeto["id"]);
                $('#entrada-print-'+id).attr('href', printPath);
            },
            error: function(data) {
                $('#mostrarinfor').innerHTML = "<div class='alert alert-danger'>Error al Crear El Formulario</div>";
                setTimeout(function() {
                    $('#mostrarinfor').innerHTML = "";
                }, 5000);
            }
        });

        $('#collapse-entrada-'+id).slideToggle("slow");

        if ($('#collapse-entrada-'+id).hasClass('hidden')) {
            $('#collapse-entrada-'+id).removeClass("hidden");
        } else {
            $('#collapse-entrada-'+id).addClass("hidden");
        }
    });
</script>
{% endblock %}
