<style>

 table{
 font-size: 10px;
 }

.espacio-alto{
height: 30px;
}

.cliente td{
    border-left: 1px solid black;
    border-right:  1px solid black;
    border-top:  1px solid black;

}

.no-botton{
 border-bottom: 1px solid white;
}

.no-top{
 border-bottom:  1px solid black;
}

.trabajos-materiales {
    border:1px solid black;
    width:100%;

}

.td-descripcion{
border-right-style: dotted;
width: 40%;
}

.td-cantidad{
width: 20%;
}

.td-descripcion-head{
border-right-style: dotted;
border-bottom-style: dotted;
width: 80%;
}

.td-cantidad-head{
border-bottom-style: dotted;
width: 20%;
}

.trabajos-materiales td{
text-align: left;
}

.firmas{
width: 100%;
}
.firmas td{
text-align: center;
}

.empleados td{
text-align: center;
}

article{
border: 1px #000 solid;
}

.firmas td{
text-align: left;
}
</style>

<html>
<body>

    <div class="espacio-alto"></div>
<article>

    <table class="trabajos-materiales">
        <tr>
            <td style="width: 10%;">Cliente:</td>
            <td style="width: 35%;">{{entity.orden.cliente}}</td>
            <td style="width: 10%;">Domicilio:</td>
            <td style="width: 45%;">{{ (entity.orden.domicilio ? entity.orden.domicilio : "&nbsp;")|raw }}</td>
        </tr>
    </table>

    <div class="espacio-alto"></div>

    <table class="trabajos-materiales">
        <tr>
            <td style="width: 25%;">Encargado de los Materiales:</td>
            <td style="width: 75%;">{{entity.empleado}}</td>
        </tr>
    </table>

    <div class="espacio-alto"></div>

    <table border="1" class="trabajos-materiales">
        <tr>
            <td>Descripcion de materiales</td>

        </tr>
        <tr>
           <td>
            {% if entity.articulos[0] is defined%}
                {% for cantArticulo in entity.articulos %}
                        <table>
                            <tr>
                                <td>{{ cantArticulo.articulo.descripcion  }} </td>
                                <td>{{ cantArticulo.cantidad }} {{ cantArticulo.articulo.medida|lower }}</td>
                            </tr>
                        </table>
                {% endfor %}
            {% endif %}
           </td>
        </tr>
    </table>


</article>


<div class="espacio-alto"></div>
<div class="espacio-alto"></div>
<div class="espacio-alto"></div>

</body>
</html>
