{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'OrdenSalida'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="well well-lg">
    <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Entrega de Materiales Nro {{entity.id}}</h3></div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group col-lg-2 col-sd-2 col-sm-2">
                        <label class="control-label">N&uacute;mero de O.T.</label>
                        <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.orden }}</span></div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">Creada</label>
                        <div class="form-control">
                           <span class="input-xlarge uneditable-input">{{ entity.created|localizeddate('full', 'none', idioma) }} a las {{ (entity.created|date('H:i') ? entity.created|date('H:i') : "&nbsp;")|raw }}hs</span>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3">
                        <label class="control-label">Actualizada</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ entity.updated|localizeddate('full', 'none', idioma) }} a las {{ (entity.updated|date('H:i') ? entity.updated|date('H:i') : "&nbsp;")|raw }}hs</span>
                        </div>
                    </div>

                    <div class="col-lg-11 col-md-11 col-sd-11"></div>
                    <div class="form-group col-lg-3 col-md-3 col-sd-3">
                        <label class="control-label">Empleado</label>
                        <div class="form-control"><span class="input-xlarge uneditable-input">{{ entity.empleado }}</span></div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Art&iacute;culos</h3>
        </div>
        <div class="panel-body">
            {% include 'SistemaSTOCKBundle:Orden:articulos.html.twig' with { 'articulos' : entity.articulos, 'mostrarPrecio' : false } %}
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_ordensalida', { 'idOrden': idOrden }) }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_ordensalida_edit', { 'id': entity.id,'idOrden': idOrden }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
