{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Comprobante'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="col-lg-11 col-md-11 col-sm-11 espacio" id="mostrarinfor"></div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="float-left col-lg-2">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Con Iva
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ path('admin_comprobante') }}">Todos</a></li>
                    </ul>
                </div>
            </div>
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <h3>Comprobante con Iva</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        <br>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Exportar
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a class="glyphicon glyphicon-file tooltips" style="color: red;" href="{{ path('admin_comprobantes_imprimir', { 'condicion': 'conIva'}) }}"> Pdf</a></li>
                                <li><a class="glyphicon glyphicon-file tooltips" style="color: green;" href="{{ path('admin_comprobantes_xls', { 'condicion': 'conIva'}) }}"> Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        {#
                        <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                        <th{% if entities.isSorted('a.Fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha', 'a.fecha') }}</th>
                        <th{% if entities.isSorted('a.Descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Descripcion', 'a.descripcion') }}</th>
                        <th{% if entities.isSorted('a.Monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Monto', 'a.monto') }}</th>
                        <th{% if entities.isSorted('a.Anulado') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Anulado', 'a.anulado') }}</th>
                        <th{% if entities.isSorted('a.Formapago') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Formapago', 'a.formaPago') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                        #}
                        <th class="sorted">Id</th>
                        <th class="sorted">Fecha</th>
                        <th class="sorted">Descripción</th>
                        <th class="sorted">Sub Total</th>
                        <th class="sorted">Iva</th>
                        <th class="sorted">Total Iva</th>
                        <th class="sorted">Anulado</th>
                        {#
                        <th class="sorted">Forma de Pago</th>
                        #}
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>    
                    {% set monto = 0 %} 
                    {% set montoIva = 0 %}  
                    {% for entity in entities %}
                        {% if entity.iva %}    
                            <tr>
                                <td><a href="{{ path('admin_comprobante_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ entity.descripcion }}</td>
                                <td>${{ entity.monto }}</td>
                                <td>%{{ entity.iva }}</td>
                                {% set tIva = (entity.monto * entity.iva)/ 100 %}
                                {% set monto = monto + entity.monto %}
                                {% set montoIva = montoIva + tIva %}
                                <td>${{ tIva }}</td>
                                <td>{{ entity.anulado ? isActive(false, '', 'Anulada' ) : isActive(true, '', 'Anulada' ) }}</td>
                                {#
                                <td>{{ entity.formaPago }}</td>
                                #}
                                <td>
                                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_comprobante_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="font-weight: bold; text-align: right">Total:</td>
                        <td>${{ monto }}</td>
                        <td></td>
                        <td>${{ montoIva }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>    
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                minView: 2
            });
        });
    </script>
{% endblock %}