<html>
<head>
    <style>
    .bordes {
        border:1px solid;
        border-radius:25px;
    }
    td.border_top {
      border-top:1pt solid black;
    }
    .espacio-chico{
        height: 2px;
    }
    table{
    font-size: 10px;
    }
    .espacio-alto{
    height: 30px;
    }
    .cliente td{
        border-left: 1px solid black;
        border-right:  1px solid black;
        border-top:  1px solid black;
    }
    .no-botton{
     border-bottom: 1px solid white;
    }
    .no-top{
     border-bottom:  1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .td-descripcion{
    border-right-style: dotted;
    width: 40%;
    }
    .td-cantidad{
    width: 20%;
    }
    .td-descripcion-head{
    border-right-style: dotted;
    border-bottom-style: dotted;
    width: 80%;
    }
    .td-cantidad-head{
    border-bottom-style: dotted;
    width: 20%;
    }
    .trabajos-materiales td{
    text-align: left;
    }
    .firmas{
    width: 100%;
    }
    .firmas td{
    text-align: center;
    }
    .empleados td{
    text-align: center;
    }
    .firmas td{
    text-align: left;
    }
    .colCantidad{
        width: 15%;
    }
    .colArticulo{
        width: 85%;
    }
    .titulos {
        font-weight: bold;
    }
    </style>
</head>
<body>

    <br>
    <p class="titulos">Comprobantes</p>

    <table class="cliente" style="width:100%">
      <thead>
        <tr>
          <td class="titulos">Fecha</td>
          <td class="titulos">Descripcion</td>
          <td class="titulos">Anulado</td>
          {#
          <td class="titulos">Forma de Pago</td>
          #}
          <td class="titulos" style="text-align: center">Monto</td>
        </tr>
      </thead>
      <tbody>
        {% if entities is empty %}
            <tr>
                <td class="no-top">sin comprobantes</td>
                <td class="no-top" style="text-align: center">-</td>
                <td class="no-top" style="text-align: center">-</td>
                <td class="no-top" style="text-align: center">-</td>
            </tr>
        {% else %}
            {% set monto = 0 %}
            {% for comprobante in entities %}
                <tr>
                    {% if not comprobante.anulado %}
                    <td class="no-top">{{ comprobante.fecha|date('Y-m-d') }}</td>
                    <td class="no-top">{{ comprobante.descripcion }}</td>
                    <td class="no-top">{% if comprobante.anulado %}Si{% else %}No{% endif %}</td>
                    {#
                    <td class="no-top">{{ comprobante.formaPago }}</td>
                    #}
                    <td class="no-top" style="text-align: center">${{ comprobante.monto }}</td>
                    {% set monto = monto + comprobante.monto %}
                    {% endif %}
                </tr>
            {% endfor %}
                <tr>
                    <td class="no-top"></td>
                    <td class="no-top"></td>
                    <td class="no-top"></td>
                    <td class="no-top" style="font-weight: bold; text-align: right">TOTAL:</td>
                    <td class="no-top" style="font-weight: bold; text-align: center">${{ monto }}</td>
                </tr>
        {% endif %}
      </tbody>
    </table>

    <div class="espacio-chico"><hr width="100%" size="1"/></div>
    {#si existe orden salida#}
    
    {#{ dump(entity.comprobantes) }#}
</body>
</html>