{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Configuracion'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="well well-lg">
    <h1>Configuracion</h1>
    <form class="form-horizontal">
        <fieldset>                <div class="form-group">
                <label class="control-label">Id</label>
                <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
            </div>                <div class="form-group">
                <label class="control-label">Titulo</label>
                <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.titulo }}</span>                    </div>
            </div>                <div class="form-group">
                <label class="control-label">Empresa</label>
                <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.empresa }}</span>                    </div>
            </div>                <div class="form-group">
                <label class="control-label">Homepage</label>
                <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.homepage }}</span>                    </div>
            </div>
             {#pregunta si tiene imagen la enitity#}
             {%if entity.ImagenLogo.filePath!=null%}
            <div class="form-group">
                <label class="control-label">Logo</label>
                <img src="{{ asset(entity.ImagenLogo.webPath) }}" class="img-responsive" width="100px" height="300px">
            </div>
            {%endif%}
            </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('superadmin_configuracion') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('superadmin_configuracion_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
        </div>
{% endblock %}
