{% if articulos[0] is defined  %}
    <div class="col-lg-9 col-md-9 col-sm-9">
        <label class="control-label">Descripci&oacute;n</label>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <label class="control-label">Cantidad</label>
    </div>

    {% for cantArticulo in articulos %}
        {% if mostrarPrecio %}
            {% set mostrarArticulo = cantArticulo.articulo %}
        {% else %}
            {% set mostrarArticulo = cantArticulo.articulo %}
        {% endif %}
        <div class="col-lg-9 col-sd-9 col-sm-9">
            <div class="form-control">
                <span class="input-xlarge uneditable-input">{{ mostrarArticulo }}</span>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="form-group col-lg-2 col-md-2 col-sm-2">
            <div class="form-control">
                <span class="input-xlarge uneditable-input">{{ cantArticulo.cantidad }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}
