{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Orden'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>

    <style>
    .green {
        color: #008000;
    }
    .red {
        color: #8B0000;
    }
    </style>
{% endblock %}

{% block page %}
    {% form_theme filterForm 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Filtrar Hasta Fecha</h3>
        </div>
        <div class="panel-body">
            {{ form(filterForm) }}
            {{ form_rest(filterForm) }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading"><h4>O.T. Nro {{ entity.numero }} Fecha de Inicio: {{ fechaOrden|date("d/m/Y") }} Avance Hasta: {{ filterForm.fecha.vars.value|date("d/m/Y") }}</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <label class="control-label">Total de Horas</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ resultados['totalHoras'] }}hs</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <label class="control-label">Horas Trabajadas</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ resultados['totalHorasOrden'] }}hs</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <label class="control-label">Porcentaje Completado</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ resultados['avanceOrden'] }}%</span>
                    </div>
                </div>
            </div>
            {% for key, cargo in resultados['cargosHoras'] %}
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <label class="control-label">{{ key }}</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ cargo }}hs</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if resultados['empleados'] %}
                <br>
                <h4 class="text-center">
                    <strong>Empleados</strong>
                </h4>
                <hr>
                {% for key, empleado in resultados['empleados'] %}
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <label class="control-label">{{ key }}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-control">
                                {% for key, horas in empleado %}
                                    <span class="input-xlarge uneditable-input">{{ key }} - {{ horas }}hs</span>
                                {% endfor %}                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary" href="{{ path('admin_orden_avance_imprimir', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Imprimir" target="_blank">Imprimir Avance</a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('.tooltips').tooltip();
</script>
{% endblock %}