{% extends 'SistemaSTOCKBundle::layoutOrden.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'Orden'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
{% endblock %}

{% block page %}
    <div id="mostrarError"></div>
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                Editar O.T.
            </h3>
        </div>
        <div class="panel-body">
            {% form_theme edit_form 'SistemaSTOCKBundle:Form:form-orden-theme.html.twig' %}
            {{ form_row(edit_form.empleado, { 'attr': {'style' : 'display:none;'} })  }}
            {{ form(edit_form) }}
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        {#<div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>#}
    </div>

    <!-- Modal -->
    <div id="mensajeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Aviso</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button id="btnCerrarAviso" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/cliente.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/ajaxElementOnSelected.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/controlCantidad.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/tinymce/js/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip({html: true});

        function descontar(nroOrden, idArticulo)
        {
            $(".modal-body").html("Procesando...");
            $("#mensajeModal").modal();
            var cantidad = $("#descontar_" + idArticulo).val();
            $.ajax({
                type: "POST",
                url: "{{ path('desc_orden_entrada_salida') }}",
                data: {nroOrden: nroOrden, idArticulo: idArticulo, cantidad: cantidad},
                success: function (objeto) {
                    $('.modal-body').html("<div class='alert alert-success'>" + objeto + "</div>");
                    $("#mensajeModal").modal();
                },
                error: function (data) {
                    $('.modal-body').html("<div class='alert alert-danger'>Error al actualizar</div>");
                    $("#mensajeModal").modal();
                }
            });
        }
        function contar(nroOrden, idArticulo)
        {
            $(".modal-body").html("Procesando...");
            $("#mensajeModal").modal();
            var cantidad = $("#descontar_" + idArticulo).val();
            $.ajax({
                type: "POST",
                url: "{{ path('cont_orden_entrada_salida') }}",
                data: {nroOrden: nroOrden, idArticulo: idArticulo, cantidad: cantidad},
                success: function (objeto) {
                    if (objeto["resultado"] === true) {
                        $('.modal-body').html("<div class='alert alert-success'>" + objeto["estado"] + "</div>");
                    } else {
                        $('.modal-body').html("<div class='alert alert-danger'>" + objeto["estado"] + "</div>");
                    }

                    $("#mensajeModal").modal();
                },
                error: function (data) {
                    $('.modal-body').html("<div class='alert alert-danger'>Error al actualizar</div>");
                    $("#mensajeModal").modal();
                }
            });
        }
        $("#btnCerrarAviso").click(function () {
            location.reload(true);
        });
        tinymce.init({
            selector: '#sistema_stockbundle_orden_trabajosRealizados',
            toolbar: ['undo redo fontselect fontsizeselect | bold italic underline strikethrough alignleft aligncenter alignright alignjustify bulllist numlist outdent indent subscript superscript'],
            menubar: 'edit format',
            fontsize_formats: "8px 10px 12px 14px 18px 24px 36px"
        });
        tinymce.init({
            selector: '#sistema_stockbundle_orden_observaciones',
            toolbar: ['undo redo fontselect fontsizeselect | bold italic underline strikethrough alignleft aligncenter alignright alignjustify bulllist numlist outdent indent subscript superscript'],
            menubar: 'edit format',
            fontsize_formats: "8px 10px 12px 14px 18px 24px 36px"
        });
    </script>
{% endblock %}