{% if empleados[0] is defined  %}
    <ul class="nav nav-tabs">
    {% for key, empleado in entity.empleados %}
        <!-- Nav tabs -->
        {% if key != 0 %}
            <li><a href="#{{ empleado.id}}" data-toggle="tab">{{ empleado.empleado}}</a></li>
        {% else %}
            <li class="active"><a href="#{{ empleado.id}}" data-toggle="tab">{{ empleado.empleado}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for key, empleado in entity.empleados %}
        <!-- Tab panes -->
        {% if key != 0 %}<div class="tab-pane" id="{{ empleado.id}}">
        {% else %}<div class="tab-pane active" id="{{ empleado.id}}">
        {% endif %}
            {% if empleado.empleadoHoras[0] is defined  %}
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label">Fecha</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label class="control-label">Hora desde</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label class="control-label">Hora hasta</label>
                </div>
            {% endif %}
            {% for hora in empleado.empleadoHoras %}
               <div class="col-lg-2 col-md-2 col-sm-2">
                   <div class="form-control">
                       <span class="input-xlarge uneditable-input">{{ (hora.fecha|date('d-m-Y') ? hora.fecha|date('d-m-Y')  : "&nbsp;")|raw }}</span>
                   </div>
               </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ hora.desde|date('H:i') }}hs</span>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ hora.hasta|date('H:i') }}hs</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="height: 15px;"></div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endif %}
