<style>
    table {
        font-size: 10px;
    }
    .espacio-alto {
        height: 30px;
    }
    .cliente td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .no-botton {
        border-bottom: 1px solid white;
    }
    .no-top {
        border-bottom: 1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .trabajos-materiales td {
        text-align: left;
    }
    .empleados td {
        text-align: center;
    }
    .td-descripcion {
        border-right-style: dotted;
        width: 40%;
    }
    .td-cantidad {
        width: 20%;
    }
    .td-descripcion-head {
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }
    .td-cantidad-head {
        border-bottom-style: dotted;
        width: 20%;
    }
    .firmas {
        width: 100%;
    }
    .firmas td {
        text-align: center;
    }
    article {
        border: 1px #000000 solid;
    }
    .firmas td {
        text-align: left;
    }
    .totales {
        font-weight: bold;
    }
</style>
<html>
    <body>
        <article>
            <br>
            <table border="1" style="text-align: right;">
                <tr>
                    <td style="text-align: center; width: 100%; font-size: 11px;">
                        <strong>O.T. Nro</strong> {{ entity.numero }} <strong>Fecha de Inicio:</strong> {{ fechaOrden|date("d/m/Y") }} <strong>Avance Hasta:</strong> {{ "now"|date("d/m/Y", "America/Argentina/Buenos_Aires") }}
                    </td>
                    <td style="width: 0%;"></td>
                </tr>
                <tr>
                    <td style="width: 40%;"><strong>Total de Horas</strong></td>
                    <td style="width: 60%; text-align: center;">{{ resultados['totalHoras'] }}hs</td>
                </tr>
                <tr>
                    <td style="width: 40%;"><strong>Horas Trabajadas</strong></td>
                    <td style="width: 60%; text-align: center;">{{ resultados['totalHorasOrden'] }}hs</td>
                </tr>
                <tr>
                    <td style="width: 40%;"><strong>Porcentaje Completo</strong></td>
                    <td style="width: 60%; text-align: center;">{{ resultados['avanceOrden'] }}%</td>
                </tr>
            </table>
            <div class="espacio-alto"></div>
        </article>
        <div class="espacio-alto"></div>
        <div class="espacio-alto"></div>
    </body>
</html>