{% extends 'SistemaSTOCKBundle::layoutOrden.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Orden'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
{% endblock %}

{% block page %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
               Nueva O.T.
            </h3>
        </div>

        <div class="panel-body">
            {% form_theme form 'SistemaSTOCKBundle:Form:form-orden-theme.html.twig' %}
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title well" id="myModalLabel">Seleccione el Empleado Responsable</h4>
                  </div>
                  <div class="modal-body">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <strong>Empleado</strong>
                        </div>
                        {{ form_row(form.empleado) }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="btn_generar_orden_salida" type="button" class="btn btn-primary">Generar Orden</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin Modal -->
            {{ form(form) }}
            {{ form_row(form.empleado_show) }}
            <div class="col-lg-12 col-md-12 col-sm-12" style="height: 10px;"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-7 col-md-offset-7 col-sm-offset-7">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                  Guardar y Generar Salida
                </button>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden') }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/cliente.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/ajaxElementOnSelected.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/controlCantidad.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/tinymce/js/tinymce.min.js') }}"></script>

    <script type="text/javascript">
        $('#btn_generar_orden_salida').click(function () {
            $('#sistema_stockbundle_orden_saveAndGenerarSalida').trigger('click')
        });
        tinymce.init({
            selector: '#sistema_stockbundle_orden_trabajosRealizados',
            toolbar: ['undo redo fontselect fontsizeselect | bold italic underline strikethrough alignleft aligncenter alignright alignjustify bulllist numlist outdent indent subscript superscript'],
            menubar: 'edit format',
            fontsize_formats: "8px 10px 12px 14px 18px 24px 36px"
        });
        tinymce.init({
            selector: '#sistema_stockbundle_orden_observaciones',
            toolbar: ['undo redo fontselect fontsizeselect | bold italic underline strikethrough alignleft aligncenter alignright alignjustify bulllist numlist outdent indent subscript superscript'],
            menubar: 'edit format',
            fontsize_formats: "8px 10px 12px 14px 18px 24px 36px"
        });
    </script>


{% endblock %}
