{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Orden'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>

    <style>
        .green {
            color: #008000;
        }
        .red {
            color: #8B0000;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="col-lg-11 col-md-11 col-sm-11 espacio" id="mostrarinfor"></div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <h3>Listado de O.T. con saldo</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                        <br>

                        <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                            <div class="dropup">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a class="btnExportar" data-tipo="pdf" href="javascript:;">Pdf</a></li>
                                    <li><a class="btnExportar" data-tipo="excel" href="javascript:;">Excel</a></li>
                                </ul>
                            </div>  
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                            <button id="btnListadoOrden" class="btn btn-default btn-small">Listado de todas las ordenes</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        {#<th{% if entities.isSorted('a.Created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Created', 'a.created') }}</th>
                        <th{% if entities.isSorted('a.Updated') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Updated', 'a.updated') }}</th>#}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                            {%endif%}
                        <th{% if entities.isSorted('a.Numero') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Numero', 'a.numero') }}</th>
                        <th{% if entities.isSorted('a.Fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha', 'a.fecha') }}</th>
                        <th{% if entities.isSorted('cli.Apellido') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cliente', 'cli.apellido') }}</th>
                        <th{% if entities.isSorted('d.Calle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Domicilio', 'd.calle') }}</th>
                            {#<th{% if entities.isSorted('a.Trabajosrealizados') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Trabajos', 'a.trabajosRealizados') }}</th>
                            <th{% if entities.isSorted('a.Observaciones') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Observaciones', 'a.observaciones') }}</th>#}
                            {% if (tipoListado=='listadoConSaldo') %}
                            <th{% if entities.isSorted('sumaComprobante') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Saldo', 'sumaComprobante') }}</th>
                            {% endif %}
                        <th{% if entities.isSorted('a.MontoOrden') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Total', 'a.montoOrden') }}</th>
                        <th{% if entities.isSorted('a.Cerrada') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Estado', 'a.cerrada') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, entity in entities %}
                        <tr>
                            {#<td><a href="{{ path('admin_orden_show', { 'id': entity.id }) }}">{{ entity.created }}</a></td>
                            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td>{{ entity[0].id }}</td>
                            {% endif %}
                            <td>{{ entity[0].numero }}</td>
                            <td>{% if entity[0].fecha %}{{ entity[0].fecha|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ entity[0].cliente }}</td>
                            <td>{{ entity[0].domicilio }}</td>
                            <td>{{ entity.sumaComprobante|round(2) }}</td>
                            {#<td>{{ entity.trabajosRealizados }}</td>
                            <td>{{ entity.observaciones }}</td>#}
                            <td>
                                <a class="glyphicon glyphicon-usd tooltips tooltip-info" id="total_{{ entity[0].id }}" onclick="verTotal({{ entity[0].id }});" style="cursor:  pointer; " title=""  rel="tooltip" data-original-title="Click para Ver TOTAL"> Ver</a>
                            </td>
                            <td>
                                <div id="estado_{{ entity[0].id }}">{{ entity[0].cerrada ? isActive(false, 'O.T. abierta', 'O.T. cerrada' ) : isActive(true, 'O.T. abierta', 'O.T. cerrada' ) }}</div>
                            </td>
                            <td>
                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_orden_show', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                                {% if entity[0].cerrada == 0 or is_granted('ROLE_ADMIN')%}
                                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_orden_edit', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                                {% endif %}
                                <a class="glyphicon glyphicon-log-out tooltips"  href="{{ path('admin_ordensalida', { 'idOrden': entity[0].id }) }}" title="" rel="tooltip" data-original-title="Entrega de materiales"></a>
                                <a class="glyphicon glyphicon-print red tooltips"  href="{{ path('admin_orden_imprimir', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="Imprimir O.T. completa" target="_blank"></a>
                                <a class="glyphicon glyphicon-print green tooltips"  href="{{ path('admin_orden_entrada_salida_imprimir', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="Imprimir movimientos de stock" target="_blank"></a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="glyphicon glyphicon-folder-open tooltips btnLogOrden" data-id="{{entity[0].id}}" href="javascript:;" title="" rel="tooltip" data-original-title="Log de Orden">
                                    </a>
                                    {% if entity[0].cerrada == 0 %}
                                        <a class="glyphicon glyphicon-ok tooltips" id="btnEstado_{{ entity[0].id }}" onclick="cerrarOrden({{ entity[0].id }});" href="#" title="" rel="tooltip" data-original-title="Cerrar O.T."></a>
                                    {% endif %}
                                {% endif %}
                                <a class="glyphicon glyphicon-stats green tooltips" href="{{ path('admin_orden_avance_nro', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="Ver Avance O.T. completo" target="_blank"></a>
                                <a class="glyphicon glyphicon-list tooltips" data-original-title="Generar Factura de la Orden" href="javasctipt:;" data-toggle="modal" data-target="#myModal" data-id="{{ entity[0].id }}" data-numero="{{ entity[0].numero }}" data-monto="{{ entity[0].montoOrden }}"/></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>


        <div class="col-lg-8 col-md-8 col-sm-8">
            <a class="btn btn-primary likepaginator" href="{{ path('admin_orden_new') }}">
                {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} O.T.
            </a>
        </div>
    </div>

    <!-- Modal -->
    {% include 'SistemaSTOCKBundle:Form:modal-select-proceso.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
                                        var url = "admin_facturaventa_new";
                                        $('.tooltips').tooltip({html: true});
                                        $(".btnExportar").click(function () {
                                            window.location = Routing.generate('admin_orden_exportar', {'tipo': $(this).data('tipo')});
                                        });
                                        $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {
                                            var data_id = '';
                                            var data_monto = '';
                                            var data_numero = '';

                                            if (typeof $(this).data('id') !== 'undefined') {
                                                data_id = $(this).data('id');
                                                data_monto = $(this).data('monto');
                                                data_numero = $(this).data('numero');
                                            }
                                            //$('#sistema_facturacionbundle_facturaventa_orden').val(data_numero);
                                            /*$("#select2_sistema_facturacionbundle_facturaventa_orden").select2({
                                             data:[{id: data_id,text: "\"" + data_numero + "\""}]
                                             });*/


                                            $("#s2id_select2_sistema_facturacionbundle_facturaventa_orden .select2-chosen").html(data_numero);
                                            $("#select2_sistema_facturacionbundle_facturaventa_orden").val("{id:" + data_id + "," + "text: '" + data_numero + "'}").trigger("change");
                                            //$('#sistema_facturacionbundle_facturaventa_orden').val("{id:" + data_id + "," + "text: '" + data_numero + "'}").trigger("change");
                                            $('#sistema_facturacionbundle_facturaventa_orden').val('{ "id":' + data_id + ',' + '"text" :' + data_numero + '}');

                                            $('#sistema_facturacionbundle_facturaventa_monto').val(data_monto);


                                        });

                                        function verTotal(id)
                                        {

                                            $('#total_' + id).attr('title', '<b>Cargando ... </b>').tooltip('fixTitle').tooltip('show');
                                            $("#mostrarinfor").empty();
                                            $.ajax({
                                                type: "POST",
                                                url: "{{ path('admin_orden_total') }}",
                                                data: {id: id},
                                                success: function (objeto) {

                                                    $('#total_' + id).attr('title', '<b>Total en Articulos <b style="color:red;">' + objeto["totalArticulos"] + ' $</b>\n\
                                ' +
                                                            ' Total Empleados <b style="color:red;">' + objeto["montoEmpleados"] + ' $</b>\n\
                                ' +
                                                            ' Desuento <b style="color:red;">' + objeto["descuentoOrden"] + ' $</b>\n\
                                ' +
                                                            ' -------------------------------- </b>\n\
                                ' +
                                                            ' Total <b style="color:red;">' + objeto["total"] + ' $</b></b>').tooltip('fixTitle').tooltip('show');
                                                    setTimeout(function () {
                                                        $('#mostrarinfor').html("");
                                                    }, 5000);

                                                },
                                                error: function (data) {
                                                    $('#mostrarinfor').html("<div class='alert alert-danger'>Error al actualizar</div>");
                                                    setTimeout(function () {
                                                        $('#mostrarinfor').html("");
                                                    }, 5000);
                                                }
                                            });
                                            return false;

                                        }


                                        function cerrarOrden(id)
                                        {
                                            if (confirm("¿Esta seguro que decea cerrar la O.T.?")) {
                                                $("#mostrarinfor").empty();
                                                $.ajax({
                                                    type: "POST",
                                                    url: "{{ path('admin_orden_estado_update') }}",
                                                    data: {id: id},
                                                    success: function (objeto) {
                                                        if (objeto['estado'] === true) {
                                                            $('#estado_' + id).html("<i style='color: darkred;' class='glyphicon glyphicon-ban-circle tooltips' rel='tooltip' title='OrdenCerrada'></i>");
                                                            $('#btnEstado_' + id).remove();
                                                            $('#mostrarinfor').html("<div class='alert alert-success'>O.T. Cerrada Exitosamente</div>");
                                                            setTimeout(function () {
                                                                $('#mostrarinfor').html("");
                                                            }, 5000);
                                                        }
                                                    },
                                                    error: function (data) {
                                                        $('#mostrarinfor').html("<div class='alert alert-danger'>Error al actualizar</div>");
                                                        setTimeout(function () {
                                                            $('#mostrarinfor').html("");
                                                        }, 5000);
                                                    }
                                                });
                                            }
                                        }
                                        $(".btnLogOrden").click(function () {
                                            window.location = Routing.generate('admin_logentry_show', {'id': $(this).data('id')});
                                        });
                                        $("#btnListadoOrdenConSaldo").click(function () {
                                            window.location = Routing.generate('admin_orden_con_saldo');
                                        });
                                        $("#btnListadoOrden").click(function () {
                                            window.location = "{{path('admin_orden')}}";
                                        });
    </script>
    <script src="{{ asset('bundles/sistemaplandecuentas/js/selectProceso.js') }}"></script>
{% endblock %}
