{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Orden'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-info">
        <div class="panel-heading"><h4>O.T. Nro {{entity.numero}}</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">N&uacute;mero de O.T.</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.numero ? entity.numero : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Fecha</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.fecha|date('d/m/Y') ? entity.fecha|date('d/m/Y') : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Función</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {% if (entity.funcion == 0) %}
                                Mantenimiento
                            {%  elseif (entity.funcion == 1) %}
                                Obra
                            {% else %}
                                Urgencia
                            {% endif %}   
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Creada</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ entity.created|localizeddate('full', 'none', idioma) }} a las {{ (entity.created|date('H:i') ? entity.created|date('H:i') : "&nbsp;")|raw }}hs</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Actualizada</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ entity.updated|localizeddate('full', 'none', idioma) }} a las {{ (entity.updated|date('H:i') ? entity.updated|date('H:i') : "&nbsp;")|raw }}hs</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Cliente</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.cliente ? entity.cliente : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Domicilio</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (entity.domicilio ? entity.domicilio : "&nbsp;")|raw }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label">Estado</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ entity.cerrada ? isActive(false, 'Orden Abierta', 'Orden Cerrada' ) : isActive(true, 'Orden Abierta', 'Orden Cerrada' ) }}</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label">Reserva materiales</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ isActive(entity.reservaMateriales) }}</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label">Descuento</label>
                    <div class="form-control">
                        {% if entity.descuentoOrden %}
                            <span class="input-xlarge uneditable-input">{{ (entity.descuentoOrden ~ " %") }}</span>
                        {% elseif entity.montoDescuento %}
                            <span class="input-xlarge uneditable-input">{{ ( "$" ~ entity.montoDescuento) }}</span>
                        {% else %}
                            <span class="input-xlarge uneditable-input">-</span>
                        {% endif %}    
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Observaciones</label>
                    <div class="well">
                        {{ (entity.observaciones)|raw }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Trabajos Realizados</label>
                    <div class="well">
                        {{ (entity.trabajosRealizados)|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Materiales</h3>
        </div>
        <div class="panel-body">
            {% include 'SistemaSTOCKBundle:Orden:articulos.html.twig' with { 'articulos' : entity.articulos, 'mostrarPrecio' : true } %}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Empleados</h3>
        </div>
        <div class="panel-body">
            {% include 'SistemaSTOCKBundle:Orden:empleados.html.twig' with { 'empleados' : entity.empleados } %}
        </div>
    </div>

    {% if is_granted('ROLE_ORDEN_VER_PRECIO') %}
        <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Total de Orden (En caso de utilizar todos los materiales)</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <label class="control-label">Horas presupuestadas</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">{{ entity.horasPresupuesto|round(2)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <label class="control-label">Materiales</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">${{ entity.montoArticulos|round(2)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <label class="control-label">Empleados Horas</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">${{ entity.montoEmpleados|round(2)}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <label class="control-label">Sub Total</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">${{ (entity.montoArticulos + entity.montoEmpleados)|round(2)}}</span>
                            </div>
                        </div>
                    </div>
                    {# SI HAY DESCUENTO ENTRA #}
                    {% if entity.descuentoOrden > 0 %}
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <label class="control-label" style="color:green;">Descuento del</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-control">
                                    {% set montoDeDescuento = ((entity.montoOrden / 100) * entity.descuentoOrden)|round(2) %}
                                    <span class="input-xlarge uneditable-input" style="color:green;">{{ entity.descuentoOrden }}%</span>
                                </div>
                            </div>
                        </div>
                    {% elseif entity.montoDescuento > 0 %}
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <label class="control-label" style="color:green;">Descuento de</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-control">
                                    {% set montoDeDescuento = entity.montoDescuento %}
                                    <span class="input-xlarge uneditable-input" style="color:green;">${{ entity.montoDescuento  }}</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% set montoDeDescuento = 0 %}
                    {% endif %}
                    <hr>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <label class="control-label">Total</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input"><strong>${{ (entity.montoOrden - montoDeDescuento)|round(2)   }}</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label" style="color:red;">* Para ver el total real imprima la orden.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>

        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_orden_imprimir', { 'id': entity.id }) }}" target="_blank">
                Imprimir Orden
            </a>
        </div>

        {#<div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>#}
    </div>
{% endblock %}