{% set cantidadTotal = [] %}
<html>
<head>
    <style>
    .bordes {
        border:1px solid;
        border-radius:25px;
    }
    td.border_top {
      border-top:1pt solid black;
    }
    .espacio-chico{
        height: 2px;
    }
    table{
    font-size: 10px;
    }
    .espacio-alto{
    height: 30px;
    }
    .cliente td{
        border-left: 1px solid black;
        border-right:  1px solid black;
        border-top:  1px solid black;
    }
    .no-botton{
     border-bottom: 1px solid white;
    }
    .no-top{
     border-bottom:  1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .td-descripcion{
    border-right-style: dotted;
    width: 40%;
    }
    .td-cantidad{
    width: 20%;
    }
    .td-descripcion-head{
    border-right-style: dotted;
    border-bottom-style: dotted;
    width: 80%;
    }
    .td-cantidad-head{
    border-bottom-style: dotted;
    width: 20%;
    }
    .trabajos-materiales td{
    text-align: left;
    }
    .firmas{
    width: 100%;
    }
    .firmas td{
    text-align: center;
    }
    .empleados td{
    text-align: center;
    }
    .firmas td{
    text-align: left;
    }
    .colCantidad{
        width: 15%;
    }
    .colArticulo{
        width: 85%;
    }
    .titulos {
        font-weight: bold;
    }
    </style>
</head>
<body>
    <div class="espacio-alto"></div>
    <table class="cliente" style="width:100%">
      <thead>
        <tr>
          <td style="text-align: center">Cliente</td>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td class="no-botton">Señor(es): {{ entity.cliente }}</td>
        </tr>
        <tr>
            <td class="no-top">Direcci&oacute;n: {{ entity.domicilio }}</td>
        </tr>
      </tbody>
    </table>
    <div class="espacio-alto"></div>
    <table class="trabajos-materiales">
        <tr>
            <td colspan="2" style="text-align:center;" class="titulos">O.T. nro. {{ entity.numero }} - Descripci&oacute;n de materiales.</td>
        </tr>
            {% if entity.articulos[0] is defined %}
                {% for cantArticulo in entity.articulos %}
                    <tr>
                        <td class="colArticulo">{{ cantArticulo.articulo.getArticuloSinPrecio  }} </td>
                        <td align="center" class="colCantidad">{{ cantArticulo.cantidad }} {{ cantArticulo.articulo.medida|lower }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
    </table>
    <div class="espacio-chico"><hr width="100%" size="1"/></div>
    {#si existe orden salida#}
    {% if entity.ordenSalida[0] is defined %}
        {% for ordenSalida in entity.ordenSalida %}
            <table cellspacing="3" class="trabajos-materiales">
                <tr>
                    <td colspan="2" style="text-align: center;" class="titulos">Entrega de materiales nro. {{ordenSalida.id}} - Realizada el {{ ordenSalida.updated|localizeddate('full', 'none', app.request.locale) }} a las {{ (ordenSalida.updated|date('H:i') ? ordenSalida.updated|date('H:i') : "&nbsp;")|raw }}hs</td>
                </tr>
                {% if ordenSalida.articulos[0] is defined %}
                {#si orden salida tiene articulos#}
                    {% for keyOs, articulosOs in ordenSalida.articulos %}
                        <tr>
                            <td class="colArticulo">{{ articulosOs.articulo.getArticuloSinPrecio  }} </td>
                            <td align="center" class="colCantidad">{{ articulosOs.cantidad }} {{ articulosOs.articulo.medida|lower }}</td>
                            {#sumo las cantidades entregadas#}
                            {% if cantidadTotal[(''~articulosOs.articulo.getArticuloSinPrecio~'')] is defined %}
                                {% set cantidadTotal = cantidadTotal|merge({ (''~articulosOs.articulo.getArticuloSinPrecio~''): {'total':(cantidadTotal[(''~articulosOs.articulo.getArticuloSinPrecio~'')]['total'] + articulosOs.cantidad), 'medida': articulosOs.articulo.medida|lower} }) %}
                            {% else %}
                                {% set cantidadTotal = cantidadTotal|merge({ (''~articulosOs.articulo.getArticuloSinPrecio~''): {'total':articulosOs.cantidad, 'medida': articulosOs.articulo.medida|lower} }) %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if ordenSalida.ordenEntrada.articulos[0] is defined %}
                  {#si orden Entrada tiene articulos#}
                    <tr>
                        <td colspan="2" class="border_top titulos" style="text-align: center;">Devoluci&oacute;n de materiales nro. {{ordenSalida.id}} - Realizada el {{ ordenSalida.ordenEntrada.updated|localizeddate('full', 'none', app.request.locale) }} a las {{ (ordenSalida.ordenEntrada.updated|date('H:i') ? ordenSalida.ordenEntrada.updated|date('H:i') : "&nbsp;")|raw }}hs</td>
                    </tr>
                    {% for articulosOs in ordenSalida.ordenEntrada.articulos %}
                        <tr>
                            <td class="colArticulo">{{ articulosOs.articulo.getArticuloSinPrecio  }} </td>
                            <td align="center" class="colCantidad">{{ articulosOs.cantidad }} {{ articulosOs.articulo.medida|lower }}</td>
                            {#resto las cantidades devueltas#}
                            {% set cantidadTotal = cantidadTotal|merge({ (''~articulosOs.articulo.getArticuloSinPrecio~''): {'total':(cantidadTotal[(''~articulosOs.articulo.getArticuloSinPrecio~'')]['total'] - articulosOs.cantidad), 'medida': articulosOs.articulo.medida|lower} }) %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
            <div class="espacio-chico"></div>
        {% endfor %}
        <table cellspacing="3" class="trabajos-materiales">
            <tr>
                <td colspan="2" class="border_top titulos" style="text-align: center;">Cantidades totales de materiales entregados</td>
            </tr>
            {% for arT,cT in cantidadTotal %}
                <tr>
                    <td class="colArticulo">{{ arT }} </td>
                    <td align="center" class="colCantidad">{{ cT['total'] ~ ' ' ~ cT['medida'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {#{ dump(cantidadTotal) }#}
</body>
</html>
