<style>
    table {
        font-size: 10px;
    }
    .espacio-alto {
        height: 30px;
    }
    .cliente td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .no-botton {
        border-bottom: 1px solid white;
    }
    .no-top {
        border-bottom: 1px solid black;
    }
    .no-border-left {
        border-bottom: 1px solid #FFFFFF;
        border-left-style: hidden;
    }
    .no-border-right {
        border-bottom: 1px solid #FFFFFF;
        border-right-style: hidden;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .trabajos-materiales td {
        text-align: left;
    }
    .empleados td {
        text-align: center;
    }
    .td-descripcion {
        border-right-style: dotted;
        width: 40%;
    }
    .td-cantidad {
        width: 20%;
    }
    .td-descripcion-head {
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }
    .td-cantidad-head {
        border-bottom-style: dotted;
        width: 20%;
    }
    .firmas {
        width: 100%;
    }
    .firmas td {
        text-align: center;
    }
    article {
        border: 1px #000000 solid;
    }
    .firmas td {
        text-align: left;
    }
    .totales {
        font-weight: bold;
    }
</style>
<html>
    <header>
        <table border="1">
            <tbody>
                <tr>
                    <td style="width: 39%;" class="no-border-left"></td>
                    <td style="width: 23%;">
                        <div>
                            <img src="{{ asset('bundles/sistemamwsconf/images/factura_x.jpg') }}" style="width:130px; height:60px;">
                        </div>
                    </td>
                    <td style="width: 38%;" class="no-border-right"></td>
                </tr>
            </tbody>
        </table>
    </header>
    <body>
        <div class="espacio-alto"></div>
        <article>
            <table class="cliente" style="width:100%">
                <thead>
                    <tr>
                        <td style="text-align: center">Cliente</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Señor(es): {{ entity.cliente }}</td>
                    </tr>
                    <tr>
                        <td class="no-top">Direcci&oacute;n: {{ entity.domicilio }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="espacio-alto"></div>
            <table border="1" class="trabajos-materiales">
                <tr>
                    <td style="width: 40%;">Trabajos Realizados</td>
                    <td style="width: 60%;">Descripcion de materiales</td>
                </tr>
                <tr>
                    <td>{{ entity.trabajosRealizados|raw }}</td>
                    <td>
                            {% set totalImporte      = 0 %}
                            {% set cantArticuloArray = [] %}
                            {% set articuloArray     = [] %}
                        {% if entity.articulos[0] is defined %}
                            
                            {% for cantArticulo in entity.articulos %}
                                {% set articuloArray = {'detalle': (cantArticulo.articulo.getArticuloSinPrecio), 'medida': (cantArticulo.articulo.medida), 'precio': (cantArticulo.precio)} %}
                                {% set cantArticuloArray = cantArticuloArray|merge({('id' ~ cantArticulo.articulo.id): (articuloArray)}) %}
                            {% endfor %}
                            {% for articulo in entityArticulo if ('id' ~ articulo.id) in cantArticuloArray|keys %}
                                {% set idArticulo = 'id' ~ articulo.id %}
                                {% set totalImporte = totalImporte + (articulo.cantidadRealTotal * cantArticuloArray[idArticulo]['precio']) %}
                                <table>
                                    <tr>
                                        <td style="width: 65%;">{{ cantArticuloArray[idArticulo]['detalle'] }} </td>
                                        <td style="width: 20%;">{{ articulo.cantidadRealTotal ~ " " ~ cantArticuloArray[idArticulo]['medida']|lower }}</td>
                                        <td style="width: 15%;">${{ articulo.cantidadRealTotal * cantArticuloArray[idArticulo]['precio'] }}</td>
                                    </tr>
                                </table>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr class="totales">
                    <td style="width: 40%; text-align: right;">Importe total por materiales utilizados</td>
                    <td style="width: 60%; text-align: right;">${{ totalImporte }}</td>
                </tr>
            </table>
            <div class="espacio-alto"></div>
            <table border="1" class="empleados" style="width:100%">
                <tr>
                    <td style="width: 40%;">Empleados</td>
                    <td style="width: 60%;">Fechas - Horas</td>
                </tr>
                {% for empleado in entity.empleados %}
                    <tr>
                        <td>{{ empleado.empleado }}</td>
                        <td>
                            {% for hora in empleado.empleadoHoras %}
                                {{ hora.fecha|date('d-m-Y')}} - Desde {{ hora.desde|date('H:i') }} Hasta {{ hora.hasta|date('H:i') }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr class="totales">
                    <td style="width: 40%; text-align: right;">{{ "Importe total por " ~ mostrarCantidadHoras ~ " horas trabajadas" }}</td>
                    <td style="width: 60%; text-align: right;">${{ entity.montoEmpleados }}</td>
                </tr>
            </table>
            <div class="espacio-alto"></div>
            {% set montoTotalOrden = totalImporte + entity.montoEmpleados %}
            <table border="1">
                {# SI HAY DESCUENTO ENTRA #}
                {% if entity.descuentoOrden != 0 or entity.descuentoOrden != null %}
                    {% set montoDeDescuento = (montoTotalOrden / 100) * entity.descuentoOrden %}
                    <tr class="totales">
                        <td style="width: 40%; text-align: right;">Descuento del {{ entity.descuentoOrden }}%</td>
                        <td style="width: 60%; text-align: right;">${{ montoDeDescuento }}</td>
                    </tr>
                {% elseif (entity.montoDescuento != 0 or entity.montoDescuento != null) %}
                    {% set montoDeDescuento = entity.montoDescuento %}
                    <tr class="totales">
                        <td style="width: 40%; text-align: right;">Descuento de ${{ entity.montoDescuento }}</td>
                        <td style="width: 60%; text-align: right;">${{ montoDeDescuento }}</td>
                    </tr>
                {% else %}
                    {% set montoDeDescuento = 0 %}
                {% endif %}
            </table>
            <div class="espacio-alto"></div>
            <table border="1">
                <tr class="totales">
                    <td style="width: 40%; text-align: right;">TOTAL</td>
                    <td style="width: 60%; text-align: right;">${{ montoTotalOrden - montoDeDescuento }}</td>
                </tr>
            </table>
        </article>
        <div class="espacio-alto"></div>
        <div class="espacio-alto"></div>
        <article>
            <table border="1" class="firmas">
                <tr>
                    <td style="text-align: center;">Observaciones</td>
                </tr>
                <tr>
                    <td>{{ entity.observaciones|raw }}</td>
                </tr>
            </table>
        </article>
    </body>
</html>