<style>
    table {
        font-size: 10px;
    }
    .espacio-alto {
        height: 30px;
    }
    .cliente td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .no-botton {
        border-bottom: 1px solid white;
    }
    .no-top {
        border-bottom: 1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .trabajos-materiales td {
        text-align: left;
    }
    .empleados td {
        text-align: center;
    }
    .td-descripcion {
        border-right-style: dotted;
        width: 40%;
    }
    .td-cantidad {
        width: 20%;
    }
    .td-descripcion-head {
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }
    .td-cantidad-head {
        border-bottom-style: dotted;
        width: 20%;
    }
    .firmas {
        width: 100%;
    }
    .firmas td {
        text-align: center;
    }
    article {
        border: 1px #000000 solid;
    }
    .firmas td {
        text-align: left;
    }
    .totales {
        font-weight: bold;
    }
</style>
<html>
    <body>
        <article>
            <br>
            <table border="1" class="trabajos-materiales">
                <tr>
                    <td style="width: 40%;">Empleado</td>
                    <td style="width: 60%;">Detalle de Horario</td>
                </tr>
                <tr>
                    <td>{{ entity }}</td>
                    <td>
                        {% set costoTotal = 0 %}
                        {% set totalHoras = 0 %}
                        {#% if entity.ordenes is defined %#}
                        <table border="1" class="trabajos-materiales">
                            <tr>
                                <td style="width: 15%;">O.T.</td>
                                <td style="width: 20%;">Fecha</td>
                                <td style="width: 15%;">Desde</td>
                                <td style="width: 15%;">Hasta</td>
                                <td style="width: 15%;">Horas</td>
                                {#<td style="width: 20%;">Costo</td>
                                <td style="width: 20%;">Total</td>#}
                            </tr>
                        </table>
                        {% for hora in horas %}
                            {#% for horas in EmpleadoOrdenes.empleadohoras  %#}
                            <table>
                                <tr>
                                    <td style="width: 15%;">
                                        {% if hora.empleadoOrden.orden is not null %}
                                        {{ hora.empleadoOrden.orden.numero }}
                                        {% endif %}
                                    </td>
                                    <td style="width: 20%;">{{ hora.fecha|date('d/m/Y') }}</td>
                                    <td style="width: 15%;">{{ hora.desde|date('H:i') }}</td>
                                    <td style="width: 15%;">{{ hora.hasta|date('H:i') }}</td>
                                    <td style="width: 15%;">{{ dateDiff(hora.desde, hora.hasta)|round(2) }}</td>
                                    {#<td style="width: 20%;">{{ EmpleadoOrdenes.empleado.cargo.costohora }}</td>
                                    <td style="width: 20%;">{{ (EmpleadoOrdenes.empleado.cargo.costohora *  dateDiff(hora.desde, hora.hasta))|round(2) }}</td>#}
                                </tr>
                            </table>
                            {% set costoTotal = (costoTotal + ( hora.empleadoOrden.empleado.cargo.costohora *  dateDiff(hora.desde, hora.hasta))|round(2) ) %}
                            {% set totalHoras = (totalHoras + (dateDiff(hora.desde, hora.hasta))|round(2)) %}
                            {#% endfor %#}
                            <br>
                        {% endfor %}
                        <br>
                        <table border="0" class="trabajos-materiales">
                            <tr>
                                <td style="width: 35%;">Totales</td>
                                <td style="width: 15%;"></td>
                                <td style="width: 15%;"></td>
                                <td style="width: 15%;">{{ totalHoras }}</td>
                                {#<td style="width: 20%;">Costo</td>#}
                                <td style="width: 20%;">${{ costoTotal }}</td>
                            </tr>
                        </table>
                        {#% endif %#}
                    </td>
                </tr>
            </table>
            <div class="espacio-alto"></div>
            <table border="1" style="text-align: right;">
                <tr>
                    <td style="text-align: center; width: 100%;">Anticipos</td>
                    <td style="width: 0%;"></td>
                </tr>
                <tr>
                    <td style="width: 40%;">Fecha</td>
                    <td style="width: 60%;">Monto</td>
                </tr>
                {% set totalAnticipos = 0 %}
                {% for anticipo in anticipos %}
                    <tr>
                        <td>{{ anticipo.fecha|date('d/m/Y') }}</td>
                        <td>${{ anticipo.monto }}</td>
                    </tr>
                    {% set totalAnticipos = anticipo.monto + totalAnticipos %}
                {% endfor %}
            </table>
            <div class="espacio-alto"></div>
            <table border="1" style="text-align: right;">
                <tr>
                    <td>Total</td>
                    <td>${{ costoTotal }}</td>
                </tr>
                <tr>
                    <td>Anticipo</td>
                    <td>-${{ totalAnticipos }}</td>
                </tr>
                <tr class="totales">
                    <td>Saldo a Pagar</td>
                    <td>${{ (costoTotal - totalAnticipos)|round(2) }}</td>
                </tr>
            </table>
        </article>
        <div class="espacio-alto"></div>
        <div class="espacio-alto"></div>
        <div class="espacio-ancho">
            <table style="border: none;" class="trabajos-materiales">
                <tr style="width: 100%;"><td style="border: none; width: 80%;">  </td><td style="border: none; width: 20%;">____________________</td></tr>
                <tr style="width: 100%;"><td style="border: none; width: 80%;">  </td><td style="border: none; width: 20%;">Firma del Empleado</td></tr>
            </table>
        </div>
    </body>
</html>
