{% set titulo = 'crud.titulo.'~app.request.attributes.get("_route") %}
{% set idioma = app.request.locale %}
{% set titulo = titulo|trans({}, 'SistemaMWSCONFBundle') %}
{% trans_default_domain 'SistemaUserBundle' %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleCrudGeneratorBundle') }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bundles/mwsimplecrudgenerator/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimplecrudgenerator/css/crud.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimplecrudgenerator/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemamwsconf/css/simple-sidebar.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemamwsform/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemamwsconf/css/general.css') }}" rel="stylesheet">
        {#<link href="{{ asset('bundles/sistemarrhh/css/select2.css') }}" rel="stylesheet">#}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/mwsimplecrudgenerator/images/favicon.ico') }}">
        <!-- JQUERY -->
        <script src="{{ asset('bundles/mwsimplecrudgenerator/js/jquery.min.js') }}"></script>
        <style>
            .tooltip-inner {
            white-space: pre-line ;
            }

            .tooltip-info + .tooltip .tooltip-inner {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
            background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
            background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
            background-repeat: repeat-x;
            border-color: #9acfea;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
            }
            .tooltip-info + .tooltip.top .tooltip-arrow,
            .tooltip-info + .tooltip.top-left .tooltip-arrow,
            .tooltip-info + .tooltip.top-right .tooltip-arrow {
            border-top-color: #bce8f1;
            }
            .tooltip-info + .tooltip.bottom .tooltip-arrow,
            .tooltip-info + .tooltip.bottom-left .tooltip-arrow,
            .tooltip-info + .tooltip.bottom-right .tooltip-arrow {
            border-bottom-color: #bce8f1;
            }
            .tooltip-info + .tooltip.right .tooltip-arrow {
            border-right-color: #bce8f1;
            }
            .tooltip-info + .tooltip.left .tooltip-arrow {
            border-left-color: #bce8f1;
            }
            .tooltip-danger + .tooltip .tooltip-inner {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
            background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
            background-repeat: repeat-x;
            border-color: #dca7a7;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
            }
            .tooltip-danger + .tooltip.top .tooltip-arrow,
            .tooltip-danger + .tooltip.top-left .tooltip-arrow,
            .tooltip-danger + .tooltip.top-right .tooltip-arrow {
            border-top-color: #ebccd1;
            }
            .tooltip-danger + .tooltip.bottom .tooltip-arrow,
            .tooltip-danger + .tooltip.bottom-left .tooltip-arrow,
            .tooltip-danger + .tooltip.bottom-right .tooltip-arrow {
            border-bottom-color: #ebccd1;
            }
            .tooltip-danger + .tooltip.right .tooltip-arrow {
            border-right-color: #ebccd1;
            }
            .tooltip-danger + .tooltip.left .tooltip-arrow {
            border-left-color: #ebccd1;
            }
            .tooltip-warning + .tooltip .tooltip-inner {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
            background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
            background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
            background-repeat: repeat-x;
            border-color: #f5e79e;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
            }
            .tooltip-warning + .tooltip.top .tooltip-arrow,
            .tooltip-warning + .tooltip.top-left .tooltip-arrow,
            .tooltip-warning + .tooltip.top-right .tooltip-arrow {
            border-top-color: #faebcc;
            }
            .tooltip-warning + .tooltip.bottom .tooltip-arrow,
            .tooltip-warning + .tooltip.bottom-left .tooltip-arrow,
            .tooltip-warning + .tooltip.bottom-right .tooltip-arrow {
            border-bottom-color: #faebcc;
            }
            .tooltip-warning + .tooltip.right .tooltip-arrow {
            border-right-color: #faebcc;
            }
            .tooltip-warning + .tooltip.left .tooltip-arrow {
            border-left-color: #faebcc;
            }
            .tooltip-success + .tooltip .tooltip-inner {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
            background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
            background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
            background-repeat: repeat-x;
            border-color: #b2dba1;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
            }
            .tooltip-success + .tooltip.top .tooltip-arrow,
            .tooltip-success + .tooltip.top-left .tooltip-arrow,
            .tooltip-success + .tooltip.top-right .tooltip-arrow {
            border-top-color: #d6e9c6;
            }
            .tooltip-success + .tooltip.bottom .tooltip-arrow,
            .tooltip-success + .tooltip.bottom-left .tooltip-arrow,
            .tooltip-success + .tooltip.bottom-right .tooltip-arrow {
            border-bottom-color: #d6e9c6;
            }
            .tooltip-success + .tooltip.right .tooltip-arrow {
            border-right-color: #d6e9c6;
            }
            .tooltip-success + .tooltip.left .tooltip-arrow {
            border-left-color: #d6e9c6;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        {% block javascriptHead %}{% endblock %}
        <!-- Smartsupp Live Chat script -->
        <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '1f75c9e3871322fc1189a424551e6166f932dd4d';
        window.smartsupp||(function(d) {
        	var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        	s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        	c.type='text/javascript';c.charset='utf-8';c.async=true;
        	c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
        })(document);
        </script>
    </head>

    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {{ render(controller('SistemaMWSCONFBundle:Default:logo')) }}
                </ul>
                {% block menu %}
                    {{ knp_menu_render('SistemaMWSCONFBundle:Builder:adminMenuPadre') }}
                {% endblock %}
            </div>

            {% for type, flashMessages in app.session.flashbag.all() %}
               {% for flashMessage in flashMessages %}
                   <div class="alert alert-{{ type }}">
                        {{ flashMessage|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                   </div>
               {% endfor %}
            {% endfor %}

            <div id="page-content-wrapper">
                <div class="page-header col-lg-12 col-sm-12 col-sd-12">
                    <div class="col-lg-6 col-sm-6 col-sd-6">
                        <h1>Sistema web <small>control de stock</small></h1>
                        <a id="menu-toggle" href="#" class="btn btn-default">
                            <i class="icon-reorder"></i>Menu
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-sd-4 col-lg-offset-1 col-sm-offset-1 col-sd-offset-1">
                        {% block menu_login %}
                            {% if app.user %}
                                <a class="pull-right" href="#"><span class="glyphicon glyphicon-check btn btn-lg"></span>Bienvenido: <h6 class="label label-info">{% if app.user.username is defined %}{{ app.user.username }} {% endif %}</h6></a>
                                <a class="pull-right" href="{{path('logout')}}"><span class="glyphicon glyphicon-log-out btn btn-lg"></span>Salir</a>
                                {% if app.user.email is defined %}
                                    <script>
                                        smartsupp('email', '{{ app.user.email }}');
                                    </script>
                                {% endif %}
                                {% if app.user.username is defined %}
                                    <script>
                                        smartsupp('name', '{{ app.user.username }}');
                                    </script>
                                {% endif %}
                            {% else %}
                                <a class="pull-right" href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in btn btn-lg"></span>Ingresar</a>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
                {% block menuReporte %}{% endblock %}
                <div class="row"></div>
                <div class="page-content inset">
                {% block page %}{% endblock %}
                </div>
            </div>
            <div id="footer">
                <div class="page-content inset col-lg-12 col-sm-12 col-sd-12 col-xs-12">
                    <p class="text-muted">Copyright © 2014 Desarrollado por <a href="http://www.tecspro.com.ar">TECSPRO</a> - Todos los derechos reservados. Contacto: <a href="mailto:contacto@tecspro.com.ar">contacto@tecspro.com.ar</a></p>
                </div>
            </div>
        </div>

        <script src="{{ asset('bundles/mwsimplecrudgenerator/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimplecrudgenerator/js/bootstrap-checkbox.js') }}"></script>
        {#<script src="{{ asset('bundles/sistemarrhh/js/select2.js') }}"></script>#}
        <!-- Custom JavaScript for the Menu Toggle -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("active");
            });
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>