{% block select2articulo_widget %}
    {#<style type="text/css">
        .select2-container {
            margin-right: -6px;
        }
    </style>#}
    {#{ form_label(form) }#}
    <input id="select2_{{ id }}" type="text" value="" {{ block('widget_attributes') }}>
    <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
    <script type="text/javascript">
        function addCantidadMaxima(idArticulo, cantidad) {
        {% if configs.cantidadMaxima == true %}
                var cantidadMaxima = idArticulo.replace(/{{ configs.entidad }}$/g, 'cantidadMaxima');
                // jQuery(cantidadMaxima).attr('val', cantidad);
                jQuery(cantidadMaxima).val(cantidad);
        {% endif %}
            }
            (function ($) {
                $field = jQuery('#select2_{{ id }}');
                $store = jQuery('#{{ id }}');
                        $configs = {{ configs|json_encode|raw }};
                        $configs.ajax = {
                            url: '{{ path(url) }}',
                            dataType: 'json',
                            data: function (term, page) {
                                return {
                                    q: term, //search term
                                    page_limit: 20, // page size
                                };
                            },
                            results: function (data, page) {
                                return {results: data};

                            }
                        }
                if (jQuery('#{{ id }}').val().length > 0) {
                    preload_data = JSON.parse(jQuery('#{{ id }}').val());
                    $configs.initSelection = function (element, callback) {
                        var obj = preload_data;
                        callback(obj);
                    };
                }
                $configs.formatResult = function (data) {
                    return "<div class='select2-user-result'>" + data.text + "</div>";
                };
                $configs.dropdownCssClass = "bigdrop";// apply css that makes the dropdown taller
                if (jQuery('#{{ id }}').val().length > 0) {
                    $field.select2($configs).select2('val', 1);
                } else {
                    $field.select2($configs);
                }
        {% if configs.multiple == true %}
                jQuery('#select2_{{ id }}').on("change", function (e) {
                    if (jQuery('#{{ id }}').val().length > 0) {
                        collection = JSON.parse(jQuery('#{{ id }}').val());
                    } else {
                        collection = [];
                    }
                    if (e.added) {
                        collection.push(e.added);
                    } else {
                        collection = $.grep(collection, function (j, i) {
                            return j.id != e.removed.id
                        });
                    }
                    jQuery('#{{ id }}').val(JSON.stringify(collection));
                })
        {% else %}
                jQuery('#select2_{{ id }}').on("change", function (e) {

                    jQuery('#{{ id }}').val(JSON.stringify(e.added));
                    addCantidadMaxima('#{{ id }}', e.added.cantidadMaxima);
                })
            {% if value is not empty %}
                    var articulo = {{ value|raw }};
                            addCantidadMaxima('#{{ id }}', articulo.cantidadMaxima);
            {% endif %}
        {% endif %}
            })(jQuery);
        {% if configs.multiple == false and value is not empty %}
            var value = JSON.parse('{{ value|raw }}');
            jQuery('#s2id_select2_{{ id }} .select2-chosen').html(value.text);
        {% endif %}
    </script>
{% endblock %}
