{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'CuentaCorriente'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form_start(filterForm) }}
            {{ form_end(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <h3>{{ 'views.index.list'|trans({'%entity%': 'Cuenta Corriente'}, 'MWSimpleCrudGeneratorBundle') }}</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                <br>
                <a class="glyphicon glyphicon-print tooltips" style="color:red;"  href="{{ path('cuentacorriente_imprimir') }}" title="" rel="tooltip" data-original-title="Imprimir Cuentas Pdf" target="_blank"> ImprimirPdf</a>
            </div>
        </div>
    </div>    
   
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {#<th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>#}
                    <th{% if entities.isSorted('cli.Apellido') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cliente', 'cli.apellido') }}</th>
                    <th{% if entities.isSorted('a.Monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Monto', 'a.monto') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {#<td><a href="{{ path('cuentacorriente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td>{{ entity.cliente }}</td>
                    <td>
                        {% if (entity.monto == 0) %}
                            <span style="color:green;">0</span>
                        {% elseif (entity.monto > 0) %}
                            Debe <span style="color:red;">${{ entity.monto }}</span>
                        {% else %}
                            A favor <span style="color:green;">${{ entity.monto }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('cuentacorriente_cliente', { 'idCliente': entity.cliente.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                        </a>
 {#                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('cuentacorriente_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                        </a> #}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
    {#<div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('cuentacorriente_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} CuentaCorriente
        </a>
    </div>#}
    </div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}