{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Cuenta Corriente'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% set sumaDebe=0 %}
    {% set sumaHaber=0 %}
    <div class="row">
        <div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form_start(filterForm) }}
                    {{ form_end(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Cuenta Corriente, Proveedor:
                    {{ entities[0].proveedor }}
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Comprobante</th>
                            <th class="text-center">Debe</th>
                            <th class="text-center">Haber</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            {% for asiento in entity.asientos %}
                                <tr>
                                    <td class="col-md-9">{{ asiento.comprobante }}</td>
                                    {% if asiento.debe==0 %}
                                        <td class="col-md-1 text-center">$0</td>
                                    {% else %}    
                                        {% set sumaDebe=sumaDebe + asiento.debe %}
                                        <td class="col-md-1 text-center">$ {{asiento.debe}}</td>
                                    {%endif%}
                                    {% if asiento.haber==0 %}
                                        <td class="col-md-1 text-center">$0</td>
                                    {% else %}  
                                        {% set sumaHaber=sumaHaber + asiento.haber %}
                                        <td class="col-md-1 text-center">$ {{asiento.haber}}</td>
                                    {% endif %}     
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td class="col-md-1 text-center">{{sumaDebe}}</td>
                            <td class="col-md-1 text-center">{{sumaHaber}}</td>
                        </tr>
                        {#<tr>
                            <td></td>
                            <td class="col-md-1 text-center">
                                <h4><strong>Debe</strong></h4>
                            </td>
                            <td class="col-md-1 text-center"> <p>
                                <h4><strong>{{sumaHaber-sumaDebe}} </strong></h4>
                                </p>
                            </td>
                        </tr>#}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
{% endblock %}