{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Cuenta Corriente'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    {% set sumaDebe = 0 %}
    {% set sumaHaber = 0 %}
    {% set total = 0 %}    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h3>Cuenta Corriente, Cliente:
                            {{ entities[0].cliente }}
                        </h3> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        <br> 
                        <a class="btn btn-default" href="{{ path('cuenta_corriente_cliente_imprimir', { 'idCliente': idCliente }) }}" target="_blank">Imprimir</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Comprobantes</th>
                            <th class="text-center">Montos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            {% for asiento in entity.asientos %}
                                <tr>
                                    <td> 
                                        {{ (asiento.comprobante ? segunComprobante(asiento.comprobante) : "<a class='glyphicon glyphicon-search tooltips'  href='" ~ path('admin_orden_show', { 'id': asiento.orden.id }) ~ "' title='' rel='tooltip' data-original-title='" ~ ('views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle')) ~ "' target='_blank'></a> OT nro. " ~ asiento.orden)|raw }}
                                    </td>
                                    {% if asiento.debe > 0 %}
                                        {% set sumaDebe = sumaDebe + asiento.debe %}
                                        <td class="text-right" style="color:green;">${{ asiento.debe }}</td>
                                    {% elseif asiento.haber > 0 %}    
                                        {% set sumaHaber = sumaHaber + asiento.haber %}
                                        <td class="text-right" style="color:red;">${{ asiento.haber }}</td>
                                    {% else %}
                                        <td class="text-right" style="color:green;">$0</td>
                                    {% endif %}  
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <td class="text-center">
                                <h4><strong>Total</strong></h4>
                            </td>
                            {% set total = sumaHaber - sumaDebe %}
                            <td class="text-right"> 
                                <p>
                                    {% if sumaHaber > sumaDebe %}
                                        <h4 style="color:red;"><strong>${{ total }}</strong></h4>
                                    {% else %}
                                        <h4 style="color:green;"><strong>${{ total }}</strong></h4>
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-8 navigation">
            {{ knp_pagination_render(entities) }}
        </div>
        <div class="col-lg-4">
            <a class="btn btn-info" href="{% if estado == 'activo' %}{{ path('admin_cliente') }}{% else %}{{ path('admin_cliente_inactivo') }}{% endif %}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                minView: 2
            });
        });
    </script>
{% endblock %}