<style>
    table {
        font-size: 10px;
    }
    .espacio-alto {
        height: 30px;
    }
    .cliente td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .no-botton {
        border-bottom: 1px solid white;
    }
    .no-top {
        border-bottom: 1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .trabajos-materiales td {
        text-align: left;
    }
    .empleados td {
        text-align: center;
    }
    .td-descripcion {
        border-right-style: dotted;
        width: 40%;
    }
    .td-cantidad {
        width: 20%;
    }
    .td-descripcion-head {
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }
    .td-cantidad-head {
        border-bottom-style: dotted;
        width: 20%;
    }
    .firmas {
        width: 100%;
    }
    .firmas td {
        text-align: center;
    }
    article {
        border: 1px #000000 solid;
    }
    .firmas td {
        text-align: left;
    }
    .totales {
        font-weight: bold;
    }
</style>
<html>
    <body>
        <div class="espacio-alto"></div>
        <article>
            {% set sumaDebe = 0 %}
            {% set sumaHaber = 0 %}
            {% set total = 0 %}
            <h6 style="text-align: left">Cuenta Corriente: {{ entities[0].cliente }}</h6>
            <table class="cliente" style="width:100%">
                <thead>
                    <tr>
                        <td class="titulos" style="width: 80%; font-weight: bold; text-align: center;">Comprobantes</td>
                        <td class="titulos" style="width: 20%; font-weight: bold; text-align: center;">Montos</td>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        {% for asiento in entity.asientos %}
                        <tr>
                            <td class="no-top" style="width:80%">{{ (asiento.comprobante ? segunComprobante(asiento.comprobante) : "OT nro. " ~ asiento.orden)|raw }}</td>
                            {% if asiento.debe > 0 %}
                                {% set sumaDebe = sumaDebe + asiento.debe %}
                                <td class="no-top" style="width: 20%; color: red; text-align: right;">$-{{ asiento.debe }}</td>
                            {% elseif asiento.haber > 0 %}
                                {% set sumaHaber = sumaHaber + asiento.haber %}
                                <td class="no-top" style="width: 20%; color: green; text-align: right;">${{ asiento.haber }}</td>
                            {% else %}
                                <td class="no-top" style="width: 20%; color: green; text-align: right;">$0</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="espacio-alto"></div>
            <table border="1">
                <tr class="totales">
                    <td style="width: 80%; text-align: right;">Total</td>
                    {% set total = sumaHaber - sumaDebe %}
                    {% if sumaHaber >= sumaDebe %}
                        <td style="width: 20%; text-align: right; color:green;">${{ total }}</td>
                    {% else %}
                        <td style="width: 20%; text-align: right; color:red;">${{ total }}</td>
                    {% endif %}    
                </tr>
            </table>
        </article>
        <div class="espacio-alto"></div>
    </body>
</html>