<style>
    table {
        font-size: 10px;
    }
    .espacio-alto {
        height: 30px;
    }
    .cliente td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .no-botton {
        border-bottom: 1px solid white;
    }
    .no-top {
        border-bottom: 1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .trabajos-materiales td {
        text-align: left;
    }
    .empleados td {
        text-align: center;
    }
    .td-descripcion {
        border-right-style: dotted;
        width: 40%;
    }
    .td-cantidad {
        width: 20%;
    }
    .td-descripcion-head {
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }
    .td-cantidad-head {
        border-bottom-style: dotted;
        width: 20%;
    }
    .firmas {
        width: 100%;
    }
    .firmas td {
        text-align: center;
    }
    article {
        border: 1px #000000 solid;
    }
    .firmas td {
        text-align: left;
    }
    .totales {
        font-weight: bold;
    }
</style>
<html>
    <body>
        <div class="espacio-alto"></div>
        <article>
            {% set totalImporte = 0 %}
            <table class="cliente" style="width:100%">
                <thead>
                    <tr>
                        <td style="text-align: center">Clientes/Proveedores</td>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="no-botton">Cliente: {{ entity.cliente|raw }}</td>
                    </tr>
                    <tr>
                        <td class="no-botton">Proveedor: {{ entity.proveedor|raw }}</td>
                    </tr>
                    {% set totalImporte = totalImporte + entity.monto %}
                    {% endfor %}
                    <tr><td class="no-top"></td></tr>
                </tbody>
            </table>
            <div class="espacio-alto"></div>
            
            {#
            {% set montoTotal = totalImporte + entity.montoEmpleados %}
            #}

            <table border="1">
                <tr class="totales">
                    <td style="width: 40%; text-align: right;">TOTAL</td>
                    <td style="width: 60%; text-align: right;">${{ totalImporte }}</td>
                </tr>
            </table>

        </article>
        <div class="espacio-alto"></div>
        <div class="espacio-alto"></div>
        <article>
            <table border="1" class="firmas">
                <tr>
                    <td style="text-align: center;">Observaciones</td>
                </tr>
                <tr>
                    <td>Observaciones</td>
                </tr>
            </table>
        </article>
    </body>
</html>