{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'CuentaCorriente'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="well well-lg">
        <h1>CuentaCorriente</h1>
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Monto</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ entity.monto }}</span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('cuentacorriente') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    {#     <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('cuentacorriente_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div> #}
    </div>
{% endblock %}