{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Medida'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading">
            <h3>
            Medida de Art&iacute;culos
            </h3>
        </div>

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {#<th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>#}
                    <th{% if entities.isSorted('a.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nombre', 'a.nombre') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {#<td><a href="{{ path('admin_medida_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td>{{ entity.nombre }}</td>
                    <td>


                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_medida_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>


                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_medida_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_medida_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Medida
        </a>
    </div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}
