{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Empleado'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="panel panel-info">
    <div class="panel-heading"><h4>Empleado</h4></div>
    <div class="panel-body">

            {#<div class="form-group col-lg-5">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
            </div> #}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label">Apellido</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.apellido ? entity.apellido : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label">Nombre</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.nombre ? entity.nombre : "&nbsp;")|raw }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="control-label">Dni</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.dni ? entity.dni : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="control-label">Cuil</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.cuitcuil ? entity.cuitcuil : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="control-label">Fecha Nacimiento</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.fechanacimiento|date('Y-m-d') ? entity.fechanacimiento|date('Y-m-d')  : "&nbsp;")|raw }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="control-label">Cargo</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.cargo ? entity.cargo : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="control-label">Tipo</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.tipo ? entity.tipo : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="control-label">Activo</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (isActive(entity.activo) ? isActive(entity.activo)  : "&nbsp;")|raw }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h4>Telefonos</h4></div>
    <div class="panel-body">
        {% for telefono in entity.telefonos %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Tipo</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (telefono.tipo ? telefono.tipo : "&nbsp;")|raw }}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">N&uacute;mero</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">{{ (telefono.numero ? telefono.numero : "&nbsp;")|raw }}</span>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h4>Domicilio</h4></div>
        <div class="panel-body">
        {% for domicilio in entity.domicilios %}
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Localidad</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.localidad ? domicilio.localidad : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Calle</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.calle ? domicilio.calle : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Numero</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.numero ? domicilio.numero : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Departamento</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.departamento ? domicilio.departamento : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Edificio</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.edificio ? domicilio.edificio : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Manzana</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.manzana ? domicilio.manzana : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Entre Calles</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.entreCalles ? domicilio.entreCalles : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Tira</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.tira ? domicilio.tira : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="control-label">Parcela</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">{{ (domicilio.parcela ? domicilio.parcela : "&nbsp;")|raw }}</span>
                        </div>
                    </div>
                </div>
                <hr>
        {% endfor %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="float-left col-lg-3">
                <a class="btn btn-info col-lg-11" href="{{ path('admin_empleado') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3">
                    <a class="btn btn-primary col-lg-11" href="{{ path('admin_empleado_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                        </a>
                    </div>
                    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
                </div>
{% endblock %}
