<!-- Modal Auditoria -->
<div class="modal fade" id="modalAuditoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content" >
<div class= "modal-header">
<button type = "button" class = "close" data-dismiss = "modal"> <span aria-hidden = "true" > &times; </span><span class="sr-only">Cerrar</span> </button>
<h4 class = "modal-title" > Auditoria</h4>
</div>
<div class = "modal-body" id="contenidoAuditoria">
</div>

<div class = "modal-footer">
<button type = "button" class = "btn btn-default" data-dismiss="modal"> Cerrar </button>
</div>
</div>
</div>
</div>

<!--codigo para copilar modal rutina-->
<script id = "hbModalAuditoria" type = "text/x-handlebars-template" >
{% verbatim  %} 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Datos</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>{{ fechas}}</td>
                <td>{{ usuario}}</td>
                <td>  
                    {{#datos}}
                    {{#each this}}
                    <strong>{{ key}}</strong>&nbsp;:&nbsp;{{ dato}}&nbsp;-&nbsp;
                    {{/each }} 
                    {{/datos}}
                </td>
            </tr>
            {{/each }} 
        </tbody>
    </table>
{% endverbatim  %}
</script>
<script type="text/javascript">
            function verAuditoria(entity) {
            //Añadimos la imagen de carga en el contenedor
            $.ajax({
            type: "POST",
                    url: "{{ path('auditoria_get') }}",
                    data: {id: entity},
                    success: function(array) {
                    actualizarModalAuditoria(array);
                            $('#modalAuditoria').modal('show');
                    },
                    error: function(data) {
                    mostrarMensaje("Error al actualizar", "error");
                    }
            });
            }
    function mostrarMensaje(_texto, _tipo) {
    //$.pnotify({title: 'Alerta', text: _texto, type: _tipo});
    }

    function actualizarModalAuditoria(array) {
    var fuente = $("#hbModalAuditoria").html();
            var plantilla = Handlebars.compile(fuente);
            var html = plantilla(array, array);
            $("#contenidoAuditoria").html(html);
    }
</script>
