{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'ArticuloTipo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
             {{ form_start(filterForm) }}
-            {{ form_end(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>{{ titulo }}</h3></div>

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {#<th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>#}
                    <th{% if entities.isSorted('a.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nombre', 'a.nombre') }}</th>
                    <th{% if entities.isSorted('a.cantidadMinima') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cantidad Mínima', 'a.cantidadMinima') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {#<td><a href="{{ path('admin_articulotipo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.cantidadMinima }}</td>
                    <td>

                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_articulotipo_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>


                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_articulotipo_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

                    </a>
                    {% if is_granted('ROLE_ARTICULO_TIPO_PRECIO_ACTUALIZAR') or is_granted('ROLE_ADMIN') %}
                            <a class="glyphicon glyphicon-usd tooltips" data-original-title="Actualizar precios de articulos" href="#" data-toggle="modal" data-target="#myModal" data-id="{{ entity.id }}"/>
                            </a>
                    {% endif %}
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 col-md-4 col-sm-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

         <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="alert alert-warning">
                    <h4 class="modal-title" id="myModalLabel">
                        Ingrese el porcentaje para realizar la modificación de los precios
                        (aumentando o disminuyendo) a los articulos pertenecientes al Tipo.
                    </h4>
                   </div>
              </div>
              <div class="modal-body">

                  {{ form_start(formModal) }}
                    {{ form_row(formModal.idTipo) }}
                    {{ form_row(formModal.porcentaje) }}<div style="float:left;color:green;font-size:20px;">%</div>
                    {{ form_row(formModal.opciones) }}
                    <span id="only-number-error" class="col-lg-12 col-md-12 col-sm-12" style="color: red;font-weight: bold;"></span>
                    <div class="col-lg-12 col-md-12 col-sm-12 pull-left" style="height: 20px;"></div>
                    {{ form_row(formModal.save) }}
                  {{ form_end(formModal) }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_articulotipo_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} {{ titulo }}
        </a>
    </div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();

        $(document).ready(function() {
            $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {
                var data_id = '';
                if (typeof $(this).data('id') !== 'undefined') {
                    data_id = $(this).data('id');
                }
                $('.modal-body #form_idTipo').val(data_id);
            });

            $("#form_porcentaje").keypress(function (event) {
             var decimales = ($(this).val().substring($(this).val().indexOf('.'),$(this).val().indexOf('.').length).length>2 );

            if (event.which === 8 || event.keyCode === 37 || event.keyCode === 39 || event.keyCode === 46) {
                return true;

            }else if ( (decimales) || ( (event.which !== 46 || $(this).val().indexOf('.') !== -1  ) && (event.which < 48 || event.which > 57))) {
                $("#only-number-error").text("Ingrese Solo Numeros con Maximo 2 decimales").show().fadeOut("slow");
                return false;
            }
            });

         });

</script>
{% endblock %}
