{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Caja'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Caja'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>    
   
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Número', 'a.id') }}</th>
                    <th{% if entities.isSorted('a.Fechainicio') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha de Inicio', 'a.fechaInicio') }}</th>
                    <th{% if entities.isSorted('a.Fechafin') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha de Cierre', 'a.fechaFin') }}</th>
                    <th{% if entities.isSorted('a.Estado') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Estado', 'a.estado') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d/m/Y H:i:s') }}{% endif %}</td>
                    <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d/m/Y H:i:s') }}{% endif %}</td>
                    <td>{{ entity.estado ? isActive(true, 'Abierta', '' ) : isActive(false, '', 'Cerrada' ) }}</td>
                    <td>
                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_caja_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Ver Caja"></a>
                        {% if entity.estado %}
                            <a class="glyphicon glyphicon-minus tooltips"  href="#" title="" rel="tooltip" data-original-title="Cerrar Caja" data-toggle="modal" data-target=".bs-example-modal-sm"></a>
                            <!-- Cerrar Caja modal -->
                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            Cerrar Caja?
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger"  href="{{ path('admin_caja_cerrar', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Cerrar Caja">Aceptar</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <a style='color: #d84a4a;' class="glyphicon glyphicon-print tooltips"  href="{{ path('admin_caja_imprimir', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Exportar en Pdf" target="_blank"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_caja_new') }}">
            Abrir Caja
        </a>
    </div>
    </div>
        
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}