{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Caja'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="well">
    <div class="form-group">
        <table class="table table-bordered table-condensed table-responsive">
            <thead>
                <tr style="background-color: #FFFFFF;">
                    <th>N&uacute;mero</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Cierre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.fechaInicio|date('d-m-Y H:i') }}</td>
                    <td>{% if entity.fechaFin is null %}-{% else %}{{ entity.fechaFin|date('d-m-Y H:i') }}{% endif %}</td>
                    <td>{{ entity.estado ? isActive(true, 'Abierta', '' ) : isActive(false, '', 'Cerrada' ) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% set total = 0 %}
    {% set totalDiario = 0 %}
    {% set cuenta = '' %}
    {% if asientos %}
    <div class="form-group">
        <div class="panel panel-default">
        {% for key,asiento in asientos %}
            {% if cuenta != asiento.cuenta.descripcion %}
                {% set cuenta = asiento.cuenta.descripcion %}

                {% if key > 0 %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: right; font-weight: bold;">Sub total:</td>
                                {% if total < 0 %}
                                    <td style="color: #ff4c4c">${{ total|number_format(2, ',', '.') }}</td>
                                {% else %}
                                    <td style="color: #008000">${{ total|number_format(2, ',', '.') }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% set total = 0 %}
                {% endif %}
                <div class="panel-heading" style="background-color: #dcdcdc;">
                    <h2 class="panel-title">Cuenta: {{ cuenta }}</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr style="background-color: #FFFFFF;">
                                <th>Comprobante</th>
                                <th>Numero</th>
                                <th>Detalle</th>
                                <th>OT Nro</th>
                                <th>Fecha</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ asiento.comprobante.getTipoDocumento() }}</td>
                                <td>{{ asiento.comprobante.numero }}</td>
                                <td>{{ asiento.comprobante.descripcion }}</td>
                                {% if asiento.comprobante.orden %}
                                    <td>{{ asiento.comprobante.orden.numero }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td>{{ asiento.comprobante.fecha|date('d/m/Y') }}</td>
                                {% if asiento.debe > 0 %}
                                    <td style="color: #008000">${{ asiento.debe|number_format(2, ',', '.') }}</td>
                                    {% set total = total + asiento.debe %}
                                    {% set totalDiario = totalDiario + asiento.debe %}
                                {% else %}
                                    <td style="color: #ff4c4c">${{ asiento.haber|number_format(2, ',', '.') }}</td>
                                    {% set total = total - asiento.haber %}
                                    {% set totalDiario = totalDiario - asiento.haber %}
                                {% endif %}
                            </tr>
            {% else %}
                            <tr>
                                <td>{{ asiento.comprobante.getTipoDocumento() }}</td>
                                <td>{{ asiento.comprobante.numero }}</td>
                                <td>{{ asiento.comprobante.descripcion }}</td>
                                {% if asiento.comprobante.orden %}
                                    <td>{{ asiento.comprobante.orden.numero }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td>{{ asiento.comprobante.fecha|date('d/m/Y') }}</td>
                                {% if asiento.debe > 0 %}
                                    <td style="color: #008000">${{ asiento.debe|number_format(2, ',', '.') }}</td>
                                    {% set total = total + asiento.debe %}
                                    {% set totalDiario = totalDiario + asiento.debe %}
                                {% else %}
                                    <td style="color: #ff4c4c">${{ asiento.haber|number_format(2, ',', '.') }}</td>
                                    {% set total = total - asiento.haber %}
                                    {% set totalDiario = totalDiario - asiento.haber %}
                                {% endif %}
                            </tr>
            {% endif %}
        {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: right; font-weight: bold;">Sub total:</td>
                                {% if total < 0 %}
                                    <td style="color: #ff4c4c">${{ total|number_format(2, ',', '.') }}</td>
                                {% else %}
                                    <td style="color: #008000">${{ total|number_format(2, ',', '.') }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" style="height: 40px;">
                    <b style="float:right;">
                        Total diario:
                        {% if totalDiario < 0 %}
                            <span style="color: #ff4c4c">${{ totalDiario|number_format(2, ',', '.') }}</span>
                        {% else %}
                            <span style="color: #008000">${{ totalDiario|number_format(2, ',', '.') }}</span>
                        {% endif %}
                    </b>
                </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <table class="table table-responsive">
            <thead>
                {% set totalAcumulado = 0 %}
                {% for acumulado in acumulados %}
                    {% set totalAcumulado = totalAcumulado + acumulado.totalAcumulado %}
                    <tr style="background-color: #FFFFFF;">
                        <th>{{ acumulado.descripcion }}</th>
                        <th>{{ acumulado.codigo }}</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Total acumulado:</th>
                        {% if acumulado.totalAcumulado < 0 %}
                            <th style="color: #ff4c4c">${{ acumulado.totalAcumulado|number_format(2, ',', '.') }}</th>
                        {% else %}
                            <th style="color: #008000">${{ acumulado.totalAcumulado|number_format(2, ',', '.') }}</th>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% set superTotal = totalAcumulado + totalDiario %}
                <tr style="background-color: #FFFFFF;">
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Total acumulado inclusive hoy:</th>
                    {% if superTotal < 0 %}
                        <th style="color: #ff4c4c">${{ superTotal|number_format(2, ',', '.') }}</th>
                    {% else %}
                        <th style="color: #008000">${{ superTotal|number_format(2, ',', '.') }}</th>
                    {% endif %}
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_caja') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
