<html>
<head>
    <style>
    .bordes {
        border:1px solid;
        border-radius:25px;
    }
    td.border_top {
      border-top:1pt solid black;
    }
    .espacio-chico{
        height: 2px;
    }
    table{
    font-size: 10px;
    }
    .espacio-alto{
    height: 30px;
    }
    .cliente td{
        border-left: 1px solid black;
        border-right:  1px solid black;
        border-top:  1px solid black;
    }
    .no-botton{
     border-bottom: 1px solid white;
    }
    .no-top{
     border-bottom:  1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .td-descripcion{
    border-right-style: dotted;
    width: 40%;
    }
    .td-cantidad{
    width: 20%;
    }
    .td-descripcion-head{
    border-right-style: dotted;
    border-bottom-style: dotted;
    width: 80%;
    }
    .td-cantidad-head{
    border-bottom-style: dotted;
    width: 20%;
    }
    .trabajos-materiales td{
    text-align: left;
    }
    .firmas{
    width: 100%;
    }
    .firmas td{
    text-align: center;
    }
    .empleados td{
    text-align: center;
    }
    .firmas td{
    text-align: left;
    }
    .colCantidad{
        width: 15%;
    }
    .colArticulo{
        width: 85%;
    }
    .titulos {
        font-weight: bold;
    }
    </style>
</head>
<body>
    <div class="espacio-alto"></div>
    <table class="cliente" style="width:100%">
      <thead>
        <tr>
          <td style="text-align: center" class="titulos">Caja Inicio: {{ entity.fechaInicio|date('d-m-Y H:i') }} Cierre: {% if entity.fechaFin is null %}-{% else %}{{ entity.fechaFin|date('d-m-Y H:i') }}{% endif %}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td class="no-top">Estado: {% if entity.estado %}Caja Abierta{% else %}Caja Cerrada{% endif %}</td>
        </tr>
      </tbody>
    </table>
    <div class="espacio-alto"></div>

    {% set total = 0 %}
    {% set cuenta = '' %}
    {% if asientos %}
        {% for asiento in asientos %}
            {% if cuenta != asiento.cuenta.descripcion %}
                {% set cuenta = asiento.cuenta.descripcion %}
                <h6>Cuenta: {{ cuenta }}</h6>
                <table class="cliente" style="width:100%">
                    <thead>
                        <tr>
                            <td class="titulos">Comprobante</td>
                            <td class="titulos">Numero</td>
                            <td class="titulos">Detalle</td>
                            <td class="titulos">OT Nro</td>
                            <td class="titulos">Fecha</td>
                            <td class="titulos">Monto</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asiento in asientos %}
                        <tr>
                            {% if cuenta == asiento.cuenta.descripcion %}
                                <td class="no-top">{{ asiento.comprobante.getTipoDocumento() }}</td>
                                <td class="no-top">{{ asiento.comprobante.numero }}</td>
                                <td class="no-top">{{ asiento.comprobante.descripcion }}</td>
                                {% if asiento.comprobante.orden %}
                                    <td class="no-top">{{ asiento.comprobante.orden.numero }}</td>
                                {% else %}
                                    <td class="no-top">-</td>
                                {% endif %}
                                <td class="no-top">{{ asiento.comprobante.fecha|date('d/m/Y') }}</td>
                                {% if asiento.debe > 0 %}
                                    <td class="no-top">${{ asiento.comprobante.monto }}</td>
                                    {% set total = total + asiento.comprobante.monto %}
                                {% else %}
                                    <td class="no-top">$-{{ asiento.comprobante.monto }}</td>
                                    {% set total = total - asiento.comprobante.monto %}
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="no-top"></td>
                            <td class="no-top"></td>
                            <td class="no-top"></td>
                            <td class="no-top"></td>
                            <td class="no-top" style="text-align: right; font-weight: bold;">Total:</td>
                            <td class="no-top">${{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="espacio-alto"></div>

    <div class="espacio-chico"><hr width="100%" size="1"/></div>
    {#si existe orden salida#}

    {#{ dump(entity.comprobantes) }#}
</body>
</html>
