{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sistemastock/css/articulo_index.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="col-lg-11 col-md-11 col-sm-11 espacio" id="mostrarinfor"></div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <h3>Articulos Sin Stock</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                        <br>
                        <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                            <div class="dropup">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a href="{{path('admin_articulosSinStock_imprimir')}}">Pdf</a></li>
                                    <li><a href="{{path('admin_articulosSinStock_xls')}}">Excel</a></li>
                                </ul>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Rubro</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Cantidad minima necesaria</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in articulosSinStock %}
                        <tr>
                            <td>{{ entity[0].codigo }}</td>
                            <td>{{ entity[0].rubro }}</td>
                            <td>{{ entity[0].tipo }}</td>
                            <td>{{ entity[0].descripcion }}</td>
                            <td>{{ entity[0].cantidadReal }}</td>
                            <td><span class="glyphicon glyphicon-usd"><span id="precioArticuloSinStock_{{entity[0].id}}">{{ entity[0].precio }}</span></span></td>
                            <td>{{ entity[1]}}</td>
                            <td>
                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_articulo_show', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_articulo_edit', { 'id': entity[0].id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                {% if is_granted('ROLE_ARTICULO_CANTIDAD_AGREGAR') or is_granted('ROLE_ADMIN')%}
                                    <a href="#" class="glyphicon glyphicon-plus-sign tooltips" onclick="modalCantidad({{ entity[0].id }});
                                            return false;" title="" rel="tooltip" data-original-title="Agregar Cantidad" data-toggle="modal" data-target=".bs-example-modal-sm">
                                    </a>
                                {%endif%}
                                {% if is_granted('ROLE_ARTICULO_PRECIO_AGREGAR') or is_granted('ROLE_ADMIN')%}
                                    <a href="#" class="glyphicon glyphicon-usd tooltips" onclick="modalPrecio({{ entity[0].id }});
                                            return false;" title="" rel="tooltip" data-original-title="Actualizar Precio" data-toggle="modal" data-target=".bs-example-modal-sm">
                                    </a>
                                {%endif%}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
                                        $('.tooltips').tooltip();
    </script>
    <script src="{{ asset('bundles/sistemastock/js/articuloOpciones.js') }}"></script>
{% endblock %}