<!-- Modal -->
<div class="modal fade" id="myModalCantidad" role="dialog" aria-labelledby="myModalCantidadLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalCantidadLabel">Agregar cantidad</h4>
      </div>
      <div class="modal-body">
        {{ form(form) }}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#myModalCantidad').on('show.bs.modal', function () {
    $('#sistema_stockbundle_articulo_cantidad_cantidad').focus();
    });
    // metodo para enviar el formulario de cantidad por ajax
    $("#formCantidad").submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: $(this).attr('action'),
            data: { formulario: $(this).serialize() },
            success: function(objeto) {
                $('#cantidad_'+objeto["id"]).html(objeto["cantidad"]);
                $('#tablaArticuloSinStock').html(objeto["articulosSinStock"]);
            },
            error: function(data) {
                $('#mostrarinfor').innerHTML = "<div class='alert alert-danger'>Error al Crear El Formulario</div>";
                setTimeout(function() {
                    $('#mostrarinfor').innerHTML = "";
                }, 5000);
            }
        });
        $('#myModalCantidad').modal('hide');
    });
</script>
