{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.js') }}"></script>
{% endblock %}

{% block page %}
    {% include 'SistemaSTOCKBundle:Articulo:form.html.twig' with { 'form' : edit_form } %}

    <div class="col-lg-9 col-sd-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_articulo') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/controlCantidad.js') }}"></script>
{% endblock %}
