<!-- Modal -->
<div class="modal fade" id="myModalPrecio" tabindex="-1" role="dialog" aria-labelledby="myModalPrecioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalPrecioLabel">Actualizar Precio</h4>
      </div>
      <div class="modal-body">
        {{form(form)}}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    // metodo para enviar el formulario de cantidad por ajax
    $("#formPrecio").submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: $(this).attr('action'),
            data: { formulario: $(this).serialize() },
            success: function(objeto) {
                $('#precio_'+objeto["id"]).html(objeto["precio"]);
                 $('#precioArticuloSinStock_'+objeto["id"]).html(objeto["precio"]);
            },
            error: function(data) {
                $('#mostrarinfor').innerHTML = "<div class='alert alert-danger'>Error al Crear El Formulario</div>";
                setTimeout(function() {
                    $('#mostrarinfor').innerHTML = ""
                }, 5000);
            }
        });
        $('#myModalPrecio').modal('hide');
    });
</script>
