{% form_theme form 'SistemaSTOCKBundle:widget:form_fields_articulo.html.twig' %}

<div class="panel panel-default center-block">
    <div class="panel-heading">
        <h3 class="panel-title center-block">
            {{ 'views.new.creation'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
        </h3>
    </div>
    <div class="panel-body">
        {{ form_start(form) }}
            <div class="row">
                {{ form_row(form.codigo) }}
                {{ form_row(form.medida) }}
            </div>
        {% if entity.id %}
            <div class="row">
                {{ form_row(form.cantidad) }}
                {{ form_row(form.cantidadUtilizada) }}
            </div>
        {% else %}
            <div class="row">
                {{ form_row(form.cantidad) }}
            </div>
        {% endif %}
            <div class="row">
                {{ form_row(form.rubro) }}
                {{ form_row(form.tipo) }}
            </div>
            <div class="row">
                {{ form_row(form.descripcion) }}
            </div>
            <div class="row">
                {{ form_row(form.precio) }}
                {{ form_row(form.activo) }}
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.save) }}
                    {{ form_row(form.saveAndAdd) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
