{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sistemastock/css/articulo_index.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="col-lg-11 col-md-11 col-sm-11 espacio" id="mostrarinfor"></div>
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4">
            <ul class="nav nav-pills">
                <li {% if estado == 'activo' %}class="active green"{% else %}class=""{% endif %}><a href="{{ path('admin_articulo') }}">Art&iacute;culos Activos</a></li>
                <li {% if estado == 'inactivo' %}class="active red"{% else %}class=""{% endif %}class=""><a href="{{path('admin_articulo_inactivo')}}">Art&iacute;culos Inactivos</a></li>
            </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
            <div class="filters-right">
                <a id="limpiar" class="btn btn-danger" >
                    Limpiar B&uacute;squeda
                </a>
            </div>
            <div class="filters-right">|</div>
            <div class="filters-right">
                <a class="btn btn-warning" href="{{ path('admin_articulo_sin_stock') }}">
                    Art&iacute;culos con Bajo Stock
                </a>
            </div>
            <div class="filters-right">|</div>
            <div class="filters-right">
                <a class="btn btn-primary" href="{{ path('admin_articulo_new') }}">
                    {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Art&iacute;culo
                </a>
            </div>
            <div class="filters-right">
                <a class="btn btn-success" href="{{ path('admin_add_articulos') }}">
                    Agregar Art&iacute;culos
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        {#<th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>#}
                        <th{% if entities.isSorted('a.Codigo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Código', 'a.codigo') }}</th>
                        <th{% if entities.isSorted('r.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Rubro', 'r.nombre') }}</th>
                        <th{% if entities.isSorted('t.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Tipo', 't.nombre') }}</th>
                        <th{% if entities.isSorted('a.Descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Descripción', 'a.descripcion') }}</th>
                        <th{% if entities.isSorted('a.Cantidad') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cantidad', 'a.cantidad') }}</th>
                        <th{% if entities.isSorted('a.Cantidadreservada') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cantidad Reservada', 'a.cantidadReservada') }}</th>
                        <th{% if entities.isSorted('a.Precio') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Precio', 'a.precio') }}</th>
                            {#<th{% if entities.isSorted('a.Activo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Activo', 'a.activo') }}</th>#}
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for  entity in entities %}
                        <tr>
                            {# <td><a href="{{ path('admin_articulo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            <td>{{ entity.codigo }}</td>
                            <td>{{ entity.rubro}}</td>
                            <td>{{ entity.tipo }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td><div id="cantidad_{{ entity.id }}">{{ entity.cantidadReal }}</div></td>
                            <td>{{ entity.cantidadReservada }}</td>
                            <td>
                                <span id="precio_{{ entity.id }}" class="glyphicon glyphicon-usd">{{ entity.precio }}</span>
                            </td>
                            {#<td><span class="input-xlarge uneditable-input">{{ isActive(entity.activo) }}</span></td>#}
                            <td>
                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_articulo_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_articulo_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                {% if is_granted('ROLE_ARTICULO_CANTIDAD_AGREGAR') or is_granted('ROLE_ADMIN')%}
                                    <a href="#" class="glyphicon glyphicon-plus-sign tooltips" onclick="modalCantidad({{ entity.id }});
                                            return false;" title="" rel="tooltip" data-original-title="Agregar Cantidad" data-toggle="modal" data-target=".bs-example-modal-sm">
                                    </a>
                                {%endif%}
                                {% if is_granted('ROLE_ARTICULO_PRECIO_AGREGAR') or is_granted('ROLE_ADMIN')%}
                                    <a href="#" class="glyphicon glyphicon-usd tooltips" onclick="modalPrecio({{ entity.id }});
                                            return false;" title="" rel="tooltip" data-original-title="Actualizar Precio" data-toggle="modal" data-target=".bs-example-modal-sm">
                                    </a>
                                {%endif%}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="glyphicon glyphicon-folder-open tooltips btnLogArticulo" data-id="{{entity.id}}" href="javascript:;" title="" rel="tooltip" data-original-title="Log de Articulos">
                                    </a>   
                                {%endif%}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-lg-12 col-md-12 col-sm-12 navigation">
                {{ knp_pagination_render(entities) }}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a class="btn btn-primary likepaginator" href="{{ path('admin_articulo_new') }}">
                    {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Art&iacute;culo
                </a>
                <a class="btn btn-success likepaginator" href="{{ path('admin_add_articulos') }}">
                    Agregar Art&iacute;culos
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
                                        $('.tooltips').tooltip();
    </script>
    <script src="{{ asset('bundles/sistemastock/js/articuloOpciones.js') }}"></script>
{% endblock %}
