{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-sd-offset-1 col-sm-offset-1">
<div class="panel panel-info">
  <div class="panel-heading"><h4>Articulo</h4></div>
  <div class="panel-body">
    <form class="form-horizontal">
        <fieldset>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-lg-push-1 col-sm-push-1 col-sd-push-1">
                    <div class="form-group">
                        <label class="control-label">C&oacute;digo</label>
                        <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.codigo }}</span>                    </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-2 col-sm-2 col-lg-push-2 col-sm-push-2 col-sd-push-2">
                    <div class="form-group">
                        <label class="control-label">Cantidad</label>
                        <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.cantidad }}</span>                    </div>
                    </div>
                </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-lg-push-4 col-sm-push-4 col-sd-push-4">
                        <div class="form-group">
                            <label class="control-label">Precio</label>
                            <div class="form-control">                        <span class="input-xlarge uneditable-input"><span class="glyphicon glyphicon-usd">{{ entity.precio }}</span> </span>                    </div>
                        </div>
                    </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-lg-push-1 col-sm-push-1 col-sd-push-1">
                    <div class="form-group">
                        <label class="control-label">Rubro</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">
                                   {{entity.rubro.nombre}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-lg-push-2 col-sm-push-2 col-sd-push-2">
                    <div class="form-group">
                        <label class="control-label">Tipo</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">
                                   {{entity.tipo.nombre}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-1 col-sm-push-1 col-sd-push-1">
                    <div class="form-group">
                        <label class="control-label">Descripci&oacute;n</label>
                        <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.descripcion }}</span>                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-1 col-sm-push-1 col-sd-push-1">
                    <div class="form-group">
                        <label class="control-label">Medida</label>
                        <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.medida }}</span>                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-2 col-sm-push-2 col-sd-push-2">
                    <div class="form-group">
                        <label class="control-label">Activo</label>
                        <div class="form-control">                        <span class="input-xlarge uneditable-input"><span class="input-xlarge uneditable-input">{{ isActive(entity.activo) }}</span></span></div>
                    </div>
                </div>
            </div>
            </fieldset>
        </form>
    </div>
    </div>
</div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-sm-offset-2 col-sd-offset-2">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_articulo') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_articulo_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
            </div>
{% endblock %}
