{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Router'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Router'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>
            <form action="{{ path('superadmin_role_router_debug_update') }}" method="POST">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            {% for title in titles %}
                                {% if title == "Generar" %}
                                    <th>{{ title }}<br>
                                    <input type="checkbox" id="selecctall"/>todos</th>
                                {% else %}
                                    <th>{{ title }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% autoescape false %}
                            {% for ruta in rutas %}
                                <tr>
                                    {% for value in ruta %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% endautoescape %}
                        <tr><td><input type="submit" /></td></tr>
                    </tbody>
                </table>
            </form>
        </div>
    <div class="col-lg-4 navigation"></div>
    <div class="col-lg-8"></div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/sistemamwsconf/js/allCheckbox.js') }}"></script>
{% endblock %}
