.nav-pills > li.active.green > a, .nav-pills > li.active.green > a:hover, .nav-pills > li.active.green > a:focus {
    background-color: green !important;
    color: #FFFFFF !important;
}
.nav-pills > li.active.red > a, .nav-pills > li.active.red > a:hover, .nav-pills > li.active.red > a:focus {
    background-color: red !important;
    color: #FFFFFF !important;
}