{% block sistema_stockbundle_ordensalida_widget %}
    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}
    <div class="well col-lg-12 col-md-12 col-sm-12">
        {{ form_row(form.orden) }}
    </div>
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddArticulo.html.twig' with { 'form' : form ,'tipoOrden':'salida'} %}
    {{ form_row(form.empleado) }}
    <div style="height: 10px;" class="col-lg-12 col-md-12 col-sm-12"></div>
{% endblock %}
