{% block sistema_stockbundle_ordenentrada_widget %}
    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}
    <div class="well col-lg-12 col-md-12 col-sm-12">
        {{ form_row(form.ordenSalida) }}
    </div>
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddArticulo.html.twig' with { 'form' : form,'tipoOrden':'entrada' } %}
{% endblock %}
