{% block sistema_stockbundle_empleadohora_widget %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{ form_row(form.fecha) }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{ form_row(form.desde) }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{ form_row(form.hasta) }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            {{ form_row(form.costoHora) }}
        </div>
    </div>
    {% if form.empleado is defined %}
        {{ form_row(form.empleado) }}
    {% endif %}
{% endblock %}