{% block sistema_stockbundle_entregasherramientas_widget %}
    {# form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' #}

    <div class="well col-lg-12 col-md-12 col-sm-12">
    {{ form_row(form.empleado) }}
    {{ form_row(form.orden) }}
    </div>
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddCantEntregaHerramienta.html.twig' with { 'form' : form } %}
{% endblock %}
