{% block sistema_stockbundle_orden_widget %}

    {% form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' %}

    <div class="well">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.numero) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.fecha) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.funcion) }}
            </div>
        </div>
        <br>
        <div class="row">
            {{ form_row(form.cliente) }}
            {{ form_row(form.domicilio) }}
        </div>
        <br>
        <div class="row">
            {{ form_row(form.trabajosRealizados) }}
        </div>
    </div>
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddArticulo.html.twig' with { 'form' : form,'tipoOrden':'' } %}
    {% include 'SistemaSTOCKBundle:widget:form_fields_AddEmpleado.html.twig' with { 'form' : form } %}
    <div class="well">
        <div class="row">
            {{ form_row(form.observaciones) }}
        </div>
        <br>
        <div class="row">
            {{ form_row(form.descuentoOrden) }}<div style="float:left;color:green;font-size:20px;">%</div>
        </div>
        <div class="row">
            {{ form_row(form.montoDescuento) }}<div style="float:left;color:green;font-size:20px;">$</div>
        </div>
        <div class="row">
            {{ form_row(form.horasPresupuesto) }}
        </div>
        <div class="row">
            {{ form_row(form.cerrada) }}
            {% if isNew is defined %}
                {{ form_row(form.reservaMateriales) }}
            {% endif %}
        </div>
    </div>
{% endblock %}