{% macro prototipoEmpleado(entity, key) %}
{% if key is null %}
    {% set idEmpleado = "__name__" %}
{% else %}
    {% set idEmpleado = key %}
    <script type="text/javascript">
        addUl({{ idEmpleado }}, "{{ entity.vars.value.empleado.apellido ~ ' ' ~ entity.vars.value.empleado.nombre }}");
    </script>
{% endif %}
    <div class="rowremove tab-pane" id="empleado_{{ idEmpleado }}" li="empleado-li-{{idEmpleado}}">
        <div class='form-group'>
            <br>
            <div>{{ form_row(entity.empleado) }}</div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="ribon_dom_hora_{{ idEmpleado }}"><button type="button" class='add_empleadohora_link btn btn-info'><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-time"></span></button></div>
            </div>
            <div class='col-lg-1 col-md-1 col-sm-1 hidden'>
                <a id="empleado_remove_{{ idEmpleado }}" class='btnRemoveEmpleado btn btn-sm btn-danger' href='#'>
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </div>
            {% include 'SistemaSTOCKBundle:widget:form_fields_AddEmpleadoHora.html.twig' with { 'empleadoHoras' : entity.empleadoHoras, 'key': key  } %}
        </div>
    </div>
    <script type="text/javascript">
        var str;
        $('#tabs-container select').change(function() {
            $('#' + this.id + ' option:selected').each(function() {
                str = $(this).text();
                $(".tab-content .tab-pane").each(function(){
                    if($(this).hasClass('active')) {
                        var result = $(this).attr("id").split("empleado_")[1];
                        $('#empleado-a-'+ result).html(str+'&nbsp;<i id="empleado-borrar-'+result+'" class="pull-right btn btn-xs btn-danger glyphicon glyphicon-trash pull-right"></i>');
                    }
                });
            });
        });

        $('.empleadotabs-ul').bind('click', function(event) {
            if (event.target.id === "empleado-borrar-"+{{idEmpleado}}){
                if (confirm("Esta Seguro que desea Eliminar este Empleado")) {
                    $("#empleado_remove_"+{{idEmpleado}}).trigger("click");
                }
            }
        });
    </script>
{% endmacro %}
