{% macro prototipoArticulo(entity, ordenReadOnly, tipoOrden, nroOrden) %}
    <tr class='rowremove'>
    <div class='row'>
        <div class='form-group'>
            {% if ordenReadOnly == 0 %}
                {% if entity.cantidadMaxima is defined %}
                    <td>{{ form_widget(entity.cantidadMaxima) }}</td>
                {% endif %}
                <td>{{ form_widget(entity.articulo, { 'read_only': false }) }}</td>
                <td>{{ form_widget(entity.cantidad, { 'read_only': false }) }}</td>
                <td>
                    <div class='col-lg-1 col-md-1 col-sm-1'>
                        <a class='btnRemoveArticulo btn btn-sm btn-danger' href='javascript:;'>
                            <i class='glyphicon glyphicon-trash'></i>
                        </a>
                    </div>
                </td>
            {% else %}
                {% if entity.cantidadMaxima is defined %}
                    <td>{{ form_widget(entity.cantidadMaxima) }}</td>
                {% endif %}
                <td>{{ form_widget(entity.articulo, { 'read_only': true }) }}</td>
                {% if tipoOrden == 'salida' or tipoOrden == 'entrada' %}
                    <td>{{ form_widget(entity.cantidad, { 'read_only': false }) }}</td>
                {% else %}
                    <td>
                        {{ form_widget(entity.cantidad, { 'read_only': true }) }}
                    </td>
                {% endif %}
                <td>
                    {% if tipoOrden != 'salida' and tipoOrden != 'entrada' %}
                        <div>
                            <div class="input-group">
                                <input type="text" id="descontar_{{ entity.obtenerId.vars.value }}" class="form-control" placeholder="Cantidad">
                                <span style="cursor: pointer;" class="input-group-addon tooltips tooltip-info" rel='tooltip' data-original-title='Descontar articulos no utilizados o devueltos' onclick="descontar({{ nroOrden }},{{ entity.obtenerId.vars.value }} );"><i class='glyphicon glyphicon-download'></i></span>
                                <span style="cursor: pointer;" class="input-group-addon tooltips tooltip-info" rel='tooltip' data-original-title='Aumentar articulos' onclick="contar({{ nroOrden }},{{ entity.obtenerId.vars.value }} );"><i class='glyphicon glyphicon-upload'></i></span>
                            </div>
                        </div>
                    {%endif%}
                </td>
            {% endif %}
        </div>
    </div>
</tr>
{% endmacro %}