{% macro prototipoEmpleadoHora(entity) %}
    <div class='row rowremovehora'>
        {{ form_row(entity.fecha) }}
        {{ form_row(entity.desde) }}
        {{ form_row(entity.hasta) }}
        <a class='btnRemoveEmpleadoHora btn btn-sm btn-danger' href='#'><i class='glyphicon glyphicon-trash'></i></a>
    </div>
{% endmacro %}
