{% macro prototipoCantAddArticulo(entity) %}
    <tr class='rowremove'>
    <div class='row'>
        <div class='form-group'>
            <td>{{ form_widget(entity.articulo) }}</td>
            <td>
                {{ form_widget(entity.cantidad) }}
            </td>
            <td>
                {{ form_widget(entity.precio) }}
            </td>
            <td>
                {{ form_widget(entity.subTotal) }}
            </td>
            <td>
                <div class='col-lg-1 col-md-1 col-sm-1'>
                    <a class='btnRemoveCantAddArticulo btn btn-sm btn-danger' href='javascript:;'>
                        <i class='glyphicon glyphicon-trash'></i>
                    </a>
                </div>
            </td>
        </div>
    </div>
</tr>
{% endmacro %}

{% macro prototipoCantAddArticuloShow(entity) %}
    <tr class='rowremove'>
    <div class='row'>
        <div class='form-group'>
            <td>{{ form_widget(entity.articulo,{ 'attr': { 'readonly': 'true' } }) }}</td>
            <td>
                {{ form_widget(entity.cantidad,{ 'attr': { 'readonly': 'true' } }) }}
            </td>
            <td>
                {{ form_widget(entity.precio,{ 'attr': { 'readonly': 'true' } }) }}
            </td>
            <td>
                {{ form_widget(entity.subTotal,{ 'attr': { 'readonly': 'true' } }) }}
            </td>
        </div>
    </div>
</tr>
{% endmacro %}

{% macro prototipoCantAddArticuloConPrecioSubtotal(entity) %}
    <tr class='rowremove'>
    <div class='row'>
        <div class='form-group'>
            <td>{{ form_widget(entity.articulo) }}</td>
            <td>
                {{ form_widget(entity.precio) }}
            </td>
            <td>
                {{ form_widget(entity.cantidad) }}
            </td>
            <td>
                {% if entity.vars.value.precio is defined %}
                    {{ form_widget(entity.subTotal, { 'attr': { 'readonly': 'true' },'value': entity.vars.value.precio * entity.vars.value.cantidad }) }}
                {% else %}
                    {{ form_widget(entity.subTotal, { 'attr': { 'readonly': 'true' } }) }}
                {% endif %}
            </td>
            <td>
                <div class='col-lg-1 col-md-1 col-sm-1'>
                    <a class='btnRemoveCantAddArticulo btn btn-sm btn-danger' href='javascript:;'>
                        <i class='glyphicon glyphicon-trash'></i>
                    </a>
                </div>
            </td>
        </div>
    </div>
</tr>
{% endmacro %}

{% macro prototipoCantAddArticuloShow(entity) %}
    <tr class='rowremove'>
    <div class='row'>
        <div class='form-group'>
            <td>{{ form_widget(entity.articulo,{ 'attr': { 'readonly': 'true' } }) }}</td>
            <td>
                {{ form_widget(entity.precio,{ 'attr': { 'readonly': 'true' } }) }}
            </td>
            <td>{{ form_widget(entity.cantidad,{ 'attr': { 'readonly': 'true' } }) }}</td>
            <td>
                {{ form_widget(entity.subTotal,{ 'attr': { 'readonly': 'true' } }) }}
            </td>
        </div>
    </div>
</tr>
{% endmacro %}