{% macro prototipoEmpleadoCargo(entity) %}
    <tr class='rowremove'>
        <div class='row'>
            <div class='form-group'>
                    <td>{{ form_widget(entity.tareaEmpleadoCargo) }}</td>
                    <td>{{ form_widget(entity.horas) }}</td>
                    <td>
                        <div class='col-lg-1 col-md-1 col-sm-1'>
                            <a class='btnRemoveEmpleadoCargo btn btn-sm btn-danger' href='#'>
                                <i class='glyphicon glyphicon-trash'></i>
                            </a>
                        </div>
                   </td>
            </div>
        </div>
    </tr>
{% endmacro %}
