{% macro prototipoCantEntregaHerramienta(entity) %}
    <tr class='rowremove'>
        <div class='row'>
             <div class='form-group'>
                {% if entity.cantidadMaxima is defined %}
                    <td>{{ form_widget(entity.cantidadMaxima) }}</td>
                {% endif %}
                <td>{{ form_widget(entity.herramienta) }}</td>
                <td>{{ form_widget(entity.cantidad) }}</td>
                <td>

                        <div class='col-lg-1 col-md-1 col-sm-1'>
                            <a class='btnRemoveCantEntregaHerramienta btn btn-sm btn-danger' href='#'>
                                <i class='glyphicon glyphicon-trash'></i>
                            </a>
                        </div>

                </td>
            </div>
        </div>
    </tr>
{% endmacro %}
