<!-- Modal -->
<div class="col-lg-9 col-sm-9 col-sd-9">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="alert alert-warning">
                        <h4 class="modal-title" id="myModalLabel">
                            Ingrese los Datos de la Factura
                        </h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3">
                            <label for="proceso">Seleccione Proceso</label>
                            <input id="proceso" type="hidden">
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary likepaginator btnNew"  data-tipo="B" {#href="{{ path('admin_facturaventa_new', { 'tipo': "B" }) }}"#}>
                        Factura de Venta B
                    </a>
                    <a class="btn btn-primary likepaginator btnNew"  data-tipo="A" {#href="{{ path('admin_facturaventa_new', { 'tipo': "A" }) }}"#}>
                        Factura de Venta A
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>