<tr class='rowremove'>
	<td></td>
	<td colspan="2">
	    {{ form_widget(cheque.banco) }} 
	    {{ form_widget(cheque.chequeNumero) }} 
	    {{ form_widget(cheque.chequeFechaVencimiento) }}
	</td>
</tr>
