{% form_theme form 'SistemaRRHHBundle:Form:form_fields_cliente.html.twig' %}
<div class="panel panel-default center-block">
    <div class="panel-heading">
        <h3 class="panel-title center-block">
            <strong>{{ titulo }}</strong>
        </h3>
    </div>
    <div class="panel-body">
        <div class="label label-info">
            <label class="small"><span style="font-size: 14px;color: red;font-weight: bold;">*</span> CAMPOS REQUERIDOS</label>
            <label class="small"><span style="font-size: 14px;color: green;font-weight: bold;">*</span> AL MENOS UN CAMPO REQUERIDO</label>
        </div>
        <br><br>
            {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.apellido) }}
            {{ form_row(form.nombre) }}
        </div>
        <div class="row">
            {#{{ form_row(form.dni) }}#}
            {{ form_row(form.empresa) }}
            {{ form_row(form.cuitcuil) }}
        </div>
        <div class="row">
            {{ form_row(form.activo) }}
        </div>
        <div class="row">
        {% include 'SistemaRRHHBundle:Form:form_fields_telefono.html.twig' with { 'form' : form } %}
        </div>
        <div class="row">
        {% include 'SistemaRRHHBundle:Form:form_fields_domicilio.html.twig' with { 'form' : form } %}
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
