{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Proveedor'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}


{% block stylesheets %}
<style>
.nav-pills > li.active.green > a, .nav-pills > li.active.green > a:hover, .nav-pills > li.active.green > a:focus {
    background-color: green !important;
    color: #FFFFFF !important;
}
.nav-pills > li.active.red > a, .nav-pills > li.active.red > a:hover, .nav-pills > li.active.red > a:focus {
    background-color: red !important;
    color: #FFFFFF !important;
}
</style>
{% endblock %}

{% block page %}
<div class="row">
     <div class="col-lg-4">
        <ul class="nav nav-pills">
            <li {%if estado == "activo" %}class="active green"{%else%}class=""{%endif%}><a href="{{ path('admin_proveedor') }}">Proveedor Activos</a></li>
            <li {%if estado == 'inactivo' %}class="active red"{%else%}class=""{%endif%}class=""><a href="{{path('admin_proveedor_inactivo')}}">Proveedor Inactivos</a></li>
        </ul>
    </div>
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Proveedor'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>

        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                    {%endif%}
                    <th{% if entities.isSorted('a.Apellido') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Apellido', 'a.apellido') }}</th>
                    <th{% if entities.isSorted('a.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nombre', 'a.nombre') }}</th>
                    <th{% if entities.isSorted('a.Empresa') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Razon Social', 'a.empresa') }}</th>
                    {#<th{% if entities.isSorted('a.Dni') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Dni', 'a.dni') }}</th>#}
                    {#<th{% if entities.isSorted('a.Cuitcuil') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cuitcuil', 'a.cuitcuil') }}</th>#}
                    {#<th{% if entities.isSorted('a.Fechanacimiento') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fechanacimiento', 'a.fechanacimiento') }}</th>#}
                    {#<th{% if entities.isSorted('a.Activo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Activo', 'a.activo') }}</th>#}
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td class="visible-lg"><a href="{{ path('admin_proveedor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    {%endif%}
                    <td>{{ entity.apellido }}</td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.empresa }}</td>
                    {#<td>{{ entity.dni }}</td>#}
                    {#<td>{{ entity.cuitcuil }}</td>#}
                    {#<td>{% if entity.fechanacimiento %}{{ entity.fechanacimiento|date('Y-m-d') }}{% endif %}</td>#}
                    {#<td>{{ entity.activo }}</td>#}
                    <td>


                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_proveedor_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                        </a>
                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_proveedor_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                        </a>
                        <a class="glyphicon glyphicon-folder-close tooltips"  href="{{ path('cuentacorriente_proveedor', { 'idProveedor': entity.id }) }}" title="" rel="tooltip" data-original-title="Cuenta corriente">
                        </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

        <div class="col-lg-8">
        <a class="btn btn-primary likepaginator" href="{{ path('admin_proveedor_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Proveedor
        </a>
    </div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}
