{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'ClienteCondicion'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="well well-lg">
        <h1>ClienteCondicion</h1>
        <form class="form-horizontal">
            <fieldset>                {#<div class="form-group">
                        <label class="control-label">Id</label>
                        <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                    </div>#}                <div class="form-group">
                    <label class="control-label">Condicion</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.condicion }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Iva %</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.iva }}</span>                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Discriminar</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ isActive(entity.discriminar) }}</span>                   </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_clientecondicion') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_clientecondicion_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
