{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'EmpleadoHora'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
{% endblock %}
{% block page %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.edit.edit'|trans({'%entity%': 'EmpleadoHora'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>

        <div class="panel-body">
            {% form_theme edit_form 'SistemaSTOCKBundle:Form:form-empleado-hora-theme.html.twig' %}
            {{ form(edit_form) }}
        </div>
    </div>
    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_empleadohora_horasOciosas', { 'empleado': entity.empleadoOrden.empleado.id }) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}
