{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'EmpleadoHora'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
{% endblock %}
{% block page %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'EmpleadoHora'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>

        <div class="panel-body">
            {% form_theme form 'SistemaSTOCKBundle:Form:form-empleado-hora-theme.html.twig' %}
            {{ form(form) }}
            {#<input name="empleado" type="hidden" value="{{empleado}}">#}
           
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_empleadohora') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}
