{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'EmpleadoHora'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="well well-lg">
        <h1>EmpleadoHora</h1>
        <form class="form-horizontal">
            <fieldset>                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Desde</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.desde|date('H:i:s') }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Hasta</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.hasta|date('H:i:s') }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Fecha</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.fecha|date('Y-m-d') }}</span>                    </div>
                </div>        
                <div class="form-group">
                    <label class="control-label">Costo Hora</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">${{ entity.costoHora }}</span>                    </div>
                </div>       </fieldset>
        </form>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_empleadohora_horasOciosas', { 'empleado':  entity.empleadoOrden.empleado.id }) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_empleadohora_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
