{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Rubro'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="panel panel-info">
    <div class="panel-heading"><h4>Rubro</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label">Nombre</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.nombre ? entity.nombre : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <label class="control-label">Cantidad Mínima</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.cantidadMinima ? entity.cantidadMinima : "&nbsp;")|raw }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_rubro') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_rubro_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
</div>

{% endblock %}
