{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Asiento'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <h3>{{ 'views.index.list'|trans({'%entity%': 'Asiento'}, 'MWSimpleCrudGeneratorBundle') }}</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3">
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Exportar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="glyphicon glyphicon-file tooltips" style="color: green;" href="{{ path('admin_asientos_xls') }}"> Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Numero</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Saldo</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% set totalDebe  = 0 %}
            {% set totalHaber = 0 %}
            {% set saldo = 0 %}
            {% for entity in entities %}
                <tr>
                    {% if entity.comprobante %}
                      <td>{{ entity.comprobante.getTipoDocumento() }}</td>
                      <td>{{ entity.comprobante.numero }}</td>
                      <td>{{ entity.comprobante.descripcion }}</td>
                    {% else %}
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    {% endif %}
                    <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif %}</td>
                    <td>{{ entity.cuenta }}</td>
                    <td>{{ entity.debe }}</td>
                    <td>{{ entity.haber }}</td>
                    {% set saldo  = entity.debe - entity.haber %}
                    <td>{{ saldo }}</td>
                    <td>
                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('asiento_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Ver Asiento"></a>
                    </td>    
                </tr>
                {% set totalDebe  = totalDebe + entity.debe %}
                {% set totalHaber = totalHaber + entity.haber %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ totalDebe }}</td>
                <td>{{ totalHaber }}</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-8">
    <a class="btn btn-primary likepaginator" href="{{ path('asiento_new') }}">
        {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Asiento
    </a>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $('.tooltips').tooltip();
    $(document).ready(function () {
        $(".fecha").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'es',
            minView: 2
        });
    });
</script>
{% endblock %}
