<div class="well col-lg-8 col-md-8 col-sm-8 col-lg-push-2 col-sm-push-2 col-sd-push-2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h3>Asientos</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th>Debe</th>
                        <th>Haber</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asiento in entity.asientos %}
                        <tr>
                            <th>{{ asiento.cuenta }}</th>
                            <th>{{ asiento.debe|number_format(2, ',', '.') }}</th>
                            <th>{{ asiento.haber|number_format(2, ',', '.') }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>