{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Generar Factura
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
{% endblock %}
{% block page %}
    <style type="text/css">
        .dual-list .list-group {
            margin-top: 8px;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 100px;
        }

        .list-arrows button {
            margin-bottom: 20px;
        }
        .active{
            background-color: #428bca;
            color:white;
        }
    </style>
    <div class="container">
        <div class="row well">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>Buscar Cliente</label>
                <input type="hidden" id="selectBuscarClientes">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <br>
                <button class="btn btn-default" id="btnBuscarAnticipos">Buscar Anticipos</button>
            </div>
        </div>
        {% if cliente is not null%}
            <h4>Anticipos de ventas de {{cliente}}</h4>
        {%endif %}
        {% include 'SistemaFACTURACIONBundle:widget:form_fields_AddAnticipoVenta.html.twig' with { 'anticipos' : entitys} %}
    </div>
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $("#btnBuscarAnticipos").click(function () {
            location.href = Routing.generate('admin_anticipoventa_generarFactura', {cliente: $("#selectBuscarClientes").val()});
        });
        $("#selectBuscarClientes").select2({
            placeholder: "Buscar Cliente...",
            minimumInputLength: 1,
            width: '100%',
            // instead of writing the function to execute the request we use Select2's convenient helper
            ajax: {
                url: "{{path('AnticipoVenta_autocomplete_clientes')}}",
                dataType: "json",
                quietMillis: 250,
                data: function (term, page) {
                    return {
                        // search term
                        q: term
                    };
                },
                results: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return {results: data};
                },
                cache: true
            }
        });
    </script>
{% endblock %}