{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'AnticipoVenta'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'AnticipoVenta'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>    
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                            <th{% if entities.isSorted('a.Numero') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Numero', 'a.numero') }}</th>
                            <th{% if entities.isSorted('a.Fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha', 'a.fecha') }}</th>
                            <th{% if entities.isSorted('a.Descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Descripcion', 'a.descripcion') }}</th>
                            <th{% if entities.isSorted('a.Monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Monto', 'a.monto') }}</th>
                            <th{% if entities.isSorted('a.Anulado') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Anulado', 'a.anulado') }}</th>
                            <th{% if entities.isSorted('a.Formapago') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Formapago', 'a.formaPago') }}</th>
                            <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('admin_anticipoventa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.numero }}</td>
                                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ entity.descripcion }}</td>
                                <td>{{ entity.monto }}</td>
                                <td>{{ entity.anulado ? isActive(true, 'Anulado', '' ) : isActive(false, '', 'Disponible' ) }}</td>
                                <td>{{ entity.formaPago }}</td>
                                <td>
                                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_anticipoventa_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                    </a>
                                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_anticipoventa_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer"> 
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3">
                        <label for="proceso">Seleccione Proceso</label>
                        <input id="proceso" type="hidden">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path('admin_anticipoventa_generarFactura') }}">
                Generar Factura
            </a>
            <a class="btn btn-primary likepaginator btnNew" href="javascript:;" {#href="{{ path('admin_anticipoventa_new') }}"#}>
                {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} AnticipoVenta
            </a>
        </div>
    </div>
    {% include 'SistemaMWSFORMBundle:Default:modalAlert.html.twig' %}
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript">
        $('.tooltips').tooltip();
        var url = "admin_anticipoventa_new";
    </script>
    <script src="{{ asset('bundles/sistemaplandecuentas/js/selectProceso.js') }}"></script>
{% endblock %}