{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'LogEntry'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'LogEntry'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>    
   
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                    <th{% if entities.isSorted('a.Fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha', 'a.fecha') }}</th>
                    <th{% if entities.isSorted('a.Usuario') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Usuario', 'a.usuario') }}</th>
                    <th{% if entities.isSorted('a.Dato') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Dato', 'a.dato') }}</th>
                    <th{% if entities.isSorted('a.Accion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Accion', 'a.accion') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_logentry_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.usuario }}</td>
                    <td>{{ entity.dato }}</td>
                    <td>{{ entity.accion }}</td>
                    <td>
                        
        
                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_logentry_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

            </a>
                                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    </div>
        
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}