{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Articulo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-lg-offset-1 col-sd-offset-1 col-sm-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Auditoria</h4></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Accion</th>
                                <th>Datos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.LoggedAt|date('d-m-Y h:i') }}</td>
                                    <td>{{ entity.username }}</td>
                                    <td>{{ entity.action }}</td>
                                    <td>
                                        <dl class="dl-horizontal">
                                            {% for key,dato in entity.data %}
                                                {% if dato is not null %}
                                                    <dt>{{ key|title }}</dt>
                                                    <dd>{{ getFormat(key,dato) }}</dd>
                                                {% endif %} 
                                            {% endfor %} 
                                        </dl>
                                    </td>
                                </tr>
                            {% endfor %}                              
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalVerDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">
                        <input type="text" id="txtEntity" readonly="readonly"  class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".verDetalle").click(function() {
                var entity = $(this).data('entity');
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: "{{ path('admin_logentry_get_entity_byId') }}",
                    data: {_id: id, _entity: entity},
                    success: function(array) {
                        $("#myModalLabel").html(MaysPrimera(entity));
                        $("#txtEntity").val(array[0]["entity"]);
                        $('#modalVerDetalle').modal('show');
                    }
                });
            });
        });
        function MaysPrimera(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        $('.tooltips').tooltip();
        $(document).ready(function() {
            $(".fecha").datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                minView: 2
            });
        });
    </script>
{% endblock %}
