{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Anticipo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        {#<div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
            <div class="alert alert-block alert-danger fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                {{ form(filterForm) }}
                </div>
            </div>
        </div>#}
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Listado de anticipos <strong class="text-primary">{{empleado}}</strong></h3>
            </div>    

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                        <th{% if entities.isSorted('a.Fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha', 'a.fecha') }}</th>
                        <th{% if entities.isSorted('a.concepto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Concepto', 'a.concepto') }}</th>
                        <th{% if entities.isSorted('a.Monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Monto', 'a.monto') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_anticipo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ entity.concepto }}</td>
                            <td>{{ entity.monto }}</td>
                            <td>


                                <a class="glyphicon text-danger glyphicon-remove tooltips"  href="{{ path('admin_anticipo_delete', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Eliminar Anticipo">
                                </a>
                                <a class="glyphicon glyphicon-print green tooltips"  href="{{ path('admin_imprimir_anticipo', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Imprimir Anticipo" target="_blank"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>


    </div>
    <div class="col-lg-9 col-sm-9 col-lsd-9">
        <div class="float-left col-lg-3 col-sm-3 col-sd-3">
            <a class="btn btn-info col-lg-11 col-sm-11 col-sd-11" id="back">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();

        $(document).ready(function () {
            $('#back').click(function () {
                parent.history.back();
                return false;
            });
        });

    </script>
{% endblock %}