{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Anticipo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>

    <style>
    .green {
        color: #008000;
    }
    .red {
        color: #8B0000;
    }
    </style>
{% endblock %}
    
{% block page %}
    {% form_theme form 'SistemaFACTURACIONBundle:widget:form_fields_recibo.html.twig' %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                Anticipo de Sueldo - <strong class="text-info">{{empleado}}</strong>
                <hr>
            </h3>
        </div>
            
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>

<div class="col-lg-9 col-sm-9 col-lsd-9">
    <div class="float-left col-lg-3 col-sm-3 col-sd-3">
        <a class="btn btn-info col-lg-11 col-sm-11 col-sd-11" href="{{ path('admin_sueldo') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
    
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
