<style>
    table {
        font-size: 10px;
    }
    .espacio-alto {
        height: 30px;
    }
    .cliente td {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }
    .no-botton {
        border-bottom: 1px solid white;
    }
    .no-top {
        border-bottom: 1px solid black;
    }
    .trabajos-materiales {
        border:1px solid black;
        width:100%;
    }
    .trabajos-materiales td {
        text-align: left;
    }
    .empleados td {
        text-align: center;
    }
    .td-descripcion {
        border-right-style: dotted;
        width: 40%;
    }
    .td-cantidad {
        width: 20%;
    }
    .td-descripcion-head {
        border-right-style: dotted;
        border-bottom-style: dotted;
        width: 80%;
    }
    .td-cantidad-head {
        border-bottom-style: dotted;
        width: 20%;
    }
    .firmas {
        width: 100%;
    }
    .firmas td {
        text-align: center;
    }
    article {
        border: 1px #000000 solid;
    }
    .firmas td {
        text-align: left;
    }
    .totales {
        font-weight: bold;
    }
    .espacio-ancho{
        height: 70%;
    }
</style>
<html>
    <body>
        <div class="espacio-alto"></div>
        <article>
            <div class="espacio-alto"></div>
            <table border="1" class="trabajos-materiales">
                <tr>
                    <td style="width: 20%;">Fecha</td>
                    <td style="width: 60%;">Concepto</td>
                    <td style="width: 20%;">Monto</td>
                </tr>
                <tr>
                    <td>{{ entity.fecha|date('d-m-Y') }}</td>
                    <td>{{ entity.concepto }}</td>
                    <td>$ {{ entity.monto }}</td>
                </tr>

            </table>

        </article>
        <div class="espacio-alto"></div>
        <div class="espacio-alto"></div>
        <div class="espacio-ancho">

            <table style="border: none;" class="trabajos-materiales">
                <tr style="width: 100%;"><td style="border: none; width: 80%;">  </td><td style="border: none; width: 20%;">____________________</td></tr>
                <tr style="width: 100%;"><td style="border: none; width: 80%;">  </td><td style="border: none; width: 20%;">Firma del Empleado</td></tr>
            </table>
        </div>
    </body>
</html>