{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.creation'|trans({'%entity%': 'Presupuesto'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" id="bootstrap-style">
{% endblock %}

{% block page %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Presupuesto Obra'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>
        <div class="panel-body">
            {% form_theme edit_form 'SistemaPresupuestoBundle:Form:form-presupuestoObra-theme.html.twig' %}
            {{ form(edit_form) }}
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_presupuesto') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>

    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sistemapresupuesto/js/cliente.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/ajaxElementOnSelected.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
    <script type="text/javascript">        
        var i = 0;
        {% for valor in entity.horasextra %}
            $("#sistema_presupuestobundle_presupuesto_horasextra_"+ i +"_canthoras").on("change paste keyup", function (e) {
            if ($(this).val() === "")
                $(this).val(0);
            calcularTotal($cantAdds);            
        });
        i++;        
        {% endfor %}
    </script>

    <script type="text/javascript">        
        $cantAdds = 0;
        $precioHoras = new Array();
        {% for valor in entity.horasextra %}
            $precioHoras[$cantAdds] = parseFloat({{valor.cargo.costoHoraCliente}});
            $cantAdds++;
        {% endfor %}
    </script>
    <script src="{{ asset('bundles/sistemapresupuesto/js/presupuestoObra.js') }}"></script>

{% endblock %}