{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Presupuesto'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.min.js') }}"></script>
    <style>
        .green {
            color: #008000;
        }
        .red {
            color: #8B0000;
        }
    </style>
{% endblock %}

{% block page %}
    <div class="col-lg-11 col-md-11 col-sm-11 espacio" id="mostrarinfor"></div>    
    <div class="row">
        <div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Presupuesto'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        <th{% if entities.isSorted('a.Numero') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Numero', 'a.numero') }}</th>
                        <th{% if entities.isSorted('cli.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cliente', 'cli.nombre') }}</th>
                        <th{% if entities.isSorted('a.Funcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Funcion', 'a.funcion') }}</th>
                        <th{% if entities.isSorted('a.Fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha', 'a.fecha') }}</th>
                        <th{% if entities.isSorted('a.Costototal') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Costo', 'a.costoTotal') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.numero }}</td>
                            <td>{{ entity.cliente }}</td>
                            <td>{{ entity.getFuncionString }}</td>
                            <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif %}</td>

                            <td>
                                <span class="glyphicon glyphicon-usd">{{ entity.costoTotal }}</span>
                            </td>
                            <td>
                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_presupuesto_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_presupuesto_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">
                                </a>
                                <a class="glyphicon glyphicon-print green tooltips"  href="{{ path('admin_presupuesto_imprimir', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="Imprimir Presupuesto" target="_blank"></a>
                                <span id="generarOrden_{{entity.id}}">
                                    {% if entity.ordenes.values is empty %}
                                        <a class="glyphicon glyphicon-export green tooltips" onclick="generarOrden({{ entity.id }});" href="javascript:;"  title="" rel="tooltip" data-original-title="Generar Orden"></a>
                                    {% else %}
                                        <i style='color: darkred;' class='glyphicon glyphicon-ban-circle tooltips' rel='tooltip' title='Orden Generada'></i>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path('admin_presupuesto_obra_new') }}">
                Crear Presupuesto Obra
            </a>
            <a class="btn btn-primary likepaginator" href="{{ path('admin_presupuesto_mant_new') }}">
                Crear Presupuesto Mantenimiento
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();

        function generarOrden(id)
        {
            if (confirm("¿Esta seguro que desea Generar la O.T.?")) {
                $("#mostrarinfor").empty();
                $.ajax({
                    type: "POST",
                    url: "{{ path('admin_generar_presupuesto_orden') }}",
                    data: {id: id},
                    success: function (objeto) {
                        if (objeto["resultado"] === true) {
                            $('#generarOrden_' + id).html("<i style='color: darkred;' class='glyphicon glyphicon-ban-circle tooltips' rel='tooltip' title='Orden Generada'></i>");
                            $('#mostrarinfor').html("<div class='alert alert-success'>O.T. Creada Exitosamente</div>");
                        } else {
                            var articulos = objeto["articulosSinStock"];
                            var mensaje = "Error al actualizar<br>";
                            if (articulos !== "") {
                                mensaje += " Articulos Sin Stock: <br>" + articulos
                            }
                            $('#mostrarinfor').html("<div class='alert alert-danger'>" + mensaje + "</div>");
                        }
                    },
                    error: function (data) {
                        $('#mostrarinfor').html("<div class='alert alert-danger'>Error al actualizar</div>");
                        setTimeout(function () {
                            $('#mostrarinfor').html("");
                        }, 5000);
                    }
                });
            }
        }
    </script>
{% endblock %}