{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Presupuesto'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Presupuesto</h4></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="control-label">Cliente</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.cliente }}</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="control-label">Domicilio</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.domicilio }}</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="control-label">Función</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {% if (entity.funcion == 0) %}
                                            Mantenimiento
                                        {% elseif (entity.funcion == 1) %}
                                            Obra
                                        {% endif %}   
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="control-label">Descripci&oacute;n</label>
                                <div>
                                    <span>
                                        {{ entity.descripcion }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% if entity.tareas|length > 0 %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="bs-example">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Tareas</th>
                                                        <th>Cantidad</th>
                                                        <th>Costo Horas</th>
                                                        <th>Costo Materiales</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for key, presupuestoTarea in entity.tareas %}
                                                        <tr>
                                                            <td>{{ presupuestoTarea.tarea.nombre }} </td>
                                                            <td>{{ presupuestoTarea.cantidad }}</td>
                                                            <td>${{ presupuestoTarea.precioHoras }}</td>
                                                            <td>${{ presupuestoTarea.precioArticulos }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                        {% if entity.articulos|length > 0 %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="bs-example">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Articulos</th>
                                                        <th>Cantidad</th>
                                                        <th>Costo Materiales</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cantarticulo in entity.articulos %}
                                                        <tr>
                                                            <td>{{ cantarticulo.articulo }}</td>
                                                            <td>{{ cantarticulo.cantidad }}</td>
                                                            <td>${{ cantarticulo.articulo.precio * cantarticulo.cantidad }}</td>
                                                            <td>{{cantarticulo.subTotal}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>${{ entity.articulosTotal }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-3 col-md-push-3 col-sm-push-3">
                                <div class="form-group">
                                    <div class="bs-example">
                                        <legend class="text-center">Horas Empleados</legend>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Tiempo en horas</th>
                                                    <td>{{ entity.tiempoHoras }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Cantidad de operarios</th>
                                                    <td>{{ entity.cantOperario }}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>${{ entity.manoDeObraTotal }}</td>
                                                </tr>
                                                {% set totalReal =  entity.articulosTotal + entity.manoDeObraTotal %}
                                                <tr>
                                                    <td>TOTAL DE PRESUPUESTO MANTENIMIENTO</td>
                                                    <td>${{ totalReal }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if (entity.valor is not null) %}
                            <div class="well">
                                <div class="row">
                                    <legend class="text-center">Valores</legend>
                                    <div class="col-lg-5 col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Ayudante Costo Hora</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ entity.valor.ayudanteCostoHora }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Oficial Costo Hora</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ entity.valor.oficialCostoHora }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {#
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <label class="control-label">Gastos Generales</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">$ {{ entity.valor.gastosGenerales }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <label class="control-label">Beneficios</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">{{ entity.valor.beneficio }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <label class="control-label">Impuestos</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ entity.valor.impuestos }}</span>
                                                </div>
                                            </div>
                                            #}
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Gastos Generales</label>
                                                {% set gastosGenerales = entity.manoDeObraTotal * entity.valor.gastosGenerales %}
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ gastosGenerales|number_format(2, '.', ',') }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Beneficios</label>
                                                {% set beneficio = (entity.manoDeObraTotal + gastosGenerales) * entity.valor.beneficio %}
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ beneficio|number_format(2, '.', ',') }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Sub Total (Mano de Obra + Gastos Generales + Beneficios + Materiales)</label>
                                                {% set subTotal = entity.manoDeObraTotal + gastosGenerales + beneficio + entity.articulosTotal %}
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ subTotal|number_format(2, '.', ',') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Impuestos</label>
                                                {% set impuestos = subTotal * entity.valor.impuestos %}
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ impuestos|number_format(2, '.', ',') }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">Total (Mano de Obra + Materiales + Impuestos)</label>
                                                {% set total = impuestos + subTotal %}
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">${{ total|number_format(2, '.', ',') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">Iva Df (x venta)</label>
                                        {% set ivaDf = (total/entity.valor.ivaDividir) *  entity.valor.ivaMultiplicar %}
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">${{ ivaDf|number_format(2, '.', ',') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">Iva Cf (x compra)</label>
                                        {% set ivaCf = entity.articulosTotal *  entity.valor.ivaMultiplicar %}
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">${{ ivaCf|number_format(2, '.', ',') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">Iva a Pagar</label>
                                        {% set ivaPagar = ivaDf - ivaCf %}
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">${{ ivaPagar|number_format(2, '.', ',') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">Ingresos Brutos</label>
                                        {% set ingresosBrutos = (total * entity.valor.ingresosBrutos)/ 100 %}
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">${{ ingresosBrutos|number_format(2, '.', ',') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label class="control-label">Total Impuestos</label>
                                        {% set totalImpuestos = ivaPagar + ingresosBrutos %}
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">${{ totalImpuestos|number_format(2, '.', ',') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        
                                    </div>
                                </div>#}
                            </div>
                        {% endif %}
                        {#<div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-lg-push-8 col-md-push-8 col-sm-push-8">
                                <label class="control-label"><p class="text-center">Saldo Neto Venta Presupuesto</p></label>
                                {% set saldoNeto = total - totalImpuestos %}
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input"> <p class="text-center label-important">${{ saldoNeto|number_format(2, '.', ',') }}</p></span>
                                </div>
                            </div>
                        </div>#}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_presupuesto') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_presupuesto_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
