<html>
    <head>
        <style>
            .bordes {
                border:1px solid;
                border-radius:25px;
            }
            td.border_top {
                border-top:1pt solid black;
            }
            .espacio-chico{
                height: 2px;
            }
            table{
                font-size: 10px;
            }
            .espacio-alto{
                height: 30px;
            }
            .cliente td{
                border-left: 1px solid black;
                border-right:  1px solid black;
                border-top:  1px solid black;
            }
            .no-botton{
                border-bottom: hidden;
            }
            .no-top{
                border-top:  hidden;
            }
            .no-left{
                border-left:   hidden;
            }
            .no-right{
                border-right:  hidden;
            }

            .botton{
                border-bottom: 0.5px dotted black;
            }
            .top{
                border-top:  0.5px dotted black;
            }
            .left{
                border-left:  0.5px dotted black;
            }
            .right{
                border-right: 0.5px dotted black;
            }
            .trabajos-materiales {
                border:1px solid black;
                width:100%;
            }
            .td-descripcion{
                border-right-style: dotted;
                width: 40%;
            }
            .td-cantidad{
                width: 20%;
            }
            .td-descripcion-head{
                border-right-style: dotted;
                border-bottom-style: dotted;
                width: 80%;
            }
            .td-cantidad-head{
                border-bottom-style: dotted;
                width: 20%;
            }
            .trabajos-materiales td{
                text-align: left;
            }
            .firmas{
                width: 100%;
            }
            .firmas td{
                text-align: center;
            }
            .empleados td{
                text-align: center;
            }
            .firmas td{
                text-align: left;
            }
            .colCantidad{
                width: 15%;
            }
            .colArticulo{
                width: 45%;
            }
            .titulos {
                font-weight: bold;
            }
            .titulo-principal {
                font-size: 12px;
                font-weight: bold;
            }
        </style>
    </head>
    <header>
        <table border="1">
            <tbody>
                <tr>
                    <td style="width: 35%; margin-left: 20px;">
                        <div class="center">
                            <img src="{{ asset('bundles/sistemamwsconf/images/logo_neon.jpg') }}" style="width:200px; height:55px;">
                        </div>
                    </td>
                    <td style="width: 40%;">
                        <div class="center">
                            M.M.O. Raúl Roberto Rojas<br>
                            Av. San Martín 2386 Resistencia - Chaco<br>
                            Tel: 362-4489609 / Cel: 362-4641854<br>
                            Email: gerencia@neon3r.com.ar
                        </div>
                    </td>
                    <td style="width: 25%;">
                        <div class="center">
                        Presupuesto Nro: {{ entity.numero }}<br><br>
                        Fecha: {{ entity.created|date('d/m/Y') }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
    <body>
        <div class="espacio-chico"></div>
        <table style="border: 0.5px dotted black;">
            <tbody>
                <tr>
                    <td style="border-bottom: hidden;"><strong>Señor(es):</strong> {{ entity.cliente }}</td>
                </tr>
                <tr>
                    <td style="border-bottom: hidden;"><strong>Direcci&oacute;n:</strong> {{ entity.domicilio }}</td>
                </tr>
                <tr>
                    <td style="border-bottom: hidden;"><strong>Tipo:</strong> {% if entity.funcion == 1 %}Obra{% else %}Mantenimiento{% endif %}</td>
                </tr>
                <hr>
                <tr>
                    <td style="border-bottom: hidden;"><strong>Descripci&oacute;n:</strong> {{ entity.descripcion }}</td>
                </tr>
            </tbody>
        </table>
        {% if entity.tareas.values %}
            {% for cantTarea in entity.tareas.values %}
                {% set tarea = cantTarea.tarea %}
                <div class="espacio-chico"></div>
                <table style="border: 0.5px dotted black;">
                    <tr>
                        <td width="20%" style="text-align:left;" class="titulos botton">TAREAS</td>
                        <td width="30%" style="text-align:left;" class="titulos botton">Descripcion</td>
                        <td width="10%" style="text-align:left;" class="titulos botton">Cantidad</td>
                        <td width="20%" style="text-align:left;" class="titulos botton">Costo Horas</td>
                        <td width="20%" style="text-align:left;" class="titulos botton">Costo Materiales</td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align:left;" class="">{{ tarea.nombre }}</td>
                        <td width="30%" style="text-align:left;" class="">{{ tarea.descripcion }}</td>
                        <td width="10%" style="text-align:left;" class="">{{ cantTarea.cantidad }}</td>
                        <td width="20%" style="text-align:left;" class="">${{ cantTarea.precioHoras }}</td>
                        <td width="20%" style="text-align:left;" class="">${{ cantTarea.precioArticulos }}</td>
                    </tr>
                    <br>
                </table>
            {% endfor %}
        {% endif %}
        {% if entity.articulos.values %}
            {% set totalArticulos = 0 %}
                <div class="espacio-alto"></div>
                <table style="border: 0.5px dotted black;">
                    <tr>
                        <td width="40%" style="text-align:left;" class="titulos botton">ARTICULOS</td>
                        <td width="20%" style="text-align:center;" class="titulos botton">Cantidad</td>
                        <td width="20%" style="text-align:center;" class="titulos botton">Precio Unitario</td>
                        <td width="20%" style="text-align:center;" class="titulos botton">Total</td>
                    </tr>
            {% for cantArticulo in entity.articulos.values %}
                {% set articulo = cantArticulo.articulo %}
                    <tr>
                        <td width="40%" style="text-align:left;" class="">{{ articulo.descripcion }}</td>
                        <td width="20%" style="text-align:center;" class="">{{ cantArticulo.cantidad }}</td>
                        <td width="20%" style="text-align:center;" class="">${{ cantArticulo.precio }}</td>
                        <td width="20%" style="text-align:center;" class="">${{ cantArticulo.subTotal }}</td>
                        {% set totalArticulos = totalArticulos + cantArticulo.subTotal %}
                    </tr>
            {% endfor %}
                    <hr>
                    <tr>
                        <td width="40%" style="text-align:left;" class=""></td>
                        <td width="20%" style="text-align:left;" class=""></td>
                        <td width="20%" class="text-align:left;"><strong>Sub Total Articulos</strong></td>
                        <td width="20%" style="text-align:center;" class="">${{ totalArticulos }}</td>
                    </tr>
                </table>
        {% endif %}
        {% if entity.funcion == 1 %}
            {% if (entity.ayudanteHora > 0) or (entity.oficialHora > 0) %}
            <div class="espacio-alto"></div>
            <table style="border: 0.5px dotted black;">
                <tr>
                    <td width="40%" style="text-align:left;" class="titulos botton">EMPLEADOS</td>
                    <td width="20%" style="text-align:left;" class="titulos botton">Horas</td>
                    <td width="20%" style="text-align:left;" class="titulos botton">Costo Horas</td>
                    <td width="20%" style="text-align:left;" class="titulos botton">Total</td>
                </tr>
                {% if (entity.ayudanteHora > 0) %}
                <tr>
                    {% set ACostoHoraTotal = entity.valor.ayudanteCostoHora * entity.ayudanteHora %}
                    <td width="40%" style="text-align:left;" class="">Ayudante</td>
                    <td width="20%" style="text-align:left;" class="">{{ entity.ayudanteHora }}</td>
                    <td width="20%" style="text-align:left;" class="">${{ entity.valor.ayudanteCostoHora }}</td>
                    <td width="20%" style="text-align:left;" class="">${{ ACostoHoraTotal }}</td>
                </tr>
                {% endif %}
                {% if (entity.oficialHora > 0) %}
                <tr>
                    {% set OCostoHoraTotal = entity.valor.oficialCostoHora * entity.oficialHora %}
                    <td width="40%" style="text-align:left;" class="">Oficial</td>
                    <td width="20%" style="text-align:left;" class="">{{ entity.oficialHora }}</td>
                    <td width="20%" style="text-align:left;" class="">${{ entity.valor.oficialCostoHora }}</td>
                    <td width="20%" style="text-align:left;" class="">${{ OCostoHoraTotal }}</td>
                </tr>
                {% endif %}
                <br>
                <tr>
                    <td width="60%" class="top"></td>
                    <td width="25%" class="top titulos">Sub Total Empleados</td>
                    <td width="15%" style="text-align: center;" class="top titulos"><span style="text-align: right;" class="titulos">$</span>{{ entity.manoDeObraTotal }}</td>
                </tr>
            </table>
            {% endif %}
        {% else %}
            <div class="espacio-alto"></div>
            <table style="border: 0.5px dotted black;">
                <tr>
                    <td width="20%" style="text-align:center;" class="titulos botton">Tiempo en Horas</td>
                    <td width="60%" style="text-align:center;" class="titulos botton">Cantidad de Operarios</td>
                    <td width="20%" style="text-align:center;" class="titulos botton">Mano de Obra Total</td>
                </tr>
                <tr>
                    <td width="20%" style="text-align:center;" class="">{{ entity.tiempoHoras }}</td>
                    <td width="60%" style="text-align:center;" class="">{{ entity.cantOperario }}</td>
                    <td width="20%" style="text-align:center;" class="">${{ entity.manoDeObraTotal }}</td>
                </tr>
                <br>
            </table>
        {% endif %}
        <div class="espacio-alto"></div>

        <div class="espacio-chico"></div>
        <div class="titulo-principal"><span style="text-align: right;">Total Presupuesto: ${{ entity.costototal }}<hr width="100%" size="1"/></span></div>
    </body>
</html>
