{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Presupuesto'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Presupuesto</h4></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="control-label">Cliente</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.cliente }}</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="control-label">Domicilio</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.domicilio }}</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <label class="control-label">Función</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {% if (entity.funcion == 0) %}
                                            Mantenimiento
                                        {% elseif (entity.funcion == 1) %}
                                            Obra
                                        {% endif %}   
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="control-label">Descripci&oacute;n</label>
                                <div>
                                    <span>
                                        {{ entity.descripcion }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% if entity.tareas|length > 0 %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="bs-example">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Tareas</th>
                                                        <th>Cantidad</th>
                                                        <th>Costo Horas</th>
                                                        <th>Costo Materiales</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for key, presupuestoTarea in entity.tareas %}
                                                        <tr>
                                                            <td>{{ presupuestoTarea.tarea.nombre }} </td>
                                                            <td>{{ presupuestoTarea.cantidad }}</td>
                                                            <td>${{ presupuestoTarea.precioHoras }}</td>
                                                            <td>${{ presupuestoTarea.precioArticulos }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                        {% if entity.articulos|length > 0 %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="bs-example">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Articulos</th>
                                                        <th>Cantidad</th>
                                                        <th>Costo Materiales</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cantarticulo in entity.articulos %}
                                                        <tr>
                                                            <td>{{ cantarticulo.articulo }}</td>
                                                            <td>{{ cantarticulo.cantidad }}</td>
                                                            <td>${{ cantarticulo.articulo.precio * cantarticulo.cantidad }}</td>
                                                            <td>{{cantarticulo.subTotal}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>${{ entity.articulosTotal }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if entity.horasextra|length > 0 %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="bs-example">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Empleados</th>
                                                        <th>Horas</th>
                                                        <th>Costo Horas</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for horaextra in entity.horasextra %}
                                                        <tr>
                                                            <td>{{ horaextra.cargo.cargo }}</td>
                                                            <td>{{ horaextra.canthoras }}</td>
                                                            <td>{{ horaextra.costocargo }}</td>
                                                            <td>${{ horaextra.canthoras * horaextra.costocargo }}</td>
                                                        </tr>
                                                    {% endfor %}                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}  
                        {#<div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-lg-push-8 col-md-push-8 col-sm-push-8">
                                <label class="control-label"><p class="text-center">Saldo Neto Venta Presupuesto</p></label>
                                {% set saldoNeto = total - totalImpuestos %}
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input"> <p class="text-center label-important">${{ saldoNeto|number_format(2, '.', ',') }}</p></span>
                                </div>
                            </div>
                        </div>#}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_presupuesto') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_presupuesto_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}