{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Cuenta'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Cuenta'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>    

            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                        <th{% if entities.isSorted('a.Cuenta') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Código', 'a.cuenta') }}</th>
                        <th{% if entities.isSorted('a.Descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Descripcion', 'a.descripcion') }}</th>
                        <th{% if entities.isSorted('a.Parent') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Cuenta Padre', 'a.parent') }}</th>
                        <th{% if entities.isSorted('a.Imputable') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Imputable', 'a.imputable') }}</th>
                        <th{% if entities.isSorted('a.permiteCheque') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Con Cheque', 'a.permiteCheque') }}</th>
                        <th{% if entities.isSorted('a.CajaOrden') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'CajaOrden', 'a.cajaorden') }}</th>
                        <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_cuenta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.cuenta }}</td>
                            <td>{{ entity.descripcion }}</td>
                            <td>{{ entity.parent}}</td>
                            <td>{{ isActive(entity.imputable) }}</td>
                            <td>{{ isActive(entity.permiteCheque) }}</td>
                            <td>{{ entity.cajaOrden }}</div></td>
                            <td>


                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_cuenta_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

                                </a>


                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_cuenta_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}">

                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <div class="col-lg-8">
            <a class="btn btn-primary likepaginator" href="{{ path('admin_cuenta_new') }}">
                {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Cuenta
            </a>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
    </script>
{% endblock %}