{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Cuenta'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="well well-lg">
        <h1>Cuenta</h1>
        <form class="form-horizontal">
            <fieldset>                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Código</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.cuenta }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Descripcion</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.descripcion }}</span>                    </div>
                </div>        
                <div class="form-group">
                    <label class="control-label">Pertenece a la cuenta</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.parent }}</span>                    </div>
                </div>   
                <div class="form-group">
                    <label class="control-label">Imputable</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ isActive(entity.imputable) }}</span>                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Con Cheque</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ isActive(entity.permiteCheque) }}</span>                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Caja Orden</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.cajaOrden }}</span>                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_cuenta') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_cuenta_edit', { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
