{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'EmpleadoTipo'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="panel panel-info">
    <div class="panel-heading"><h4>EmpleadoTipo</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label class="control-label">Nombre</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ (entity.nombre ? entity.nombre : "&nbsp;")|raw }}</span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label class="control-label">Calcula Sueldo Hs en OT</label>
                <div class="form-control">
                    <span class="input-xlarge uneditable-input">{{ entity.calcularSueldoHsOt ? isActive(true, 'Si', '' ) : isActive(false, '', 'No' ) }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_empleadotipo') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path('admin_empleadotipo_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
        </div>
{% endblock %}
