{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'EntregasHerramientas'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sistemamwsform/select2/select2.css') }}">
    <script src="{{ asset('bundles/sistemamwsform/select2/select2.js') }}"></script>

    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    {#form_theme form 'SistemaSTOCKBundle:widget:form_fields_orden.html.twig' #}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                Nueva Entrega
            </h3>
        </div>

        <div class="panel-body">
           {% form_theme form 'SistemaSTOCKBundle:Form:form-entregaherramienta-theme.html.twig' %}
            {{ form(form) }}
            {#{{form_start(form)}}
                {{ form_row(form.empleado) }}
                {{ form_row(form.orden) }}
                {{ form_row(form.herramientas) }}
                <div class="col-lg-12" style="height: 20px;"></div>
            {{form_end(form)}}#}
        </div>
    </div>

        <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="float-left col-lg-3 col-md-3 col-sm-3">
        <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_entregasherramientas') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/cliente.js') }}"></script>
    <script src="{{ asset('bundles/sistemastock/js/ajaxElementOnSelected.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsconf/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/extend/js/jasny-bootstrap.min.js') }}"></script>
<script type="text/javascript">
       /* $(document).ready(function() {


            });*/

       function validacion(campo){
               var num=separar(campo.id);
               console.log(num);
               console.log(parseInt($('#sistema_stockbundle_entregasherramientas_herramientas_'+num+'_cantidadMaxima').val()));
               if (parseInt(campo.value)>parseInt($('#sistema_stockbundle_entregasherramientas_herramientas_'+num+'_cantidadMaxima').val())) {
                 if (campo.parentNode.className!=="form-group has-error col-lg-12 col-md-12 col-sm-12"){
                     campo.parentNode.classList.add("has-error");
                     campo.parentNode.classList.remove("col-lg-6");
                     campo.parentNode.classList.remove("col-sm-6");
                     campo.parentNode.classList.remove("col-sd-6");
                     campo.parentNode.classList.add("col-lg-12");
                     campo.parentNode.classList.add("col-md-12");
                     campo.parentNode.classList.add("col-sm-12");
                     $('#'+campo.id).parent().append("<div id='mjeError"+campo.id+"' Class='text-danger'>Error en la cantidad</div>" );
                 }
                }else{
                   campo.parentNode.classList.remove("has-error");
                   campo.parentNode.classList.remove("col-lg-12");
                   campo.parentNode.classList.remove("col-md-12");
                   campo.parentNode.classList.remove("col-sm-12");
                   campo.parentNode.classList.add("col-sm-6");
                   campo.parentNode.classList.add("col-sd-6");
                   campo.parentNode.classList.add("col-lg-6");

                    $('#mjeError'+campo.id).remove();
                }
             }
        function separar(id){
              var numero=id.split('_');
              return numero[4];
        }
    </script>

{% endblock %}
