{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'EntregasHerramientas'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-sm-offset-1 col-sd-offset-1">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Entrega Herramientas</h4></div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>

                    <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="control-label">Realizada</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.created|localizeddate('full', 'none', idioma) }} a las {{ (entity.created|date('H:i') ? entity.created|date('H:i') : "&nbsp;")|raw }}hs</span>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="control-label">Actualizada</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">{{ entity.updated|localizeddate('full', 'none', idioma) }} a las {{ (entity.updated|date('H:i') ? entity.updated|date('H:i') : "&nbsp;")|raw }}hs</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-lg-push-2 col-sm-push-2 col-sd-push-2">
                            <div class="form-group">
                                <label class="control-label">Empleado</label>
                                <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.empleado}}</span>                    </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3"></div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label class="control-label">O.T. Nro</label>
                                <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ (entity.orden  ? entity.orden : "&nbsp;")|raw}}</span>                    </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-lg-push-2 col-sm-push-2 col-sd-push-2">
                            <div class="form-group">
                                <div class="bs-example">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Herramienta</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             {% for key, cantentregaherramienta in entity.herramientas %}

                                                <tr>
                                                    <td>{{ key+1 }}</td>
                                                    <td>{{cantentregaherramienta.herramienta.descripcion}} </td>
                                                    <td>{{cantentregaherramienta.cantidad}}</td>
                                                </tr>
                                             {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-2 col-sm-offset-2 col-sd-offset-2">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_entregasherramientas') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11 col-md-11 col-sm-11" href="{{ path('admin_entregasherramientas_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                    </a>
                </div>
                <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
            </div>
{% endblock %}

{% block javascript %}
            <script type="text/javascript">

                $(document).ready(function() {
                    var classArray = [];
                    var key = 0;

                    classArray[ 0 ] = "list-group-item-success";
                    classArray[ 1 ] = "list-group-item-info";
                    classArray[ 2 ] = "list-group-item-warning";
                    classArray[ 3 ] = "list-group-item-danger";

                    $("#herramientas-ul li").each(function(index, element) {
                        $(this).addClass(classArray[key]);
                        key++;

                        if (key === 4) {
                            key = 0;
                        }
                    });

                });
                </script>
{% endblock %}
