{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Valor'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
<div class="well well-lg">
    <h1>Valor</h1>
    <form class="form-horizontal">
        <fieldset>                <div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Predeterminado</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.predeterminado }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Ayudantecostohora</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.ayudanteCostoHora }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Oficialcostohora</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.oficialCostoHora }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Gastosgenerales</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.gastosGenerales }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Beneficio</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.beneficio }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Impuestos</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.impuestos }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Ivamultiplicar</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.ivaMultiplicar }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Ivadividir</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.ivaDividir }}</span>                    </div>
                </div>                <div class="form-group">
                    <label class="control-label">Ingresosbrutos</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.ingresosBrutos }}</span>                    </div>
                </div>        </fieldset>
    </form>
</div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_valor') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('admin_valor_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
