{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Cheque'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/sistemamwsform/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
    <link id="bootstrap-style" href="{{ asset('bundles/sistemamwsform/extend/css/jasny-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-2">
        {% if filterForm.vars.errors|length > 0 %}
        <div class="alert alert-block alert-danger fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="col-lg-12">
        <div class="filters-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
    
    <div class="col-lg-12">
        <div id="filters" class="well collapse">
            <div class="form-group">
            {{ form(filterForm) }}
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>{{ 'views.index.list'|trans({'%entity%': 'Cheque'}, 'MWSimpleCrudGeneratorBundle') }}</h3></div>    
   
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Banco') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Banco', 'a.Banco') }}</th>
                    <th{% if entities.isSorted('a.Chequenumero') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Numero', 'a.chequeNumero') }}</th>
                    <th{% if entities.isSorted('a.Chequefechavencimiento') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Fecha de Vencimiento', 'a.chequeFechaVencimiento') }}</th>
                    <th{% if entities.isSorted('a.Debe') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Debe', 'a.chequeDebe') }}</th>
                    <th{% if entities.isSorted('a.Haber') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Haber', 'a.chequeHaber') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleCrudGeneratorBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.banco }}</td>
                    <td>{{ entity.chequeNumero }}</td>
                    <td>{% if entity.chequeFechaVencimiento %}{{ entity.chequeFechaVencimiento|date('d/m/Y') }}{% endif %}</td>
                    {% for asiento in entity.asientos %}
                        <td>{{ asiento.debe }}</td>
                        <td>{{ asiento.haber }}</td>
                    {% endfor %}
                    <td>
                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path('admin_cheque_show', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path('admin_cheque_edit', { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}"></a>
                    </td>  
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <div class="col-lg-4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>

    <div class="col-lg-8">
    {#    
        <a class="btn btn-primary likepaginator" href="{{ path('admin_cheque_new') }}">
            {{ 'views.index.createnew'|trans({}, 'MWSimpleCrudGeneratorBundle') }} Cheque
        </a>
    #}
    </div>
    </div>
        
{% endblock %}


{% block javascript %}
<script type="text/javascript">
$('.tooltips').tooltip();
</script>
{% endblock %}