{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Cheque'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
<div class="well well-lg">
    <h1>Cheque</h1>
    <form class="form-horizontal">
        <fieldset>                
            <div class="form-group">
                <label class="control-label">Banco</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.banco }}</span>                    
                </div>
            </div>                
            <div class="form-group">
                <label class="control-label">Número</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.chequeNumero }}</span>                    
                </div>
            </div>                
            <div class="form-group">
                <label class="control-label">Fecha de Vencimiento</label>
                <div class="form-control">                        
                    <span class="input-xlarge uneditable-input">{{ entity.chequeFechaVencimiento|date('d/m/Y') }}</span>
                </div>
            </div>        
        </fieldset>
    </form>
</div>

<div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_cheque') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('admin_cheque_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
