<div class="well col-lg-8 col-md-8 col-sm-8 col-lg-push-2 col-sm-push-2 col-sd-push-2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h3>Cheques</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Banco</th>
                        <th>Numero</th>
                        <th>Fecha de Vencimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asiento in entity.asientos %}
                        {% if asiento.cheque is not null %}
                        <tr>
                            <th>{{ asiento.cheque.banco }}</th>
                            <th>{{ asiento.cheque.chequeNumero }}</th>
                            <th>{{ asiento.cheque.chequeFechaVencimiento|localizeddate('full', 'none', idioma) }}</th>
                        </tr>
                        {% endif %}    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>