{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': 'User'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% form_theme edit_form 'SistemaUserBundle:Form:form_fields_usuario.html.twig' %}
    {% form_theme edit_form.password 'SistemaUserBundle:Form:form_fields_usuario_edit.html.twig' %}
    {% form_theme edit_form.user_roles 'SistemaMWSFORMBundle:Theme:fields_many_checkbox.html.twig' %}
    <div class="col-lg-12">
        <div class="panel panel-default center-block">
            <div class="panel-heading">
                <h3 class="panel-title center-block">
                    {{ titulo }}
                </h3>
            </div>

            <div class="panel-body">
                {{ form(edit_form) }}
            </div>
        </div>
    </div>

        <div class="col-lg-9">
            <div class="float-left col-lg-3">
                <a class="btn btn-info col-lg-11" href="{{ path('user') }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
        </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
{% endblock %}
