{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'User'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="panel panel-info">
  <div class="panel-heading"><h4>Usuario</h4></div>
  <div class="panel-body">

    <h1>{{ titulo }}</h1>
    <form class="form-horizontal">
        <fieldset>
            {#<div class="form-group">
                    <label class="control-label">Id</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
            </div>#}
            <div class="form-group col-lg-5">
                    <label class="control-label">Nombre</label>
                    <div class="form-control">                        <span class="input-xlarge uneditable-input">{{ entity.username }}</span>                    </div>
            </div>
            <div class="row"></div>
            <div class="form-group col-lg-5">
                    <label class="control-label">Activo</label>
                    <div class="">                        <span class="input-xlarge uneditable-input">{{ isActive(entity.isActive) }}</span>                    </div>
            </div>
            <div class="row"></div>
            <div class="form-group col-lg-5">
                    <label class="control-label">Roles</label>
                    <div class="">
                        <span class="input-xlarge uneditable-input">
                        {%for roles in entity.roles%}
                                {{roles.name}} -
                        {%endfor%}
                        </span>
                   </div>
            </div>
        </fieldset>
    </form>
</div>
</div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('user') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('user_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
