{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Bienvenido
{% endblock %}

{% block menu %}{% endblock %}

{% block titulo %}Bienvenido{% endblock %}

                    {%block menu_login%}
                        <a class="pull-right" href="{{path('homepage')}}"><span class="glyphicon glyphicon-home btn btn-lg"></span>Inicio</a>
                    {%endblock%}

{%block page%}


{% if error %}

<div>{{ error.message |trans({}, 'UserBundle')}}</div>
{% endif %}
<div class="col-lg-6 col-lg-offset-3">
<div class="form-group panel panel-default">
    <div class="panel-heading"> <h3 class="panel-title center-block">Acceso:</h3></div>
    <div class="panel-body">
        <form action="{{ path('login_check') }}" method="post">
            <div>
                <label for="username">{{ 'security.login.username'|trans({}, 'UserBundle') }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div>
                <label for="password">{{ 'security.login.password'|trans({}, 'UserBundle') }}</label>
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit" class="btn btn-success">{{ 'security.login.submit'|trans({}, 'UserBundle') }}</button>
        </form>
     </div>
</div>
</div>
{%endblock%}
