{% block sistema_facturacionbundle_anticipoventa_widget %}

    {% form_theme form 'SistemaFACTURACIONBundle:widget:form_fields_recibo.html.twig' %}


    <div class="well">
        <div class="row">
            {{ form_row(form.numero) }}
            {{ form_row(form.fecha) }}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.descripcion) }}
            </div>
        </div>
        </br>
        <div class="row">
            {{ form_row(form.formaPago) }}    
        </div>
    </div>
    <div class="well">
        <div class="row">
            {{ form_row(form.orden) }}
        </div>
        <div class="row">
            {{ form_row(form.anulado) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="well">
                <div class="row" id="mostrarinfor"></div>
                <div class="row">
                    <legend class="text-center">Asientos</legend>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div>
                            <table class="table table-striped table-bordered table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Cuenta</th>
                                        <th>Debe</th>
                                        <th>Haber</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asiento in form.asientos %}
                                        {{ form_widget(asiento.fecha, { 'attr': {'class': 'hide'} }) }}
                                        <tr class='rowremove'>
                                            <div class='row'>
                                                <div class='form-group'>
                                                    <td>{{ form_widget(asiento.cuenta, {'attr': {'class': 'form-group'}}) }}</td>
                                                    <td>{{ form_widget(asiento.debe) }}</td>
                                                    <td>{{ form_widget(asiento.haber) }}</td>
                                                </div>
                                            </div>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
