{% block sistema_facturacionbundle_asiento_widget %}

    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}

    
    <br>
    <div class="well">
        <div class="row">
            {{ form_label(form.fecha) }}
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_widget(form.fecha) }}
                {{ form_errors(form.fecha) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                {{ form_row(form.cuenta) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.debe) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.haber) }}
            </div>
        </div>
    </div>
{% endblock %}