{% macro prototipoAsiento(entity) %}
    {#% set tipo= entity.tipo.vars.value %#}
    {% set DEBE = 0 %}
    {% set HABER = 1 %}
    {#{ form_widget(entity.tipo) }#}
    <tr class='rowremove'>
    <div class='row'>
        <div class='form-group'>
            <td>{{ form_widget(entity.cuenta) }}</td>
            <td>{{ form_widget(entity.debe) }}</td>
            <td>{{ form_widget(entity.haber) }}</td>
        </div>
    </div>
</tr>
{% endmacro %}